[2022-11-03 10:09] aheckler opened #5047 "Warning modal when deactivating Subscriptions extension not working"
### Describe the bug

In [#3061](https://github.com/Automattic/woocommerce-payments/pull/3061), @james-allan introduced a modal warning which should appear when WC Pay and the standalone Subscriptions extension are both installed, and Subscriptions is then deactivated by the merchant.

The JS that triggers the modal warning is broken though, which means it's not getting triggered now.

### To Repr

[2022-11-03 10:11] jbordonado opened #5048 "[Release automation] Use the exact patch versions of L-2 in the wcpay:bump-versions command"
### Description
A custom command for WooCommerce Payments was introduced in [woorelease-extensions](https://github.com/woocommerce/woorelease-extensions): `wcpay:bump-versions`.

This command takes a new WC version and a new WP version (at least one of the two), determines the L-2 versions and updates those in every file using them.

It has one limitation currently: the patch version is hardcoded

[2022-11-03 10:25] theabhig commented on #2713
Just noting merchant in 5677052-zen also affected by this

[2022-11-03 10:54] timur27 commented on #4907
Thanks for creating the issue, @FangedParakeet! 🚀
Are we talking about e2e tests failing ([1](https://github.com/Automattic/woocommerce-payments/actions/runs/3242683626/jobs/5316304675), [2](https://github.com/Automattic/woocommerce-payments/actions/runs/3242683626/jobs/5316305260), [3](https://github.com/Automattic/woocommerce-payments/actions/runs/3242683626/jobs/5316305120), [4](https://github.

[2022-11-03 11:33] #5042 closed, assigned to nobody

[2022-11-03 13:17] eduardoumpierre commented on #4772
I'm currently checking the FingerprintJS custom subdomain setup viability with Systems. pMz3w-ghK-p2

[2022-11-03 14:02] #4812 closed, assigned to oaratovskyi

[2022-11-03 14:35] #4980 closed, assigned to dmallory42

[2022-11-03 15:31] jbordonado commented on #4796
Opened two PRs:
- woorelease: https://github.com/woocommerce/woorelease/pull/409
- woorelease-extensions: https://github.com/woocommerce/woorelease-extensions/pull/14

This task can be closed once they are both merged.

[2022-11-03 17:08] FangedParakeet commented on #4907
I'm actually quite pleasantly surprised that we haven't broken any unit tests! Pontificating more on this perplexion, perhaps that isn't so perplexing after all, since we aren't really changing the payments flow and we do have passable payment method test coverage already that remains mostly unaffected.

In that case, the baleful gaze of this issue revolves towards the shadowy realm of the E2E tes

[2022-11-03 18:46] #4942 closed, assigned to allie500

[2022-11-03 20:31] Brianmitchtay commented on #4547
Seeing this issue come up again in 5672639-zd-woothemes, no clear indication for what is causing these subscriptions to change their status to `Collection paused`. There's nothing in the subscription notes that indicate anything. But the API calls setting the subscriptions to `pause collection` are the same as mentioned above.

In the time that I have been looking at the ticket and trying to wrap

[2022-11-03 20:51] mdmoore commented on #4907
I think we have @harriswong to thank for [fixing up the unit tests](https://github.com/Automattic/woocommerce-payments/pull/3968/commits/c02dd9af32070ec2a25825fd002f157fad791d6a) a couple of months ago. Glad to see they're still in good shape.

[2022-11-04 00:50] csmcneill commented on #4547
Here's how we're currently handling this:

1. WooCommerce Happiness Engineers can re-enable payment collection for affected merchants if they want to continue using WCPay. Alternatively, they can move to WC Subs, but they will have to follow [this guide](https://woocommerce.com/document/payments/subscriptions/upgrading-to-subscriptions/#all-subscriptions).
2. To recoup fees for the missed payment,

[2022-11-04 04:57] aprea commented on #4696
I have reopened and moved this issue back to "to do" as we are reverting the original PR here → https://github.com/Automattic/woocommerce-payments/pull/5050

[2022-11-04 05:51] #5033 closed, assigned to brucealdridge

[2022-11-04 06:33] Tycho3 commented on #5018
Making DOB compulsory isn't an option in health and medical. It's part of OUR authentication process. How could this be overlooked. Anyway, thanks for opening the thread, let's hope it get's read.

[2022-11-04 06:50] anu-rock opened #5051 "[Authorizations] Hide the Uncaptured tab when manual capture setting is unchecked"
### Description

The "Uncaptured" tab on the page **WP Admin** → **Payments** → **Transactions** should not be visible if manual capture is not enabled in Payments settings.

![image](https://user-images.githubusercontent.com/1288616/199909220-7b882d28-5508-4426-af92-b8fe312dcb4a.png)

### Acceptance criteria

* `manual_capture` setting controls the visibility of Uncaptured tab

### Dev notes

###

[2022-11-04 07:06] kalessil commented on #5051
ping @mgascam

[2022-11-04 08:20] kalessil commented on #4568
@mgascam @elazzabi, do we have a PR (perhaps a draft) for this issue yet?

[2022-11-04 08:29] elazzabi commented on #4568
@kalessil the Tracks work needed to be done in 3 different places, and thus 3 different PRs. Given we didn't have the time to wait for merging and then start working on these events afterward, we decided to push the work to each PR individually. Here's a summary:

- New Capture charge button click events on the Payments > Transaction details screen ( `payments_transactions_details_capture_charge_b

[2022-11-04 08:30] #4824 closed, assigned to jbordonado

[2022-11-04 08:49] kalessil commented on #4568
Gotcha, then I believe we can close the issue.

Also, please actualize `https://github.com/Automattic/woocommerce-payments-server/blob/trunk/docs/Authorizations.md` to mention the tracks we introduced (in the same PR will be fine).

[2022-11-04 08:49] #4568 closed

[2022-11-04 09:07] jbordonado commented on #4946
Closing this, fixed by #5003

[2022-11-04 09:09] #4946 closed, assigned to nobody

[2022-11-04 09:11] jbordonado commented on #4799
Food for thoughts regarding releasing beta versions without bumping the stable tag: p1667407908157659/1667311794.884079-slack-C01BPL3ALGP

[2022-11-04 09:33] #4503 closed

[2022-11-04 13:09] #4569 closed

[2022-11-04 13:30] zmaglica opened #5056 "WCPay Platform: Base API request class"
### Description
Create a base API request class that will be used as a foundation for other API requests. The main purpose is to create classes and features that will be extended or used when API requests are executed to WcPay server. All requests need to be created like a builder where you could easily build a request using methods and these methods will validate data that is passed.

For example

[2022-11-04 13:42] zmaglica opened #5057 "WCPay Platform: Base API request Intentation and Charge request"
### Description
Add Intentation and Charge endpoints using WcPay Request class.

### Acceptance criteria
Before you start with issue, make sure to check this [issue](https://github.com/Automattic/woocommerce-payments/issues/5056) before. When this issue is merged, use the new classes that were added by this issue and create `Intentation` and `charge` requests using the base classes as foundations.

[2022-11-04 13:47] zmaglica opened #5058 "WCPay Platform: Base API request Dispute and Transaction request"
### Description
Add Dispute and Transaction endpoints using WcPay Request class.

### Acceptance criteria
Before you start with issue, make sure to check this [issue](https://github.com/Automattic/woocommerce-payments/issues/5056) before. When this issue is merged, use the new classes that were added by this issue and create `Dispute` and `Dispute` requests using the base classes as foundations.

[2022-11-04 13:54] #4506 closed

[2022-11-04 16:41] #2814 closed

[2022-11-04 16:47] daquinons commented on #4415
We will be looking at this during the next sprint, thanks for the report and the triaging! @shendy-a8c @jessy-p

[2022-11-04 17:57] daquinons commented on #1033
Seems like after a conversation the best approach for this is to modify the way that we redirect from WP.com to Stripe. Right now it's using PHP and HTTP header, which is not stored in the browser history and clicking on "Returning to your site..." in Stripe redirects again to the KYC in Stripe.

[2022-11-04 18:02] daquinons commented on #666
According to this, it should already be possible to reonboard from dev to live. This issue is about testing that case, and if it's working without any additional change, to modify [the doc](https://docs.woocommerce.com/document/payments/testing/dev-mode/) to make this possibility explicit in them with the help of Payments Ops

[2022-11-05 08:58] marklifeboxfood commented on #3742
Hi Team, as an alternative could you please suggest if there is a way to hide the Express Payment options if a certain product type is in the cart / product page? In this case, a Synchronised Subscription product. It would be great to be able to show the button for all the other products on our site, but not show for these products. Right now we have to disable it globally and that's costing us co

[2022-11-05 20:36] elizaan36 commented on #4724
hey @gpressutto5 Good thinking here.

It would be quite confusing for merchants to see two almost identical tasks about additional payment methods after they enabled WC Payments. We should use the existing "Set up additional payment options" task for the UPE/local payment methods in addition to the payment methods in the marketplace. Merchants don't think of these differently so we should try to s

[2022-11-06 13:11] WildPress commented on #3742
Hey @marklifeboxfood this was my workaround to disable it temporarily on the checkout page. I'm sure it can be extended to the cart and product pages with the appropriate filters. Hope it helps!

[code]

[2022-11-06 17:12] marklifeboxfood commented on #3742
Thank you so much for your suggestion, very kind of you to help me out. It worked a charm with product ID's and did I similar for the product pages.

`add_filter( 'wc_stripe_hide_payment_request_on_product_page', function( $hide, $post ) {
    if ( $post->ID === 259133  ) { // Change this to the Product ID that you want to hide
        return true;
    }
    return $hide;
}, 10, 2 );`

It's a pity

[2022-11-07 10:51] WildPress commented on #3742
Nice, glad to hear it! Glad you like the Society website too.

I had a look through the changelog and it appears that these functions may have been deprecated, in favour of the buttons on the settings page. So I guess they aren't meant to be used and may be removed in a future release.

`* Tweak - Deprecated the 'wc_stripe_hide_payment_request_on_product_page', 'wc_stripe_show_payment_request_on_c

[2022-11-07 11:34] timur27 commented on #4907
@FangedParakeet https://github.com/Automattic/woocommerce-payments/pull/5043 issue, which covers failing compatibility tests was fixed by https://github.com/Automattic/woocommerce-payments/pull/5049, so we shouldn't face any failing tests (except those caused by the split UPE) and thus there shouldn't be any blockers down the road. Thanks for keeping the finger on the pulse here!

[2022-11-07 11:54] mgascam opened #5061 "[Authorizations][Payment details] Avoid fetching authorization data when payment intent is not set to manual capture"
### Describe the bug

After we merged this [PR](https://github.com/Automattic/woocommerce-payments/pull/5006), we will display a notice in the Payment details page to inform the user when the payment needs to be captured. This is a feature behind a feature flag.
The problem is we are not checking if the payment is marked to be manually captured before fetching the authorization data. This request

[2022-11-07 14:40] timur27 commented on #4723
Whoever works on this might be interested in [this P2 post](https://wcpay.wordpress.com/2022/11/04/fraud-risk-tools-exploration-of-server-side-rules-with-split-authorization-and-capture/).

[2022-11-07 16:40] shendy-a8c commented on #4415
Worth mentioning here that I posted on Slack p1652877626205709-slack-CGGCLBN58 and got some feedbacks:
- Likely it's only happening on dev mode.
- If webhook works, ie local store is reachable from WCPay server (local or live, depending on how the local dev environment is set up), the status should clear once Stripe clears it.
- Dev can use [account data that immediately validates](https://stripe.

[2022-11-07 17:22] rogermattic commented on #989
@daquinons @brandonwanA8C  I'd propose closing this ticket since we have a task on the Home Task list, that basically serves the same purpose.

<img width="881" alt="Screenshot 2022-11-07 at 18 15 37" src="https://user-images.githubusercontent.com/94967682/200373227-71f1891a-0d2a-4c24-80e8-401476c4b26d.png">

If anything, we could consider highlighting the payments task if not completed after a fe

[2022-11-07 22:13] jonoalderson commented on #4861
Seconded, this is a pain. Really don't want/need this to be loading on all of my pages.

[2022-11-07 22:35] shendy-a8c opened #5063 "Use consistent timezone in jest"
### Describe the bug

Currently we use EST as `TZ` ([ref](https://github.com/Automattic/woocommerce-payments/blob/b33be3a518c3a3f4f5ce863deffa5bb7e914b675/tests/js/jest-global-setup.js#L4)). EST timezone has daylight saving time. This causes GitHub check to fail when there is daylight saving time change.

For example on Nov 6th, 2022, without any code change, GitHub checks that were green (can be

[2022-11-07 23:08] brandonwanA8C commented on #989
@rogermattic @daquinons
based on my understanding, I agree with Magda's PoV - the "inbox notification" should capture ALL potential tasks the merchant needs to complete, not specific to Payments.
@rogermattic in your screenshot example above, the user has "5 inbox notifications", do you know if the notifications have any instructions on "what's the next best-possible task Woo recommends - out of t

[2022-11-08 00:03] brandonwanA8C commented on #666
I don't have or know the original "requirement for Dev Mode".
But from a Product's perspective, the "Dev Mode" use-case is to allow a user (eg. Builder) to TEST the end-to-end Store to Payments experience without having to use Real KYC info or Real money.

[2022-11-08 01:29] frosso commented on #4723
@FangedParakeet @mdmoore @timur27 any concerns on setting the final estimate to "3"?
@timur27 if you're ok with that vote, feel free to change your estimate to 3.
@FangedParakeet @mdmoore if you'd like to change your estimate to a lower value, feel free to do so!

[2022-11-08 04:05] nagpai commented on #4968
From what I see in [the documentation](p1667878267114779/1667877001.033109-slack-C02C00HCJ8J), ( and even as a commonly expected behavior ), the button should appear grayed if the balance is zero or negative.

[2022-11-08 04:45] nagpai commented on #5047
I am unable to replicate the bug, and see the modal correctly

![image](https://user-images.githubusercontent.com/4162931/200477049-4baf775d-f5de-4974-9253-99d6b20c14fa.png)

The [ID of the `Deactivate` link](https://github.com/Automattic/woocommerce-payments/commit/b94323e9b5f5b22144db579b812fd701d9b27797#diff-bbcb91becd2b5c1093d379f1224a9af0df4a7a106d6816d635a1d5fbe7d5a685R6),  seems to be`deact

[2022-11-08 04:46] #5061 closed, assigned to nobody

[2022-11-08 04:48] james-allan commented on #5047
If you're seeing that deactivate button ID then you might have a version of subscriptions where the file isn't just `woocommerce-subscriptions`. 🤔

[2022-11-08 05:59] nagpai commented on #4968
I was able to replicate the issue partially ( account showing zero Instant Deposit balance ), thanks to guidance from @shendy-a8c !  Observations:

* The instant deposit button seems to show up, despite available deposit balance shown as zero.
* The modal popup seems to show the amount of only the first transaction that is pending to be paid, and hence shows a smaller amount. ( check attached scre

[2022-11-08 06:34] anu-rock commented on #4968
@nagpai This is useful information, thanks! The issue is, at least, out of the mystical realm now.

[2022-11-08 07:41] kalessil commented on #5047
@james-allan, in your opinion, could @nagpai tackle it (you probably have to share more context) or it'd be better if Helix takes care of the issue?

[2022-11-08 08:32] #4504 closed

[2022-11-08 09:04] aheckler commented on #5047
Interesting finding @nagpai @james-allan @kalessil: I cannot reproduce the issue on Jurassic Ninja, but I *can* repro on Pressable. The "Deactivate" link IDs are different, even though I installed Subscriptions on both sites using the same ZIP file downloaded from WooCommerce.com.

On JN, the ID is `deactivate-woocommerce-subscriptions`, and the modal is properly triggered. On Pressable, the ID is

[2022-11-08 09:16] aheckler commented on #5047
Actually, shoot, after more testing I cannot reproduce on new Pressable sites, only my existing one... 🤷‍♂️ Sorry to bother y'all with this I guess. :(

Still, it would be nice to change the copy in the modal to:

[2022-11-08 09:22] jessy-p commented on #3998
Closing in favor of https://github.com/Automattic/woocommerce-payments/issues/4858

[2022-11-08 09:22] #3998 closed

[2022-11-08 09:32] nagpai commented on #4968
@anu-rock - Thanks! I was wanting to test this further by checking what is the output of Stripe API, via Postman, but I am unable to get my hands on the secret keys of my connected account in the test instance. :(.

[2022-11-08 09:56] jbordonado commented on #4825
I have created 2 new pages for the new release process.

Once the 5.0.0 version is deployed tomorrow, I will:
- Rename the old pages with `xxx (OLD)` and update the permalink to `xxx-old`
- Rename the new pages to remove the `- NEW` part and update the permalink to point to the old permalink (so no links are broken if the pages were linked from somewhere else)
- Make the new FG page the parent for

[2022-11-08 10:18] daquinons commented on #4489
@shendy-a8c Should we close this after #4707 is merged, or is this about a different flag?

[2022-11-08 10:28] daquinons opened #5069 ""Update business details" task card needs more details and context"
### Describe the bug
Currently, we are showing the "Update business details" when the account is going to be restricted soon, and we redirect the users to the Stripe dashboard. This can be frustrating as we are not telling them what they need to change or why. See feedback p1666364090349799-slack-C01BPL3ALGP

We should be using:
- [requirements.errors.reason](https://stripe.com/docs/api/accounts/o

[2022-11-08 10:49] daquinons commented on #989
Thank you! Closing the issue then for now, in case you need to discuss, you can continue here and if there is any action to be done, create a new one 🙏

[2022-11-08 10:49] #989 closed

[2022-11-08 12:49] eduardoumpierre commented on #4772
I'll create a P2 post about the security concerns from the Systems thread so we can discuss and determine what would be the best approach/domain to work with.

A draft PR for the client part [Implement FingerprintJS to the checkout page](https://github.com/Automattic/woocommerce-payments/pull/5071) was created.

The server implementation will be detailed on its own PR and it will be linked here wh

[2022-11-08 13:14] tpaksu commented on #4772
Hey @eduardoumpierre, thanks for the detailed updates! One question, what do you think of preventing loading the Stripe elements form which is used for UPE, when the fingerprinting script is blocked somehow? I don't know the feasibility on it, and it may lead to bad user experience, but if we have a way to do it seamlessly, it would be perfect. I think you already asked systems for a subdomain, wi

[2022-11-08 13:30] eduardoumpierre commented on #4772
That's a great point @tpaksu. I think the main issue is that ad blockers rely on lists such as [EasyList](https://easylist.to/easylist/easylist.txt), [EasyPrivacy](https://easylist.to/easylist/easyprivacy.txt), etc (more on [uBlock](https://github.com/gorhill/uBlock)), so I'm not sure about the user experience as it could potentially block legit users if ad blockers update their lists.

We could d

[2022-11-08 14:50] gglobalstep opened #5073 "[GlobalStep] "RangeError: Invalid interval" error displayed after filtering with operator "Between" of Dater filter on 'Payments > Transactions' page."
### Bug Description:
"RangeError: Invalid interval" error displayed after filtering with operator "Between" of Dater filter on 'Payments > Transactions' page.

### Environment:
Woocommerce Version: WooCommerce 7.0.1
WooCommerce  WooCommerce Payments - 5.0.0 test-3
WordPress version: v6.1

PC:
Windows 10
Chrome(Version 107.0.5304.88)
Firefox(Version 106.0.3)

### Steps To Reproduce:
1. Create any t

[2022-11-08 14:55] gglobalstep opened #5074 "[GlobalStep] "Search currencies" box is cropped in "Add enabled currencies" modal box on "WooCommerce > Settings > Multi-Currency" tab."
### Bug Description:
"Search currencies" box is cropped in "Add enabled currencies" modal box on "WooCommerce > Settings > Multi-Currency" tab.

### Environment:
Woocommerce Version: WooCommerce 7.0.1
WooCommerce  WooCommerce Payments - 5.0.0 test-3
WordPress version: v6.1

PC:
Windows 10
Chrome(Version 107.0.5304.88)
Firefox(Version 106.0.3)

### Steps To Reproduce:
1. Create any test site using

[2022-11-08 16:01] dechov opened #5075 "Allow all payment methods when "manual capture" is enabled"
Currently, payment methods that don't support deferred capture **do not appear** when "manual capture" setting is enabled (and we are communicating this to the merchant, see https://github.com/Automattic/woocommerce-payments/issues/3567). Instead, we could modify the intent to only apply the manual capture method to the specific payment methods that support it, and not affect the others.

From @jb

[2022-11-08 17:02] nagpai commented on #5047
No bother at all, Adam! It made me more familiar with the code.  :)

@kalessil - For the copy changes suggested by Adam, from whom do we get an okay/ review  before adding the changes?

[2022-11-08 17:12] jessepearson commented on #5074
If the top margin is dropped to -16px on the linked line, it should fix this:
https://github.com/Automattic/woocommerce-payments/blob/a9435b04d4e00391a0309df1f6483f6fc344ef34/client/multi-currency/multi-currency-settings/enabled-currencies-list/style.scss#L185

[2022-11-08 21:23] FangedParakeet commented on #4723
I'd consider this one day's investigation, one day's explanation of findings, and one day allowing for some unforseen surprises along the way. I wouldn't expect anything too scary to rear its head during this task, since I don't think we're fundamentally changing the UPE payment flow (yet), but the radius of vulnerability described by this somewhat broad issue could cover many different areas of W

[2022-11-08 21:33] timur27 commented on #4723
Looking at the capacity planner now I agree, that it can be 3 and I agree with your argumentation. Let's proceed with three story points. Thanks! 👍

[2022-11-08 23:11] elizaan36 commented on #5069
Thanks @daquinons for creating the issue!

A couple questions:
- Do you think the message will be clear enough for the merchant to know what to do when the task directs them to the Stripe dashboard?
- Is there logic to make sure the task will be completed for every scenario once they update the information correctly?

As Eric mentioned in Slack, it would be great to see what the error messages loo

[2022-11-09 09:11] #4603 closed

[2022-11-09 11:44] dmallory42 commented on #4536
Just adding some more notes/context based on the latest discussions on Slack.

- It was decided that for the second case (where a user is open to installing it another time), sending one inbox note after 30 days would be sufficient.

I will also update with the copy, once that is provided.

[2022-11-09 11:56] kalessil commented on #5075
@mgascam: there are more Auth&Capture capable payment methods, can you please track the issue for the phase 2 project?

Context: p1667602754775889-slack-CGGCLBN58

[2022-11-09 12:01] daquinons commented on #5069
@elizaan36

Yes! Seems like they are very user-friendly and not the typical "Error: Info Changed" that an API would give, so I'd say they are precisely given for this use case. I'm going to add into the scope some verification and testing to decide if we use `reason` or `suggestion`, in order to display one or another in the subtext of the task following your mockup.

Yes, all the verification pen

[2022-11-09 12:44] rogermattic commented on #989
@daquinons @brandonwanA8C  I've taken this thread out of Github, to Slack so that we don't need to discuss anything more here:)

[2022-11-09 12:45] aheckler opened #5083 ""Learn more" link for Express Checkouts is wrong"
### Describe the bug

This link:

![Screenshot taken on 2022-11-09 at 12 44 13 UTC@2x](https://user-images.githubusercontent.com/5512652/200833583-828e2cb8-cb7a-4f1a-a965-ab09b9c5f612.png)

... should go here: `https://woocommerce.com/document/payments/settings-guide/#section-4`

It currently points to `https://woocommerce.com/document/payments/#section-13`, which was likely correct at the time th

[2022-11-09 14:39] kalessil commented on #5083
@nagpai, this looks like an easy fix. Can you create a PR tomorrow, please to get this fixed? Thanks!

[2022-11-09 14:41] jbordonado commented on #4825
The [release doc](https://wcpay.wordpress.com/dev-resources/release-train-model/) and [FG](https://fieldguide.automattic.com/developing-woocommerce-payments/client-deployment/) pages now point to the new version of the release process.
The URL for the old pages are now `xxx-old`, and there is still a link to the old version shown in the new pages, just in case.

[2022-11-09 14:41] #4825 closed, assigned to jbordonado

[2022-11-09 14:51] kalessil commented on #5047
@nagpai, at least from @aheckler 's team =) IMO we are good to update the copy (also for context Adam often updates WCpay public docs).

[2022-11-09 16:21] mgascam commented on #4504
We could not implement the counter on the Transactions tab because the TabPanel component does not support passing an icon. More info in thread: paJDYF-4N1-p2#comment-14924

[2022-11-09 17:43] elizaan36 commented on #4724
@gpressutto5 Here's an option to use the existing "Set up additional payments" task.

What if we added in a section for "Local payment methods" to the existing task screen?
<img width="736" alt="Screen Shot 2022-11-09 at 11 35 43 AM" src="https://user-images.githubusercontent.com/5121465/200901527-93280561-4b61-46d3-a9a0-6b294c5c337c.png">

The link to "Get started" would launch the vertical stepp

[2022-11-09 17:45] elizaan36 commented on #4724
Now that I'm looking at the vertical stepper again, we'll need to remove the Credit card/debit card option since this is no longer the UPE package.

[2022-11-09 17:52] elizaan36 commented on #5069
Thanks all sounds good.

Good call about the translators, is there any way to translate an API response before it gets shown in the UI?

[2022-11-09 19:48] eduardoumpierre commented on #4772
As discussed on p1667920761330599/1667917180.793909-slack-C01B8KNUYSW, we are changing our approach for this specific issue.

We are planning to use FingerprintJS (open source) and server-side signals to detect bad actors, which wouldn't require any custom subdomain setup and is less likely to be affected by ad blockers.

The changes will be done directly in the open PR, and this issue will be upd

[2022-11-09 20:39] mgascam opened #5089 "[Authorizations] Add count of pending authorizations to Uncaptured tab"
### Description

Add the number of pending authorizations to the Uncaptured tab in Transactions page.

Originally we planned to add a badge icon, but the TabPanel component does not support it.
As an interim solution we decided to display the count of pending authorizations between parenthesis. More details in this [thread](paJDYF-4N1-p2#comment-14924).

### Acceptance criteria

* Number of pendin

[2022-11-09 20:40] haszari opened #5090 "Warn merchant when deactivating WCPay plugin that WCPay Subscriptions will continue renewing (offboarding)"
### Description
WCPay Subscriptions use [Stripe Billing](https://stripe.com/docs/connect/subscriptions) to handle renewals.

This means that the WooCommerce site delegates the renewals to the WCPay back end (i.e. Stripe infrastructure). If a merchant disables WCPay on their site, they currently need to manually pause or migrate subscriptions to prevent them from continuing to renew (charge the cus

[2022-11-09 20:52] haszari commented on #5090
Here are two options we could implement:

- Light: Show a warning message when WCPay plugin is deactivated, similar to the existing warning modal used by WC Subscriptions extension.

![screen-shot-2022-11-02-at-1 44 03-pm](https://user-images.githubusercontent.com/4167300/200939143-74630c44-1bb6-4aae-a848-7f26a5009d80.jpeg)

- Heavy: Use webhooks or similar tech to confirm the site is active befor

[2022-11-10 10:08] tpaksu opened #5093 "Card testing prevention breaks blocks checkout"
### Describe the bug
While I was testing #4782 on blocks checkout, I realized that the hidden input which holds the `wcpay-fraud-prevention-token` was not appended, causing the checkout fail with 402 (Payment required) status.

[code]

### To Reproduce
1. Go to the server database, set `card_testing_prevention_enabled` in `wcpay_account_meta` table for the account currently in use.
2. Go to WCPay

[2022-11-10 10:32] RadoslavGeorgiev opened #5096 "Non-admin users cannot access the dashboard"
### Describe the bug

Users without the `manage_woocommerce` capability are facing fatal errors when trying to access WP Admin:

[code]

This is caused by this line:

https://github.com/Automattic/woocommerce-payments/blob/055775044ca09aaa3e1cf85f44b183c33dc75535/includes/class-wc-payments-account.php#L572

it tries to access `WC_Payments_Admin_Settings`, but the class is not present, because of a

[2022-11-10 11:42] #4614 closed

[2022-11-10 12:20] amElnagdy commented on #5096
5700343-zen

[2022-11-10 12:51] #5074 closed, assigned to jessepearson

[2022-11-10 13:17] thisissandip commented on #5096
Linking more reports:

- 5699844-zen
- 5698411-zen
- https://wordpress.org/support/topic/wc_payments_admin_settings-not-found/
- https://wordpress.org/support/topic/there-was-a-problem-redirecting-you-to-the-account-connection-page-2/

[2022-11-10 15:03] shendy-a8c commented on #5096
Why isn't this issue closed as https://github.com/Automattic/woocommerce-payments/pull/5098 got merged?
Closing...

[2022-11-10 15:03] #5096 closed, assigned to shendy-a8c

[2022-11-10 15:09] leonardola opened #5101 "Add E2E tests to catch errors that happen when non-admin users log to wp-admin"
We need to add E2E tests to prevent errors like #5096 from happening again.

Test case:
- Create non-admin user (Eg: editor)
- Log to wp-admin
- Make sure no errors show up

[2022-11-10 15:24] #5051 closed, assigned to elazzabi

[2022-11-10 18:16] #5089 closed, assigned to mgascam

[2022-11-10 19:16] haszari commented on #5090
Ideally this modal would only be shown for merchants that have active subscriptions.

[2022-11-10 21:46] james-allan opened #5102 "Customers should be able to migrate from x gateway to WCPay subscriptions via a manual renewal"
### Describe the bug

If a store switches from using WC Stripe + WC Subscriptions to WCPay Subscriptions subscription go to manual renewal mode. When the subscription eventually renews manually, the customer should be able to log into their account, pay for the renewal using WC Payments and that should transition them to WCPay Subscriptions.

This currently isn't the case.

### To Reproduce

1. Se

[2022-11-10 22:08] haszari commented on #5102
Labelling as high priority as it's important for subscribers to be able to easily add payment and keep their subscription payment active. Based on @james-allan analysis this was introduced (a regression) so that also raises the priority.

[2022-11-11 05:26] nagpai commented on #4629
Writing my thoughts here to help troubleshoot. My understanding may be incomplete / incorrect and I will iterate :).

The issue seems to be linked to a [1.5 second delay](https://github.com/Automattic/woocommerce-payments/blob/develop/client/components/payment-methods-list/payment-method.js#L64) added to the checkbox component, as a design requirement ( check linked P2 post ) . In a few cases, Pay

[2022-11-11 06:40] nagpai commented on #5047
:blushing and facepalm simultaneous:  - Sorry @aheckler!

Will submit a PR in a moment :)

[2022-11-11 07:48] EjayhanFernandes commented on #2814
5701351-zd-woothemes

[2022-11-11 09:21] kaushikasomaiya commented on #4847
5687271-zen (Workaround worked.)
5701591-zen (Workaround worked.)
5703065-zen (Shared workaround.)

[2022-11-11 09:51] #5047 closed, assigned to nagpai

[2022-11-11 12:33] anu-rock commented on #4936
Note: The receipt preview functionality is not impacted since it doesn't include the logo.

[2022-11-11 12:54] dpaun1985 commented on #4926
fixed in #3304

[2022-11-11 12:54] #4926 closed, assigned to dpaun1985

[2022-11-11 13:03] #5093 closed, assigned to tpaksu

[2022-11-11 13:31] tpaksu commented on #4629
No need to check for any requirements for a LPM to lower the number, I believe it should stay as is, and if one checkbox is processing, others should be unclickable. What do you think? Maybe it'll be better to ask the design team.

[2022-11-11 17:31] timur27 opened #5109 "Stabilize POC branch for split UPE project after merging the latest changes from develop"
### Description
We have [the POC branch](https://github.com/Automattic/woocommerce-payments/pull/3968) for all the split UPE work, which is a long-lived feature branch and was not merged into the development yet.

Since the last merge (`develop` -> `poc`) took place a few weeks ago, and in the meantime, there were some significant changes introduced to the payment gateways management, it was decid

[2022-11-11 18:01] #4530 closed

[2022-11-11 19:27] leonardola opened #5110 "Customer does not get redirected to WooPay on firefox sometimes"
Sometimes firefox triggers the pageshow event before we add a listener to it. When that happens the [checks to automatically](https://github.com/Automattic/woocommerce-payments/blob/4ddc395b079548dba886cb1946ca69f1d2cb0df8/client/checkout/platform-checkout/email-input-iframe.js#L454-L486) redirect the customer do not run.

If the customer changes the email address it does not show the OTP modal be

[2022-11-11 19:29] mdmoore opened #5111 "Multiple UPE - Saved Payment Methods Compatibiltity in Blocks Checkout"
### Describe the bug
On the `poc/upe-instances-multiplied` branch, checking out and saving non-UPE(card) payment methods from blocks checkout currently fails with following error message:

`We're not able to process this request. Please refresh the page and try again.`

![image](https://user-images.githubusercontent.com/3473953/201412354-f267e8dc-7035-4031-99f0-291fbc754acb.png)

### To Reproduce:

[2022-11-11 19:43] leonardola opened #5113 "The redirect modal keeps showing up when customer clicks the back button in Safari"
### Describe the bug
When a customer goes to WooPay and then clicks the browser back button on safari the redirecting modal keeps showing up.

Fixing this might be tricky because apparently the javascript code does not run when clicking the back button in safari. Maybe we'll need to close the modal just before the redirect actually starts.

### To Reproduce
- Add a product to your cart and checkou

[2022-11-11 20:05] mdmoore opened #5114 "Multiple UPE - SEPA Payment Method Labels"
### Describe the bug
Under some condition(s), stored SEPA payment method labels are not appearing in all caps on the **My Account > Payment Methods** page. Instead, they're appearing as _Sepa iban_. The same is occuring in **Payment Options** section of blocks checkout.

<img src="https://camo.githubusercontent.com/f31acc22382119385d21b2e50b46fa5c5a5ec9c3fdecde90aab99bdfba79bb9c/68747470733a2f2f63

[2022-11-11 20:59] mdmoore opened #5115 "Multiple UPE - Handle WCPay Server API Errors when fetching payment methods"
### Describe the bug
An intermittent warning is occurring when fetching payment methods, such as on the **My Account > Payment Methods** or **Checkout** pages, or anywhere that saved payment methods might be displayed. When this happens, no payment methods are listed and the following is dumped on the page(along with a couple other warnings that cascade from this one):

`Warning: Illegal string of

[2022-11-11 22:08] mdmoore opened #5116 "Multiple UPE - Cannot add card payment method"
### Describe the bug
When adding a credit card as a payment method at **My Account > Add Payment Method**, the following error occurs:

`A WooCommerce Payments payment method was not provided`

The console sheds some light on what's gone wrong:

[code]

Since we'll now always use the legacy card gateway,  `'card'` is no longer included as a UPE payment method [here in the `payment_methods_config`]

[2022-11-11 23:00] mdmoore opened #5117 "Multiple UPE - Duplicate notices when saving SEPA methods"
### Describe the bug
When adding SEPA payment methods via **My Account > Payment Methods > Add Payment Method** success notices are duplicated several times.

<img src="https://user-images.githubusercontent.com/3473953/201438232-7229b820-e8da-46a0-83b7-a38e8a8ad49d.png" width="500" />

### To Reproduce

1. On the `poc/upe-instances-multiplied` branch, enable SEPA Direct Debit
2. Navigate to **My A

[2022-11-12 15:41] a-danae opened #5118 "WooPay scripts are loaded when the WCPay gateway isn't available"
### Describe the bug
When WCPay is excluded from the available payment methods, WooPay scripts are loaded on the checkout page even though they're not used.

### To Reproduce

1. Enable WooPay
2. Enable [Conditional Shipping and Payments](https://woocommerce.com/products/conditional-shipping-and-payments/)
3. Create a condition to disable WCPay on the checkout page
4. As a shopper, add a product t

[2022-11-12 16:29] #5083 closed, assigned to nagpai

[2022-11-13 14:48] rashedripon commented on #3841
5704970-zen

[2022-11-14 06:23] james-allan opened #5121 "Enable merchants to recover funds from missed WCPay subscription payments"
### Description

If a WCPay subscription renewal payment is missed because the subscription in Stripe was inexplicably paused, there is currently no simple way for merchants to recoup the missed payment.

With WC Subscriptions (extension), store managers can charge customers an off schedule renewal by going to the edit subscription screen and either request a pending (unpaid) renewal order or to p

[2022-11-14 07:59] jbordonado commented on #4796
Both PRs mentioned above are merged, which makes the new `woorelease wcpay:release` extension command available to deploy both to WP.org and WCCOM a zip file we will provide as input.

Deploying to WCCOM using a zip file means that we will:
- upload the zip file to the [WCCOM's Product Build Server](https://github.com/Automattic/wccom-product-build-server) (PBS)
- The PBS will take care of committ

[2022-11-14 07:59] #4796 closed, assigned to jbordonado

[2022-11-14 08:00] jbordonado commented on #4678
All tasks are closed as of today, so I'm closing this EPIC.

P2 post announcing the changes: https://wcpay.wordpress.com/2022/11/14/changes-coming-to-the-release-process/

[2022-11-14 08:00] #4678 closed, assigned to jbordonado

[2022-11-14 08:36] jbordonado opened #5122 "[Release automation] Use a common WPCOM account for releases"
### Description
The [wcpay:release](https://github.com/woocommerce/woorelease-extensions/blob/trunk/class-woocommerce-payments-release.php) command within the woorelease tool deploys both to WP.org and WCCOM.

To deploy to WCCOM, woorelease requires an API key in the config. That means each release lead for WCPay needs to have a WCCOM account set as a vendor and create an API key for himself.

We

[2022-11-14 09:38] dmallory42 commented on #4536
Copy is as follows:

The `Learn more here` should link to the Payments landing page.

[2022-11-14 13:07] shendy-a8c commented on #5063
Since using a UTC would require a lot of changes to the existing unit tests, I think we can just update the tests that I quickly patched in https://github.com/Automattic/woocommerce-payments/pull/5065 to either:
- Be daylight saving aware, or
- Set to use consistent timezone just for those test cases, or
- Generate the timezone string dynamically instead of using a hardcoded string as of currently

[2022-11-14 13:41] jbordonado commented on #2767
Quoting Marcin [here](https://wcpay.wordpress.com/2022/11/14/engineering-queue-review-november-2022/#comment-15083):

Moving this into prioritization, implementing a DI mechanism would be a nice step forward for the platform.

[2022-11-14 14:58] #5110 closed, assigned to leonardola

[2022-11-14 15:28] jbordonado opened #5126 "[Release automation] Workflow to amend a changelog"
### Description
The [code freeze workflow](https://github.com/Automattic/woocommerce-payments/blob/develop/.github/workflows/release-code-freeze.yml) takes care of preparing the release on Sunday Week 2:
- a release branch `release/x.y.z` is created, with a commit for the required changes (bump versions)
- a PR targeting trunk is created

In case we detect an issue, or we want to include a critica

[2022-11-14 15:43] mdmoore commented on #4722
@harriswong @Mayisha It appears the research on this was wrapped up and everything was working well. Just want to double check if we're good to close this?

[2022-11-14 15:55] mdmoore commented on #5111
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Heisenberg-63586f2ec60359001310fa6a/issues/Automattic/woocommerce-payments/5111?planning-poker) with Zenhub @FangedParakeet @timur27

[2022-11-14 15:57] mdmoore commented on #5117
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Heisenberg-63586f2ec60359001310fa6a/issues/Automattic/woocommerce-payments/5117?planning-poker) with Zenhub @FangedParakeet @timur27

[2022-11-14 15:59] mdmoore commented on #5116
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Heisenberg-63586f2ec60359001310fa6a/issues/Automattic/woocommerce-payments/5116?planning-poker) with Zenhub @FangedParakeet @timur27

[2022-11-14 16:00] mdmoore commented on #5115
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Heisenberg-63586f2ec60359001310fa6a/issues/Automattic/woocommerce-payments/5115?planning-poker) with Zenhub @FangedParakeet @timur27

[2022-11-14 16:01] mdmoore commented on #5114
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Heisenberg-63586f2ec60359001310fa6a/issues/Automattic/woocommerce-payments/5114?planning-poker) with Zenhub @FangedParakeet @timur27

[2022-11-14 16:10] harriswong commented on #4722
Yup! Thanks for checking. Closing the issue.

[2022-11-14 16:10] #4722 closed, assigned to Mayisha

[2022-11-14 17:40] shevene opened #5127 "Fraud Prevention Fatal Error on Failed Renewal Payments with Subscriptions"
### Describe the bug

When subscription renewal payments fail because of a fraudulent reason (blocked by customers bank), a fatal error is logged related to WooCommerce Payments Fraud Prevention:

[code]

Example declined reason given in Stripe:

<img width="321" alt="Screen Shot 2022-11-14 at 7 57 58 pm" src="https://user-images.githubusercontent.com/8490476/201775075-ff41f233-dd0e-450b-8477-f510

[2022-11-14 19:47] FangedParakeet commented on #5111
I optimistically expect this to not require large amends, but voted `3` simply because the cause of this error is not immediately obvious or necessarily known at all, so I rounded my estimate up slightly.

[2022-11-14 19:51] FangedParakeet commented on #5117
I might have a few theories here...

@mdmoore, does this occur when adding the same, standard SEPA testing account (`AT611904300234573201`) repeatedly or does this still occur if you try any of the other payment methods listed [here](https://stripe.com/docs/testing#non-card-payments)?

[2022-11-14 19:57] aheckler commented on #5102
I did some testing by simply commenting out the `return` in `WC_Payments_Subscription_Service::create_subscription()` like so:

![Screenshot taken on 2022-11-14 at 19 51 15 UTC@2x](https://user-images.githubusercontent.com/5512652/201752636-091a02f0-ff8a-4541-9056-e4087944cd27.png)

This worked for the use case of migrating from Stripe + Subscriptions to just WC Pay. But notably, it did **NOT** wo

[2022-11-14 20:04] timur27 opened #5128 "Test mode cannot be enabled on payment settings in the staging environment"
### Describe the bug
When accessing WooCommerce Payments settings (`https://woopaytestplatform.wordpress.com/`) in the staging environment and trying to turn on/turn off the Test mode, an error notice appears on the bottom left.

<img width="2195" alt="image" src="https://user-images.githubusercontent.com/22319444/201754170-20b90165-91c1-4f15-ba49-5166eea890b1.png">

From the console, we see CORS

[2022-11-14 20:24] mdmoore commented on #5117
@FangedParakeet Your theories are all welcome!

The same is occurring with other test accounts as well. I've checked with `AT321904300235473204` and `AT861904300235473202`. I'm getting 10 notices each time, regardless of the number of payment methods I have.

[2022-11-14 20:50] csmcneill commented on #3565
5707272-zen is reporting this issue.

- WCPay version: 5.0.1
- Multisite with subdirectories
- Store is under the `/books/` subdir but Apple Pay is trying to find the file at the host directory.
- A file _was_ created at the host directory—kind of. Instead of hosting it at `.well-known/apple-developer-merchantid-domain-association` it was hosted at `.well-known/apple-developer-merchantid-domain-as

[2022-11-14 21:12] ricardo commented on #3565
The [PR](https://github.com/Automattic/woocommerce-payments/pull/4206) closing this issue fixes which domain is passed on to Apple. It previously sent the URL with a subfolder, but now sends the root domain URL for verification.

It doesn't fix _where_ the domain association file is hosted. If it's a subfolder installation, it may not be possible to automatically host it in the root of the domain,

[2022-11-14 22:44] darcie commented on #2730
5710936-zen

[2022-11-15 00:32] Brianmitchtay opened #5129 "Large transaction exports sent via email use the `Order_id` value in the `Order #` field, causing discrepancies for users with sequential order plugins"
### Describe the bug

When a transaction export is emailed to a user, the `Order #` column is populated with the `Order_id` from the orders.

In most cases these numbers are the same and so there is no issue, however when a user is using a sequential orders plugin, or a different order numbering system, this causes the order numbers in their transaction export to not match the order numbers from t

[2022-11-15 01:37] bryceadams commented on #3257
This is truly needed for stores using WooCommerce Payments as their primary payment method, as otherwise there is no simple way for them to access the transaction cost of each order. Both the Stripe and PayPal payment gateways are storing this, so it would be fantastic if Woo Payments could do the same.

Storing it in the order post meta like Stripe/PayPal do would be perfect and provide some cons

[2022-11-15 06:32] james-allan opened #5131 "Purchasing a synced subscription with WCPay results in an unsynced subscription record in Stripe Billing"
## Describe the bug

While testing WC Payments Subscriptions with the syncing feature enabled, I discovered an issue where the Stripe Billing subscription wasn't being synced. After investigation, this was caused by the `WC_Payments_Subscription_Service::has_delayed_payment()` function being passed and older subscription object which didn't have the synced meta saved on it (happens during the chec

[2022-11-15 08:53] timur27 commented on #5109
Hey Team! @FangedParakeet @mdmoore. Please add your estimate in ZenHub.

[2022-11-15 09:31] kaushikasomaiya commented on #3841
The filter above works for me, I believe it might be taking some time to update the meta as pointed out by @dergab, deferring transactional emails show up correct method in Emails that are sent right after placing the order.

![img](https://d.pr/i/nvPZfr+)

[2022-11-15 09:33] jbordonado opened #5132 "Use a generic bot user for the post-release workflow"
### Description
One of the jobs in the [post-release-updates workflow](https://github.com/Automattic/woocommerce-payments/blob/3d9589d100d814af51c9aaaaa8e40db6edb502ae/.github/workflows/post-release-updates.yml#L75-L95) is to merge trunk into develop.
The `develop` is protected and we can only push changes through a PR with approval and required status checks.
It means that we are not currently ab

[2022-11-15 13:22] shendy-a8c commented on #5131
Weird that as https://github.com/Automattic/woocommerce-payments/pull/5133 got merged this issue wasn't closed. Closing...

[2022-11-15 13:22] #5131 closed, assigned to nobody

[2022-11-15 14:11] #5113 closed, assigned to leonardola

[2022-11-15 16:41] csmcneill commented on #3565
@ricardo I haven't been able to reproduce this (I spent some time using WCPay on multisites last week for a workshop), but I wanted to log the interaction here just in case other users have a similar issue down the line. It's very possible that the user tried to add this manually and messed things up 😅

**Edit**: The user was able to resolve this by relocating the file via SFTP.

[2022-11-15 16:54] csmcneill commented on #5127
Discussion about this can be found at p1668402895913569-slack-C7U3Y3VMY

[2022-11-16 00:29] alefesouza commented on #5073
After some hours debugging I've figured out that this bug occurs only on WordPress 6.1 due to the datepickers on WCPay (this bug also occur on other areas such as on Disputes pages) are sending an moment.js instance to the filters, that is not supported anymore due to the https://github.com/WordPress/gutenberg/pull/43005 update that was included on WP 6.1, I'm looking for a fix.

[2022-11-16 01:31] csmcneill commented on #4083
I encountered this issue again when testing an Apple Pay issue in 5713486-zen.

I could also reproduce the issue on `justfortestingwcpay.com` and another HE could reproduce the issue on `wooooooo.mystagingwebsite.com`, but another HE couldn't reproduce the issue on their site with a live account in test mode.

Further discussion in p1668561282349669-slack-C3NCP7ZJ6

Same console error:

[code]

Re

[2022-11-16 08:50] jbordonado commented on #5101
For now, a test was added to the critical flow: https://github.com/Automattic/woocommerce-payments/wiki/Testing-instructions-for-critical-flows#open-admin-area-as-non-admin

Ideally, an E2E test will cover that scenario.

[2022-11-16 08:55] jbordonado commented on #5102
@haszari Will Helix work on this?

[2022-11-16 10:17] jbordonado commented on #4966
Hi @senff,

I'm wondering if you had time to open a discussion on a P2. As explained above, this issue cannot move until we have a bit more clarity on it.

Thanks!

[2022-11-16 10:29] jbordonado commented on #4679
No news from Stripe since their last update.
Our HEs sent 2 messages (last one: 1 week ago) to check on this, but still no reply.

[2022-11-16 11:52] megamenu opened #5137 "Conflict with Max Mega Menu"
Max Mega Menu needs to load scripts from widgets.php onto the nav-menus.php page, this sometimes duplicates calls depending on how other plugins are coded. In this case, register_payment_scripts() is being called twice. Usually this is not a problem, but on line 431 of class-wc-payments-admin.php 'require_once' is being used. The first time, require_once correctly loads the dependencies array, but

[2022-11-16 12:56] jbordonado commented on #4931
Stripe asked us to send this request to their support through support@stripe.com

Ticket created: 5716455-zd-woothemes

[2022-11-16 15:09] timur27 commented on #5109
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Heisenberg-63586f2ec60359001310fa6a/issues/Automattic/woocommerce-payments/5109?planning-poker) with Zenhub @mdmoore @FangedParakeet

[2022-11-16 19:43] haszari commented on #5102
@jbordonado Yes - this is within our responsibilities, we'll consider it for upcoming sprints.

[2022-11-16 20:06] ericfri commented on #4847
5710627-zen

[2022-11-16 21:03] haszari commented on #5040
Closely related to:

- #5041

[2022-11-16 21:12] leonardola opened #5140 "Fail to checkout subscription product while logged out of the merchant store with WooPay"
We do not check if the customer has an account on the merchant site before redirecting them to WooPay. When the customer is buying a subscription, clicking the place order button make the message `An account is already registered with your email address. Please log in before proceeding.` shows up.

**How to simulate:**

- Create a new WooPay account by buying a product in the merchant site
- Log i

[2022-11-16 21:12] haszari commented on #4908
Next steps:
- Confirm how to reproduce.
- Based on reproduce steps, determine impact / rough idea of how many merchants might be impacted by this.
- Research spike to investigate possible fixes, tweak our use of `billing_cycle_anchor` and/or `trial_end` and/or `proration_behaviour`.

Marking this as low priority for now, based on the combination of trial period or synchronised subscriptions (?) an

[2022-11-16 21:16] tijosh opened #5141 "Dispute evidence: Duplicate disputes require duplicated payment charge_id which is not available"
### Describe the bug

Submitting evidence for a "Duplicate" dispute type requires [entering the charge ID](https://woocommerce.com/document/woocommerce-payments/fraud-and-disputes/managing-disputes-with-woocommerce-payments/#section-6) (ch_) for the other successful charge. However, that charge ID is not exposed in the order—rather, the pi_ is shown.

<img width="950" alt="image" src="https://user

[2022-11-16 21:17] haszari commented on #4714
Marking as low priority on the assumption that merchants are rarely approaching 40000 characters in description field.

[2022-11-16 21:59] geektzu commented on #5141
The reporting merchant also suggested that make the error message more human-readable. Instead of "Failed to submit evidence. xxxx does not exist pm_xxxxxxx".

Maybe something "The charge id could be wrong. It should starts with 'ch_'. Could you double-check the order details?"

[2022-11-16 22:07] haszari commented on #5102
A first step here would be to confirm that this was introduced in WCPay 5.0 – retest in WCPay 4.9 and confirm no bug.

[2022-11-16 22:45] c-shultz opened #5143 "WooPay: Special characters are not displayed correctly in WooPay hosted checkout preview"
### Describe the bug

Special characters are not displayed correctly in WooPay hosted checkout preview:

<img width="663" alt="image" src="https://user-images.githubusercontent.com/6209518/202310216-57b82a7c-66e9-4686-a7a8-432a701a87a3.png">
The site title is `"Shwag Bag"`

### To Reproduce

1.  Enable site for WooPay
2.  Add non-alphanumeric characters to site title
3. Go to wp-admin/admin.php?pa

[2022-11-16 23:56] FangedParakeet commented on #5109
I voted `1`, because I think you've basically wrapped this one up already, @timur27, no? 😅

[2022-11-17 02:26] csmcneill commented on #5141
I'm only seeing that `Failed to submit evidence.` is a part of the WCPay code: https://github.com/Automattic/woocommerce-payments/blob/8fcfff959c851d1b1ec5b46748962e48f3cde2cb/client/disputes/evidence/index.js#L653-L657

This might indicate that the remainder of the error is something controlled by Stripe.

[2022-11-17 02:43] FangedParakeet commented on #4672
I am closing this issue for now, since this has now been explored and thoroughly excavated [up here](https://github.com/automattic/woocommerce-payments/issues/4672#issuecomment-1266273803). With Stripe's new UPE integration on the horizon, it isn't yet clear or obvious that we would be eager to implement any of the solutions described above just yet; but they shall not be forgotten and will remain

[2022-11-17 02:43] #4672 closed, assigned to FangedParakeet

[2022-11-17 02:50] #5128 closed, assigned to nobody

[2022-11-17 02:51] ricardo commented on #5128
Closing with context: p1668457002912569/1668447363.797939-slack-C022WMN88KG

[2022-11-17 02:57] eduardoumpierre commented on #4772
The open-source version of FingerprintJS was implemented on [Implement FingerprintJS on the checkout page](https://github.com/Automattic/woocommerce-payments/pull/5071) for classic and block checkouts. It's currently in draft mode, but the PR's description and testing instructions will be filled in tomorrow so we can code review before the next week.

[2022-11-17 03:32] csmcneill commented on #4679
Reached out to Stripe here: p1668655948589889-slack-C9976E5MJ

[2022-11-17 03:38] csmcneill commented on #5031
I opened a duplicate issue in #4964 but it was closed due to the nature of how multi-currency works. @jessepearson said the following:

There are a couple of workarounds in [this comment](https://github.com/Automattic/woocommerce-payments/issues/4964#issuecomment-1294832456).

[2022-11-17 08:01] jbordonado commented on #5102
Thank you, I suspected but wasn't sure.

[2022-11-17 09:59] jbordonado commented on #5141
That's correct @csmcneill, the rest of the error comes from Stripe.

You can see what the error response looks like from Stripe in this particular case: [Stripe log](https://dashboard.stripe.com/acct_1M1Yk6FpMw8b2R71/logs?method%5B0%5D=post&method%5B1%5D=delete&direction%5B0%5D=self&direction%5B1%5D=connect_in&created%5Bpreset%5D=7D&showIP=false&success=false&starting_after=1668634278-req_yErKZzcs

[2022-11-17 10:14] jbordonado commented on #5141
~~On another hand, I just had a look and if you have a dispute and click on it, you have this screen:~~

![image](https://user-images.githubusercontent.com/28830738/202418958-20934932-c8f2-4c47-aea2-17e2ad31e566.png)

~~The charge ID is shown there.~~
~~In that case, I'm not sure I see the benefit of adding the charge ID to the order details screen too. The merchant only needs it when he wants to

[2022-11-17 11:41] jessepearson commented on #5031
I think there's a couple things that can be addressed in this issue:

* We can see if we can hide the widget itself if the page is the "pay for order" page. I thought we had done this in the past, but it may not have been done.
* We can make sure the automatic banner doesn't show on the "pay for order" page, as well.

If those two things are done, it would help at least reduce the confusion for bo

[2022-11-17 12:11] timur27 commented on #5109
You're absolutely right, @FangedParakeet! The purpose of this issue is to reflect the efforts from [here](https://github.com/Automattic/woocommerce-payments/pull/5082#event-7828361336). I agree that it might seem too late to estimate something already completed. However, due to the discovered complexity, it was decided to create this issue and reflect the complexity of that merge.

Based on our pr

[2022-11-17 13:24] dwainm commented on #1588
This was not supposed to be in the current sprint. I just moved it forward as it affects our reporting.

[2022-11-17 13:30] dwainm commented on #353
Since this is on-hold, I'm removing it from the sprints for now. Let's review this for the upcoming sprint planning.

[2022-11-17 13:32] LevinMedia opened #5150 "Non-decimal currency and XPF multi-currency bugs"
The Pacific Franc (XPF, a non decimal currency) has a number of bugs in both the currency management screen, and on the front end of the store.

**Currency management screen:**

- the currency preview is producing incorrect previews given my configurations for rounding rules and price charming.
- For the Pacific Franc (XPF) the currency symbol is incorrectly placed, and the wrong symbol.

<img wid

[2022-11-17 13:39] timur27 commented on #5117
Did a quick investigation - [this](https://github.com/Automattic/woocommerce-payments/blob/0731300c7f9a04e7f92f9a031c80f7e9589d8518/includes/payment-methods/class-upe-payment-gateway.php#L131-L133) hook's callback is being fired N times, where N = size of `$upe_payment_gateway_map` which depends of [the number of payment methods](https://github.com/Automattic/woocommerce-payments/blob/0731300c7f9a

[2022-11-17 14:09] timur27 commented on #5114
I was between `2` and `1` and went with `1` finally as it seems to be a straightforward change (probably another class field is provided for some pages or something similar), although we don't know the place yet and this made me think about `2` SP. When I now saw that majority voted for `2`, I was also okay with going in this direction since this estimate was taken into consideration by myself too

[2022-11-17 15:35] senff commented on #4966
@RadoslavGeorgiev @jbordonado Which P2 would be most suitable for this? I wouldn't think it's relevant for +woosupport since it doesn't really need a full-on discussion from HEs (as it is just an idea/suggestion)?

[2022-11-17 16:29] FangedParakeet commented on #5114
I thought it should be a simple fix, but rounded up my estimate, as there might not be consistent steps to reproduce this issue, since this was an issue that I always encountered, but that @mdmoore was unable to replicate. I thought adding a little buffer might be helpful, since there is some uncertainty involved. On the other side of the coin, maybe it's just all in my head/local environment and

[2022-11-17 16:42] jaxr commented on #4847
5720149-zen - shared workaround

[2022-11-17 18:12] FangedParakeet commented on #5109
Yeah, exactly! The purpose of popping out issues and purposefully pointing is predominantly to help our planning. That way anyone can look at the issues in the current sprint--or more broadly the epic as a whole--and estimate the amount of work that we still have ahead of us.

I think this issue was a great example of that, because it was a merge, but a task that required some considerable effort

[2022-11-17 18:22] FangedParakeet commented on #5117
Ooh, nice catch! Though, actually now that I look over that code a little closer, won't _all_ of those hooks be defined `N` times, since in the `has_action` check, `$this` will be different for each registered payment gateway? That seems unintended to me, if true.

This seems like a better long-term solution for now. @timur27, do you have any idea why this was unsuccessful when you attempted it  i

[2022-11-18 01:03] alefesouza commented on #5073
This problem needs to be fixed on WooCommerce itself because WCPay uses the `@woocommerce/components` `<ReportFilters />` component [here](https://github.com/Automattic/woocommerce-payments/blob/a4b8157439aa31cf2e8817f293b523d9cd178d07/client/transactions/filters/index.tsx#L49), that is pre-compiled in WooCommerce itself so we cannot change the WCPay webpack config to use an old version of it, thi

[2022-11-18 08:44] timur27 commented on #5109
From my perspective, I gave a `3` SP here to reflect all the efforts made within this task. Among others, there were:

- The merge itself with conflict resolving (I would give it a `0.5`SP if we would have such an estimate possible, but as we don't, I am giving it a `0`)
- Minor fixes without any logic change ([this](https://github.com/Automattic/woocommerce-payments/pull/5082/commits/bcb1196aa3ba

[2022-11-18 08:51] jbordonado commented on #4966
+wcpay seems like the right place for this

[2022-11-18 10:07] daquinons commented on #4846
Discussion p1668718914556339-slack-CGGCLBN58

[2022-11-18 10:34] ismaeldcom commented on #4811
Closed by https://github.com/Automattic/woocommerce-payments/pull/4826

[2022-11-18 10:34] #4811 closed, assigned to ismaeldcom

[2022-11-18 12:51] Priyanshu-Singh-veer commented on #5143
hy @c-shultz i want to work on this how can i start on this ?

[2022-11-18 16:39] FangedParakeet commented on #5109
So shall it be written, so shall it be done. 👍 Just locking it down, since Mike is AFK and now we can just close this one out again. Sorry for being so quick to judge the first time!

[2022-11-18 17:20] namiokuzono commented on #4847
5722358-zen

[2022-11-18 19:28] brettshumaker commented on #5118
Noting that, while working on another PR, I noticed that `platform-checkout.js` and `platform-checkout.css` are both loaded on all pages - not just checkout.

[2022-11-18 20:17] leonardola opened #5155 "Can't add new payment method in WooPay"
### Describe the bug
After the changes in #4638 it's not possible for a customer to add a new payment method in WooPay because the `save_user_in_platform_checkout` POST key is not set making WC Payments try to add a payment method to a user in the merchant account which does not exist.

The key `save_payment_method_in_platform_account` is available. I believe we ended up misreading the key name an

[2022-11-19 07:51] Priyanshu-Singh-veer commented on #5143
I'm Working on this.....!

[2022-11-19 12:48] zoupkat commented on #4846
Another report 5718733-zen

[2022-11-20 02:28] WillBrubaker commented on #4847
5725783-zen

[2022-11-21 04:45] eduardoumpierre commented on #4772
Both PRs are ready to be reviewed:
- Client PR - https://github.com/Automattic/woocommerce-payments/pull/5071
- Server PR - https://github.com/Automattic/woocommerce-payments-server/pull/2695

[2022-11-21 07:58] #4774 closed, assigned to tpaksu

[2022-11-21 08:06] #5109 closed, assigned to timur27

[2022-11-21 11:17] ghost opened #5160 "Woocommerce payments not working"
### Describe the bug
What should be happening with my WC payments settings is there should be a google/apple pay gateway, giropay etc with all of the gateways, instead what is showing is just the credit card gateway, which is the only gateway I have disabled, which is very strange.
This is caused by what I think errors in upe_checkout.js, which show up in console:

Uncaught TypeError: Cannot read

[2022-11-21 14:07] #5155 closed, assigned to leonardola

[2022-11-21 16:31] timur27 commented on #5117
Yes. Callback functions in PHP are uniquely hooked to the filter per class instance, which makes sense. I found that out today because of your question - many thanks for asking, as I learned something new today!

I worked with the class' static method only, and I _think_ now that it didn't work because instead of

[code]

OR
[code]

I passed the callback function like this:
[code]

The first two o

[2022-11-21 17:34] mdmoore commented on #5117
Thanks for all of the research @timur27! I'm fine with widening the scope of this issue to include moving all of the hooks. Given your research and experience with the issue so far, `2` sounds good to me as well. Please feel free to make any edits to the description of the issue.

[2022-11-21 17:47] FangedParakeet commented on #5117
This sounds like a cleaner option. You could always just create a private method inside `WC_Payments_UPE_Checkout` that passes on the call to the static functions in `UPE_Payment_Gateway`, though this might be a little redundant. Alternatlively, you could probably even move the static functions over to the Checkout class as well, if you really wanted to. Though, that would be a larger refactor, ta

[2022-11-21 22:34] ricardo opened #5161 "Spike: Define WooPay express checkout button settings design"
### Description

As documented by @brettshumaker in pdpOw2-1D0-p2, there's an overlap between Apple Pay/Google Pay button appearance settings and the WooPay express checkout button appearance settings.

In the current PoC, which is behind a feature flag, both button settings are separate, from two different entry points:

<img width="690" alt="Express checkouts settings" src="https://user-images.g

[2022-11-21 22:35] ricardo commented on #5161
cc @elizaan36 / @stephendharmadi

[2022-11-22 00:40] csmcneill commented on #5160
Howdy @ViaBackwards,

This issue is already covered in #3969, so I will be closing this new issue as it is a duplicate.

As a workaround, I would recommend enabling card payments and using the CSS recommended [here](https://github.com/Automattic/woocommerce-payments/issues/3969#issuecomment-1128129498) to hide that option on checkout. You can also subscribe to issue #3969 to get a notification whe

[2022-11-22 00:40] #5160 closed, assigned to nobody

[2022-11-22 00:51] FangedParakeet commented on #5116
It looks like we've diagnosed the origin of the disease here and this is an area (saved payment methods) that we've worked on pretty closely in recent issues, which is why I voted for a mere `2` points. I can see how perhaps if there is a deeper unseen cause at play, the work here could bloat.

@mdmoore @timur27 can either of you be budged to round up to `3` or drop down to `2` on the rating here?

[2022-11-22 01:43] csmcneill commented on #4966
@senff @jbordonado Even though the links didn't direct to specific posts, I removed the P2 links from y'all's comments per PCYsg-5Xx-p2

[2022-11-22 10:45] #4933 closed, assigned to mgascam

[2022-11-22 11:33] timur27 commented on #5116
We now have a `2` SP estimation [here](https://github.com/Automattic/woocommerce-payments/issues/5117#issuecomment-1322435701) - and there is much more information on the solution there, in my opinion. Hence, comparing these two in terms of _knowns_ and _unknowns_, I would round up my estimation here to `3` SP.

[2022-11-22 11:47] kaushikasomaiya commented on #4847
5732931-zen - Shared workaround.

[2022-11-22 19:12] elizaan36 commented on #5161
I would move forward with the more granular customization options, per express method. This can be clarified in future research but it's likely that merchants will want to prioritize one payment method over the other, to appear in some places earlier in the buyer journey.

For feature parity, I think allowing for the same variations in call to action would be a good idea as well.

Overall, I don't

[2022-11-22 23:36] ericfri commented on #3969
Also in 5723093-zen

[2022-11-23 09:05] tpaksu opened #5166 "Fraud prevention token check causes fatal error"
### Describe the bug
As stated in p1669140141614499-slack-CLEPPN1EX, when fraud prevention token can't be verified because of a session error, it throws a fatal error instead of displaying an error notice. Details are in the Slack thread.

[2022-11-23 10:54] jbordonado commented on #4931
Stripe came back with an update on the ticket:

It looks like this case is rare but can happen nevertheless.

We can look into the best way to handle this in our code.

[2022-11-23 11:08] #5166 closed, assigned to tpaksu

[2022-11-23 11:57] deepakpathania commented on #4858
Early investigation is done and we now have a P2 paJDYF-6wC-p2 with all the details, a project thread will be created to look into the suggested solutions which @htdat will lead, so closing this in favor of that.

[2022-11-23 11:57] #4858 closed, assigned to deepakpathania

[2022-11-23 13:39] timur27 commented on #5111
:bug: What exactly is wrong?
There is no `payment_method` field in the `payment_data` of the request body when the `/checkout` endpoint is being hit. Instead, there is a `paymentmethod` field provided. While [generating the payment method](https://github.com/Automattic/woocommerce-payments/blob/develop/client/checkout/blocks/generate-payment-method.js#L39-L48), we provide the `paymentMethod`, whic

[2022-11-23 18:56] mdmoore commented on #4721
I was unable to obtain proper credentials for 1 of the above mentioned payment gateway extensions(Snapscan), but all others are co-existing just fine alongside the split-UPE implentation in its current state. Checkouts are processing as expected. I don't foresee having the UPE split into multiple gateways causing any problems with other gateways.

There was a [concern regarding tokens](https://git

[2022-11-23 18:56] #4721 closed, assigned to mdmoore

[2022-11-23 22:37] ericfri commented on #4847
5736858-zen

[2022-11-23 23:38] haszari commented on #5090
The WC Subscriptions warning is actually in WCPay (I assumed it was in WCS!):

- #3061

[2022-11-24 00:24] alefesouza commented on #5073
Fixed on https://github.com/woocommerce/woocommerce/pull/35644, this should not happen on future WooCommerce 7.2.

[2022-11-24 00:24] #5073 closed, assigned to nobody

[2022-11-24 03:11] htdat commented on #4433
Another case with a VIP client. p1669221996651949-slack-CGGCLBN58
More info: 2e4c1-pb

[2022-11-24 09:49] RadoslavGeorgiev commented on #3651
Let's validate this once custom order tables have been rolled out.

[2022-11-24 10:48] #4936 closed, assigned to anu-rock

[2022-11-24 11:02] vbelolapotkov commented on #5150
Hey @LevinMedia, it feels great to keep getting your feedback, thank you ❤️

[2022-11-24 13:58] ismaeldcom commented on #4381
I'm not sure if it was fixed on `@woocommerce/experimental`, where the date manipulation is done. But I can't reproduce it now.

[2022-11-24 16:39] mgascam opened #5174 "New click events on the links added to the WooCommerce > Home screen to link through the list of Uncaptured transactions"

[2022-11-24 16:49] mgascam opened #5175 "New click events on the links added to the WooCommerce > Home screen to link through the list of Uncaptured transactions"
### Description

Implement Tracks metrics in the links to Uncaptured transactions under WooCommerce > Home page.
### Acceptance criteria

* Click events on the links

### Designs

<img width="976" alt="Screenshot 2022-11-24 at 18 59 01" src="https://user-images.githubusercontent.com/1553182/203844769-416ba353-dbb5-42e6-9d73-52c8c67fae48.png">

### Dev notes

Check other events already implemented

[2022-11-24 16:51] mgascam opened #5176 "Use redesigned table component in the Uncaptured transactions page"
### Description

Update Uncaptured transactions page to use redesigned table component.
### Acceptance criteria

* Use redesigned table component to implement Uncaptured transactions table
### Designs

TBD

### Dev notes

We need to double check if the redesigned component is already available before we start work on this issue.

### Additional context

P2: paJDYF-4N1-p2#comment-13117

[2022-11-24 16:57] mgascam opened #5177 "Inform buyer wether the card will be charged immediately on checkout depending on which capture setting the merchant is using."
### Description

Inform buyer wether the card will be charged immediately on checkout depending on which capture setting the merchant is using
### Acceptance criteria

* When capture later option is disabled by the merchant, **buyer** will see `Your card will be charged immediately on checkout.` on checkout page.
* When capture later option is enabled by the merchant, **buyer** will see `Your card

[2022-11-24 17:04] mgascam opened #5178 "Add total to summary information of Authorizations table for multi-currency stores."
### Description

In the first implementation, the total amount of transactions in the Uncaptured tab is hidden when the store supports multi-currency. We want to improve it to show the totals also in this case.
### Acceptance criteria

* Display total amount of Uncaptured transactions by currency

### Designs

TBD

### Dev notes

It is very likely that we will need to modify the server endpoint to

[2022-11-24 17:08] mgascam opened #5179 "Reposition navigation tabs in Transactions page"
### Description

In the first iteration, the subnav on Transactions (tabs) is detached from the page header, floating on the page with no background, and pushed right up against the table.

### Acceptance criteria

* Push the tabs in Transactions page up against the header and sidebar
* As an alternative, use new header component (being worked on at the moment of creating this issue)

### Designs

[2022-11-24 17:10] mgascam opened #5180 "Add badge icon to the Uncaptured tab in Transactions page"
### Description

The number of transactions in the Uncaptured tab should be displayed inside a badge icon
### Acceptance criteria

* The number of transactions in the Uncaptured tab should be displayed inside a badge icon, not between parenthesis

### Designs

<img width="136" alt="Screenshot 2022-11-24 at 19 42 33" src="https://user-images.githubusercontent.com/1553182/203849433-c4dac45f-f7aa-443

[2022-11-24 17:11] mgascam opened #5181 "Amend test mode notice wording under Uncaptured tab of Transactions page"
### Description

Amend test mode notice wording under Uncaptured tab of Transactions page
### Acceptance criteria

TBD define the final wording. A suggestion: `To view live authorizations, disable test mode in WooCommerce Payments settings

### Additional context

P2:
paJDYF-4N1-p2#comment-14945

[2022-11-24 17:24] mgascam opened #5182 "Disable Capture button in all rows while the request to capture a payment is ongoing in Uncaptured tab."
### Description

Disable Capture button in all rows while the request to capture a payment is ongoing. Currently merchants are allowed to click on more than one button. It’s seen as a bit confusing for merchants, since it can be hard to tell what payment they just captured if they click several buttons.
### Acceptance criteria

* Only allow to Capture one transaction at a time
* Clicked button tra

[2022-11-24 17:30] mgascam opened #5183 "Sort the Uncaptured transactions table in reverse chronological order by default"
### Description

Sort the Uncaptured transactions table in reverse chronological order by default
### Acceptance criteria

* Near-expiration authorizations should appear at the top of the table by default

### Designs

N/A

### Additional context

P2:
paJDYF-4N1-p2#comment-14950

[2022-11-24 22:03] mgascam opened #5184 "Sort by Capture by column of Uncaptured transactions table causes an error"
### Describe the bug

Sort by Capture by column of Uncaptured transactions table causes an error

### To Reproduce

1. As a merchant, Enable 'Issue an authorization on checkout...' option in `WP Admin > Payments > Settings`
2. As a shopper, purchase some orders using the normal card flow.

1. Go to `WP Admin > Payments > Transactions` and click on Uncaptured tab
3. Click on 'Capture by' column hea

[2022-11-25 00:48] #5118 closed, assigned to a-danae

[2022-11-25 02:48] james-allan commented on #4151
Reopening as this was only partially fixed in #4590

[2022-11-25 02:51] #4151 closed

[2022-11-25 02:52] james-allan commented on #4151
Nvm. I misinterpreted this issue. I was thinking of #4147

[2022-11-25 04:45] htdat opened #5186 "--deleted--"
### Description

### Acceptance criteria

* First requirement
* Second requirement
* Third requirement
* etc.

### Designs

### Testing instructions

1. Go to '…'
2. Click on '…'
3. Scroll down to '…'
4. Observe expected behaviour

### Dev notes

### Additional context

[2022-11-25 04:46] #5186 closed, assigned to nobody

[2022-11-25 04:49] htdat opened #5187 "Fix Duplicate Charges: Store intent IDs whenever possible, check status"
### Description

We need to associate the intent ID as early as possible to the order, meaning right before/after each `(create|create_and_confirm|update)_(setup_)intention` call.

### Acceptance criteria

1. Storing the intent early will help us to check the status of the intent _and_ the order in every call, related to payment processing, including:

*   `process_payment` of the main gateway
*

[2022-11-25 05:17] htdat opened #5188 "Fix Duplicate Charges: Delay webhook processing, query scheduled before failure"
### Description

We should delay webhook processing on the client.

### Acceptance criteria

1. Instead of processing the webhook event `payment_intent.succeeded` immediately, store it in a similar fashion to [the webhook reliability service](<https://github.com/Automattic/woocommerce-payments/blob/c6154cddf73f49e486ee9316da1075c9cf982418/includes/class-wc-payments-webhook-reliability-service.php#

[2022-11-25 05:24] htdat opened #5189 "Fix Duplicate Charges: Retry server(API) calls with idempotency headers"
### Description

### Acceptance criteria

Add `try/catch` mechanisms to crucial server calls (ex. creating intentions), and use the same idempotency header for all of those calls within the same PHP request.

We should not try to use the same header within separate PHP requests (calls to the client), this is already explained in the results in this comment paJDYF-6wC-p2#comment-15189

### Designs

[2022-11-25 06:10] htdat opened #5190 "Fix Duplicate Charge: Store intent keys in session, check before processing payments"
### Description

Explore the possibility of an `wcpay_intent_key`, which is generated before the call to create intent.

### Acceptance criteria

- We could store `wcpay_intent_key` in the session, and check if there is a recently paid order with the same key (while eventually comparing order contents with the cart as well). This would prevent both new orders, and new intents from being created.

[2022-11-25 07:14] nagpai commented on #4629
@tpaksu - Sorry about my late reply. In the above PR, I have added new actions to insert or remove only the selected payment method from the latest enabled_payment_method_ids state array. If you get time, do take a look and let me know if it would work well. ( This is my first PR involving WP Data / Redux :D )

[2022-11-25 08:22] mgascam opened #5192 "Improve capture notification section in payment details page"
### Description

Improve the capture notification section that appears in the payment details section when it is pending to be captured.

<img width="1031" alt="Screenshot 2022-11-25 at 09 17 00" src="https://user-images.githubusercontent.com/1553182/203934312-19fbc103-e730-4cab-993b-924b0324b8bf.png">

### Acceptance criteria

* Include a link to the capture section in public documentation.
* Rep

[2022-11-25 08:24] nagpai opened #5193 "Payment methods getting unchecked in UPE Onboarding form"
### Describe the bug

The issue is observed when you first enable UPE ( Additional Payment Methods ) , or disable it, and re-enable it. On the `Add Additional Payments` wizard, that appears, if you click multiple payment methods in quick succession ( within 1.5 seconds ) , few of them get automatically unchecked at the end of about 1.5 seconds.

### To Reproduce

1. Make sure UPE is disabled, with

[2022-11-25 08:24] nagpai commented on #4629
The PR mentioned above - #5171 fixes the issue on the list that is visible within Payments > Settings, after UPE has been already activated.

Similar issue seems to occur when we enable UPE for the first time. This uses a similar but a different

![image](https://user-images.githubusercontent.com/4162931/203923927-d33fcf1d-df54-4963-b57b-206634a70f23.png)

Created an issue here
https://github.com/

[2022-11-25 08:39] #5184 closed, assigned to mgascam

[2022-11-25 08:44] andfinally commented on #4835
For what it's worth, we've also been getting this error in WooCommerce.com local environments – I'm currently on WooCommerce 7.1.0-rc.2, WCPay 4.5.1.

[2022-11-25 09:13] paulostp commented on #4847
5727445-zen

[2022-11-25 13:34] #5132 closed, assigned to jbordonado

[2022-11-25 13:53] #5126 closed, assigned to nobody

[2022-11-25 15:34] timur27 commented on #4907
I'd like to give a quick update on this issue. My initial plan was to finish the issue today (Fri 25 Nov), but as I spent some time configuring my local e2e environment for the first time and helped GlobalStep with the testing, I did not finish it yet. I'm targeting to open a PR on Monday.

This issue consists of three parts:
1. Fix e2e tests for blocks checkout failing (fixed [here](https://app.z

[2022-11-25 15:58] jessepearson opened #5194 "Session invalidated on checkout with subscription after credit card failure"
### Describe the bug
If you are trying to purchase a subscription product through WCPay Subs and the first card used fails for some reason, you are not able to add another card to complete the transaction. Once the page is refreshed you can then add a new card to finish the transaction.

### To Reproduce

1. Create a simple subscription product.
2. View the product in an incognito/private window a

[2022-11-25 17:08] #4772 closed, assigned to eduardoumpierre, allie500

[2022-11-26 12:02] drwpcom commented on #4968
The user in 5741672-zen shared some screenshots. The error message they faced is "error creating instant deposit". Their overview showed a negative balance after that error appeared.

[2022-11-26 23:21] darcie commented on #4853
We had a request from a merchant to update MCC in 5744324-zen, adding to support the needs of this feature.

[2022-11-28 03:53] fashuvo commented on #4847
So far, I am unable to reproduce the issue by following [these steps described above](https://github.com/Automattic/woocommerce-payments/issues/4847#issuecomment-1269720096). @RadoslavGeorgiev and @achyuthajoy were unable to reproduce this as well.

Currently, I am checking with @csmcneill to check if any of the HE's were able to replicate the issue.

[2022-11-28 07:27] jbordonado opened #5196 "Code freeze workflow: commit under github-actions-bot"
### Description
The [release code freeze workflow](https://github.com/Automattic/woocommerce-payments/blob/c6154cddf73f49e486ee9316da1075c9cf982418/.github/workflows/release-pr.yml#L95-L97) currently commits under the `github.actor` username, which in this case is always @jbordonado because I last modified the [workflow file](https://github.com/Automattic/woocommerce-payments/blob/c6154cddf73f49e4

[2022-11-28 07:38] jbordonado opened #5197 "Code freeze workflow: PR checks are not triggered"
### Description
The [release code freeze workflow](https://github.com/Automattic/woocommerce-payments/blob/c6154cddf73f49e486ee9316da1075c9cf982418/.github/workflows/release-pr.yml#L108) creates a release branch and a PR targeting trunk.

The problem is that none of the required checks are triggered:
![image](https://user-images.githubusercontent.com/28830738/204220048-75b2e327-94f5-4b10-8247-2054

[2022-11-28 09:00] dmallory42 commented on #4853
Hi @darcie, it looks like that merchant's need is slightly different - this issue would be for collecting the MCC on initial account onboarding, it looks like what they would have needed is a way to update the MCC *after* the account had been created.

cc'ing @rogermattic - it may be worth considering as part of the PO work (or in future) that it could be good to allow merchants to update details

[2022-11-28 09:07] jbordonado commented on #5194
Hey @Automattic/helix, would you be able to look into this?

[2022-11-28 09:36] rogermattic commented on #4853
Thanks for pinging me @dmallory42

Great idea, I'll definitely like to have it in Settings as one of the details that the merchant can edit! I'll add it to my wireframes.

[2022-11-28 17:42] csmcneill commented on #4847
No HEs have been able to reproduce the issue yet AFAIK. Asked for assistance in p1669698401852279-slack-C3NCP7ZJ6

[2022-11-28 20:30] haszari commented on #5194
Thanks for the heads up @jbordonado .

This looks like a low priority at face value, since there's a workaround (refresh page) and it's a less common flow (need to add second card in same session). Tagging as low priority.

Reading the reproduce steps, I'm curious if this is reproducible with a regular product – @jessepearson do you know if this issue requires a subscription product?

[2022-11-29 05:06] csmcneill commented on #4847
I can only slightly reproduce this issue, but it may or may not be related.

Steps:
1. Create a new WCPay account located outside of the US.
2. Install version 4.7.2 of WCPay.
3. Activate UPE.
4. Activate Stripe Link.
5. Update to 4.8.0 or later (non-US accounts cannot enable Stripe Link in 4.8.0+)
6. Try to save WCPay settings.

The error on the front-end is similar, but the console error is diff

[2022-11-29 06:51] anu-rock commented on #5187
Hey @htdat 👋

Copying my response from paJDYF-6wC-p2#comment-15256:

It was to deal with a nasty issue in case of failures such as card declined, 3DS auth failure, redirection payment method failure, saved payment method failure, etc. In all those cases, a customer would not be charged but on checkout page reload would see UPE mounted with only the failed payment method. See @FangedParakeet's comm

[2022-11-29 09:09] jbordonado opened #5206 "Code freeze workflow: improve links in the Slack notification"
### Description

The Slack notification sent by the [release code freeze workflow](https://github.com/Automattic/woocommerce-payments/blob/c6154cddf73f49e486ee9316da1075c9cf982418/.github/workflows/release-code-freeze.yml#L79) looks like this:

<img width="668" alt="image" src="https://user-images.githubusercontent.com/28830738/204485976-38796e79-9415-4427-9aad-34a77f10e935.png">

The version numb

[2022-11-29 10:42] #5197 closed, assigned to jbordonado

[2022-11-29 12:06] mgascam commented on #4567
Closing this issue, draft content ready and handed over. See this p2 thread for more details pbUcTB-1KU-p2#comment-4835

[2022-11-29 12:07] dmallory42 commented on #2451
Follow up question on this for @dechov / @marcinbot - would this be a case of showing the same messaging added in #1912 in this case? Or would we need to handle it differently? Specifically, I'm wondering whether in the case where there's a blog ID mismatch whether the Payments Overview page which that notification appears on would appear at all, or if the user would see something else like the on

[2022-11-29 12:27] CGA8C commented on #4847
5749030-zd

[2022-11-29 12:28] #5196 closed, assigned to jbordonado

[2022-11-29 15:31] #5111 closed, assigned to timur27

[2022-11-29 15:36] gglobalstep opened #5208 "[GlobalStep] Unable to display "Coupon" name and "Remove" option when applying more than 1 recurring type coupon for subscription product under "Recurring Totals" section on "Cart" page."
### Bug Description:
Unable to display "Coupon" name and "Remove" option when applying more than 1 recurring type coupon for subscription product under "Recurring Totals" section on "Cart" page.

### Environment:
Woocommerce Version: WooCommerce 7.1.0
WooCommerce  WooCommerce Payments - 5.1.0 test-3
WordPress version: 6.1.1

PC:
Windows 10
Chrome(Version 107.0.5304.122)
Firefox(Version 107.0)

###

[2022-11-29 15:49] jbordonado commented on #5208
Hey @Automattic/helix, it looks like a small bug was found by GlobalStep while testing 5.1.0-test-3.
@shendy-a8c confirmed this behavior is happening with the previous version: p1669733111376329/1669719062.439969-slack-C011ENB20Q1

We're not sure if it's by design, but it looks indeed a bit odd to only show the first coupon, although it seems like a low priority if it were to be fixed.

Can you lo

[2022-11-29 16:07] maxlaf commented on #4847
@csmcneill I was able to replicate this with 1 minor adjustment to your steps:

3. Activate UPE. Select 1 alternative payment method to enable it.
3a. Deactivate the APM that was just enabled.
4. Activate Stripe Link

All other steps were the same.

Error was thrown:
![nmNcFV.png](https://user-images.githubusercontent.com/56649567/204580269-a64959e8-b372-46de-91d4-a71c8fe199c9.png)

I'm not sure i

[2022-11-29 22:43] haszari commented on #5208
I agree this is low priority, likely not impacting many shoppers/merchants (multiple coupons is not common). It may also be in WC Subscriptions.

@mattallan (reviewer) can you do a quick search and if there's an existing issue, link it? If you think this is worth confirming & reporting in subs-core and WCS, go for it (optional).

If this is known behaviour (e.g. documented) then happy to close, I

[2022-11-30 12:17] mgascam opened #5212 "Uncaptured transaction badge does not get updated when Test mode is disabled"
### Describe the bug

The counter of uncaptured Transactions in WP Admin > Payments > Transactions does not update when Test mode is disabled.

### To Reproduce

1. As a merchant, go to `Payments > Settings`
2. Enable `Test mode`
3. Enable `Issue an authorization on checkout, and capture later`
4. As a shopper, purchase an order
5. Check that a (1) badge is added next to Payments > Transactions me

[2022-11-30 14:38] #4629 closed

[2022-11-30 17:15] dechov opened #5213 "Use dynamic Blocks integration script version"
Currently, the `ver` param on the **Blocks** integration script (both UPE and non-UPE) is hard-coded to `'1.0.1'`, which would keep older script versions cached in the browser, preventing it from fulfilling the purpose of the parameter.

Since we intend for the current script version to always be loaded, we should set this to a `get_file_version` call, as we do with other registered scripts.

Can

[2022-11-30 18:50] senff opened #5214 "Make it more clear that the "forced" license is not like all other licenses"
### Description
Whenever a site has WooCommerce Payments installed (active or not), it will show in the list of licenses (under **WooCommerce → Extensions → WooCommerce.com Subscriptions**) as an active, lifetime license (due to https://github.com/Automattic/woocommerce.com/pull/10613 ).  However, even though this is a "special" license, it looks like every other (paid) license, so it's confusing

[2022-11-30 23:31] csmcneill opened #5215 "Refunding Possible via Another Currency?"
### Describe the bug
We had a case where a merchant received a payment of ₹98,633 INR via WCPay. They refunded the order, but they refunded it in their store's default currency (GBP). The conversion made this ~£1,000.00 GBP. When they refunded the order, they asked:

We had access to the site, and they refunded the order in GBP, instead of INR.

Because they refunded £1,000.00 GBP, the value sent