[2022-08-12 16:05] #4220 closed

[2022-08-13 15:14] joekercom commented on #4565
Same issue here

[2022-08-15 06:16] druesome opened #4579 "Product Variations without Prices Result in Critical Error on Product Page in PHP version 8.0"
### Describe the bug

When a variable product or subscription is created with no prices added to any variation, the product page results in a Critical error in PHP version 8.0.

### To Reproduce

1. On an Atomic site, go to Settings > Hosting Config and set PHP to version 8.0
2. Create a variable product or subscription and leave all prices empty
3. Publish Product
4. Visit the product page

### A

[2022-08-15 07:49] jessy-p opened #4580 "COT Testing WCPay Epic"

[2022-08-15 11:28] kaushikasomaiya commented on #4579
Similar error:

1. 5440801-zen
2. 5470382-zen

Unable to replicate this, but I suspect it is due to empty prices since var_dump on `wc_get_price_including_tax` returns a string on products with blank prices.

[2022-08-15 11:30] kaushikasomaiya commented on #4579
5479167-zen

[2022-08-15 12:57] ismaeldcom commented on #1527
Hi @elizaan36!

Sure, we're already using the same UI for other surveys, and it will be more consistent 🙂

I'm not sure when we will be able to work on it, but would be good to have all the required information to be implemented.

[2022-08-15 14:03] #4403 closed

[2022-08-15 14:08] achyuthajoy commented on #4406
The issue is caused by rate-limiting on Stripe API endpoints. Implementation of E2E retry mechanism solved the issue.

[2022-08-15 14:08] #4406 closed

[2022-08-15 14:10] achyuthajoy opened #4582 "E2E Tests - Execution context was destroyed, most likely because of a navigation."
https://github.com/automattic/woocommerce-payments/issues/4404
https://github.com/automattic/woocommerce-payments/issues/4407

[2022-08-15 14:17] achyuthajoy commented on #4407
The issue was cause by rate-limiting on Stripe API endpoints. E2E retry mechanism is able to resolve this problem

[2022-08-15 14:17] #4407 closed

[2022-08-15 14:20] achyuthajoy commented on #4405
The issue was cause by rate-limiting on Stripe API endpoints. E2E retry mechanism is able to resolve this problem

[2022-08-15 14:20] #4405 closed

[2022-08-15 14:26] #4582 closed

[2022-08-15 14:29] achyuthajoy commented on #4410
Moved to #4404

[2022-08-15 14:29] #4410 closed

[2022-08-15 14:51] achyuthajoy opened #4583 "E2E - Isolate WooCommerce Checkout Blocks tests to run as a different job"
At the moment, we face a few difficulties with Checkout Blocks tests.

1. The checkout blocks tests needs to skipped if the WooCommerce version is incompatible. This is usually done the release lead.
2. When a new version of checkout blocks are released, the tests starts to fail if the WooCommerce version is incompatible.

Suggested changes:

* Isolate blocks tests to a different job & run only ag

[2022-08-15 14:57] achyuthajoy opened #4584 "E2E - Isolate WP Nightly tests to run as a different job"
At the moment we run E2E tests against WP `nightly` & WooCommerce `latest`. However, since this is included with the existing matrix config for GH actions, we need to manually exclude tests against all other WC versions when test versions are updated (usually with a release).

Suggested changes:

* Move WP nightly tests to a new job with it's own matrix config, which doesn't need to be updated wit

[2022-08-15 15:04] achyuthajoy commented on #4409
Moved to #4408

[2022-08-15 15:04] #4409 closed

[2022-08-15 15:05] achyuthajoy commented on #4420
Moved to #4408

[2022-08-15 15:05] #4420 closed

[2022-08-15 15:12] achyuthajoy opened #4585 "E2E - Docker build fails when running inside GH actions"
See p1660267127466569-slack-CGGCLBN58

#### Issue

Sometimes we see the `wordpress` Docker build process failed like [here](https://github.com/Automattic/woocommerce-payments/runs/7800300481?check_suite_focus=true#step:14:35):

[code]

[2022-08-15 16:04] achyuthajoy opened #4586 "E2E - Add E2E tests back to PRs & run only against WC latest"
At the moment E2E tests are not part of PRs since it's not fully stable. Once the project to stabilize the E2E tests is finished, the idea is to add E2E tests back to PRs, but run only against the latest version of WooCommerce rather than running it with all versions.

Once merged, we would run the tests against `min`, `L-2`, `latest` & `beta` and also scheduled tests if required.

[2022-08-16 09:22] RadoslavGeorgiev commented on #3690
@piinthecloud this looks like a typical case of pending translation updates/downloads. When you switch the site language, WP automatically downloads the translations needed for core. Afterwards, you have to either wait, or go to Dashboard > Updates, and click the only button on the page. Then WP will download WCPay's translations, and every translated string will appear.

Keep in mind that not 100

[2022-08-16 09:22] #3690 closed

[2022-08-16 09:38] RadoslavGeorgiev commented on #4471
@Jinksi is this a part of a project you are working on, or is it a part of core which Gamma should handle? Initially we thought this is a bug, but the description of #4457 made it seem like it is intentional.

[2022-08-16 16:02] prnvrna commented on #3969
Issue reported here as well: 5482575-zen.

[2022-08-16 16:31] #4422 closed

[2022-08-16 18:53] waclawjacek commented on #3920
Just to confirm, looks like this is on Windows 10, correct?

[2022-08-16 21:07] #4537 closed

[2022-08-16 22:52] Jinksi commented on #4471
@RadoslavGeorgiev this one wasn't intentional 😅  it was discovered last minute during our disputes project (pdjTHR-17C-p2) but wasn't crucial to fix for the project.

So this issue can be handled by Gamma as a normal WCPay core issue now 🙏

[2022-08-17 00:46] mattallan commented on #4555
Hey @RadoslavGeorgiev, I believe this is a false alarm.
I had the Stripe payment gateway activated/enabled on this test site and I just checked and it's still turned on.

I confirmed two Google Pay Buttons were visible on the checkout, but after disabling the Stripe payment method, there's only one Google Pay button now which is expected. I'll close this issue but please re-open it if I've missed

[2022-08-17 00:46] #4555 closed

[2022-08-17 04:23] james-allan opened #4591 "Update documentation for custom deposits schedule changes"
Part of the custom deposit schedule project - pdjTHR-1c8-p2

### Description

As part of the Custom deposit project we'll be updating various UIs and user flows around the deposits feature. This issue will act as a place to keep track of documation we will need to update once they ship.

---

### Documentation list

- [ ] [**_Instant Deposits with WooCommerce Payments_**](https://woocommerce.com/d

[2022-08-17 05:22] thenbrent commented on #4591
FYI @aheckler too

[2022-08-17 06:14] dpaun1985 opened #4592 "Apple Pay: Add clarifications in docs"
### Description

Add clarifications in docs related to the activation/deactivation of Apple Pay.
Context: pdjVC1-Yt-p2

[2022-08-17 09:11] #4483 closed

[2022-08-17 09:24] aheckler commented on #4591
Yep! Tracking this in my Trello board here: c/yr5qerxx-tr

Let me know if I can help in any way. :)

[2022-08-17 10:07] #4479 closed

[2022-08-17 11:08] IliaDi commented on #4579
5477606-zen

[2022-08-17 14:23] leonardola commented on #3920
Yep. Just confirmed with Global Step and they were using Windows 10 and Chrome

[2022-08-17 17:44] oaratovskyi commented on #4446
So far I've researched how to add the currency to the client https://developer.woocommerce.com/2020/02/20/extending-wc-admin-reports/ and how it should be handled on the server https://github.com/woocommerce/woocommerce-admin/blob/main/docs/examples/extensions/sql-modification/woocommerce-admin-sql-modification.php.

I was able to add the currency input to the following pages using the `woocommerc

[2022-08-18 04:51] thenbrent commented on #3546
Based on the payment volume we see through iDeal and other non-card payment methods, adding WC Pay Subscriptions support for these payment methods is not a priority right now.

For anyone in need of this support, please request or vote on the idea here to help encourage its prioritization: https://woocommerce.com/feature-requests/woocommerce-payments/

There is another aspect to Will's original re

[2022-08-18 05:27] #4592 closed

[2022-08-18 05:38] dpaun1985 opened #4597 "Spike: add dismissible notifications in WC admin"
### Description

Based on [this](pdjVC1-Yt-p2#comment-1356) comment, it is suggested that we should have dismissible notification types. We need to check if this type of notifications are already implemented, or how can we implement it.

[2022-08-18 08:40] malithsen opened #4599 "Duplicated Tracks events when registering a new platform user."
### Describe the bug
`woocommerceanalytics_platform_checkout_registered` event that fires when registering a new platform user appears to be duplicated. When querying the Tracks table in db, in certain instances, there are two or more entries for the above record in the same second. These duplicates are present in both production and test events.

### To Reproduce

This doesn't happen on all occas

[2022-08-18 12:13] kaushikasomaiya commented on #4579
5486978-zen

[2022-08-18 16:21] thelogicwizards commented on #4579
FYI: This user's situation is a bit different, in that their product variations already have set prices, though the exact same critical error is firing.

[2022-08-18 20:28] harriswong opened #4603 "Multiple UPE - Payment methods in blocks"
### Description
This issue is one of the TODOs in the "splitting into multiple UPE" project https://github.com/Automattic/woocommerce-payments/pull/3968

We should check and make sure enabling UPE doesn't break the payment method in blocks (`includes/class-wc-payments-blocks-payment-method.php`).

### Acceptance criteria
WooCommerce Blocks should work with WCPay payment methods.

### Testing instr

[2022-08-19 03:02] Mayisha commented on #4398
### Google Pay
On the POC branch, the checkout is completed successfully with Google Pay. :tada:
![gpay](https://user-images.githubusercontent.com/33387139/185532874-c6926806-41ad-4a82-93a4-d14760431c80.png)

There was one unexpected behavior, the order status remained `pending payment`. When I tried on the `develop` branch and checked out with Google Pay the order status was `pending payment` als

[2022-08-19 07:22] sverleis commented on #2842
I've been able to replicate this on a local site to a similar effect, but it takes effect on the entire WooCommerce Home page for a site.

**Installed extensions:**
- Gutenberg `13.9.0`
- WooCommerce `6.8.1`
- WP Log Viewer `1.2.1`
- WooCommerce Payments `4.6.0` (optional)

**WP Log Viewer** breaks **Gutenberg**, which in turn breaks the **WooCommerce** onboarding page, which includes all **WooCom

[2022-08-19 07:45] naman03malhotra commented on #2842
Thanks @sverleis, I am opening it and moving it back to Triage, we'll get it tested.

[2022-08-19 07:45] naman03malhotra commented on #2842
cc @zmaglica

[2022-08-19 12:08] zmaglica opened #4606 "Add E2E tests for currency switch on checkout page"
### Description
It would be nice to have E2E test(s) for a case when the customer switch currency from default one to another one that is supported by the store. Having this will help us in catching an issues with currency exchange when multiple payment methods are set

### Acceptance criteria

The idea is to have two tests. One test is to test switching from USD to EUR and choose newly payment me

[2022-08-19 12:58] brianyu28 opened #4607 "Guest WooPay subscription checkout creates two customers instead of one"
### Describe the bug

When purchasing a subscription via WooPay while not signed in to the merchant site, two customers are created – the first customer has the payment intent and payment method attached, but the second one is the one that gets attached to the new WC user for the subscription.

### To Reproduce

1. Start by clearing cookies as the customer to make sure there’s no WC session.
2. Bu

[2022-08-19 13:58] zmaglica commented on #2842
I think that this is not an issue of WooCommerce Payments plugin. WP Log Viewer and Gutenberg (at the moment of writing) are incompatible and breaks the page without WooCommerce Payments plugin. To simulate this, spin a new instance of JN site with mentioned plugins, and you will have white/blank screen during the setup wizard with a bunch of JavaScript errors.

[2022-08-19 14:00] dpaun1985 commented on #4597
Admin notices uses the css classes `notice notice-*` where * can be error/success/info..
If we want to have a dismiss button for this container we can add the `is-dismissible` class.  However, this is not persistent, and after page refresh, the notice will appear again.

**Persistent dismiss for admin notices**
We can have persistent dismiss saving the dismiss option by saving a user meta.  The di

[2022-08-19 14:00] #4597 closed

[2022-08-20 01:10] Brianmitchtay opened #4609 "Incompatibility with Table Rate Shipping when rates are calculated `per item` or `per line item`,"
### Describe the bug

With WooCommerce, WooCommerce Payments, and Table Rate Shipping active, when the table rate shipping method has its `calculation type` set to calculate rates `per item` or `per line item`, no matter the configured rates, only $1 is charged for shipping at checkout with the table rate method

### To Reproduce

1. On a test site, install the latest versions of Table Rate Shippi

[2022-08-20 03:55] csmcneill commented on #4609
I am fairly positive that this is a WCPay issue and not a TRS issue.

The issue persists while WCPay is activated—even if it isn't enabled as a payment method:

![Markup on 2022-08-19 at 22:52:30](https://user-images.githubusercontent.com/82999806/185727914-3e50b4eb-822b-4096-864e-9e07a47ca7d3.png)

However, once I deactivate WCPay, the issue is no longer present:

![Markup on 2022-08-19 at 22:53:

[2022-08-21 00:39] thracefulton commented on #4579
Another instance in 5494428-zen. As with the user mentioned above, I was unable to find any variable products missing prices, although the same `Unsupported operand types: string + int` version of the error is thrown with PHP 8.0.

[2022-08-22 02:26] Greatdane commented on #4579
5495919-zd-woothemes

[2022-08-22 05:05] #4484 closed

[2022-08-22 06:17] dpaun1985 opened #4610 "Add dismissible option to Apple Pay error message"
### Description

In #4551 some error messages were implemented in WC admin if Apple Pay is not proper configured.
For the country error, based on #4597, we need to set this message as dismissible.

[2022-08-22 08:47] kaushikasomaiya commented on #4579
In case of 5470382-zen, PHP 7.4 is outputting the following warnings when prices are not specified in products:

[2022-08-22 10:43] timur27 commented on #3920
HI @leonardola, thanks for all the details!
May I ask which Chrome version Global Step used when the issue occurred?
In the meantime, I checked a few versions, and below 🔽 are my findings so far.

## OS used: Windows 10 via [Browserstack](https://www.browserstack.com/).
### **Google Chrome `ver.73.0.3683.86`**
![image](https://user-images.githubusercontent.com/22319444/185893045-17661620-7243-4c85

[2022-08-22 11:22] kaushikasomaiya commented on #4561
Bit different case: 5483993-zen

![image](https://d.pr/i/kRt8xo+)

The Step 3 on WooCommerce > Home leads to blank page when WCPay is the only enabled payment method. As soon as you enable a second payment method, the issue resolves

[2022-08-22 13:40] deepakpathania commented on #4552
I tried this flow with:
- WooCommerce Payments `4.6.0`
- WooCommerce `6.9.0-dev` ([latest release](https://github.com/woocommerce/woocommerce/releases/tag/feature-custom-order-table))

I tried with both - using COT and using the posts table and couldn't reproduce the issue, find below the screenshots for reference.
- With posts table:
<img width="1870" alt="Screenshot 2022-08-22 at 7 03 01 PM" src

[2022-08-22 14:10] sverleis opened #4612 "Hard-coded "Your payment information is incomplete" cannot be translated."
### Description
Any user wanting to translate the field "Your payment information is incomplete", cannot do so with a translation plugin, and would have to hard-code this for every WooCommerce Payments update.

![image](https://user-images.githubusercontent.com/16252298/185940520-7121a71f-7ff4-4a5c-84de-2785596f4cd4.png)

### Acceptance criteria
Make this string translation friendly.

### Designs

[2022-08-22 15:07] Mayisha opened #4613 "Support Platform Checkout on Checkout Blocks for existing users."
### Description
Currently, if the checkout page is using shortcode-checkout only then Platform Checkout is supported and an existing Platform Checkout user is prompted to verify via OTP. Similar support needs to be added when the checkout page is using Checkout Blocks too.

### Acceptance criteria
- Run checks for an existing platform checkout user when a valid email is provided.
- Show OTP modal

[2022-08-22 15:14] Mayisha opened #4614 "Support creating new Platform Checkout user on Checkout Blocks"
### Description
Currently, if the checkout page is using shortcode-checkout only then Platform Checkout is supported and a new user is given the opportunity to save their details for using Platform Checkout on their future purchases. Similar support needs to be added when the checkout page is using Checkout Blocks too.

### Acceptance criteria
- Run checks for an existing platform checkout user wh

[2022-08-22 15:16] Mayisha commented on #4521
Issues created.
- #4613
- #4614

[2022-08-22 15:19] deepakpathania commented on #4552
Closing since it can no longer be reproduced.

[2022-08-22 15:19] #4552 closed

[2022-08-22 15:52] waclawjacek commented on #4603
Possibly related issue: https://github.com/Automattic/woocommerce-payments/issues/4521

[2022-08-22 17:14] csmcneill commented on #4579
Some discussion around this issue is occurring here: p1661023363251699-slack-C01B82V67DL

[2022-08-22 20:07] leonardola commented on #3920
@timur27 as the place that the price is shown changed and we don't se the problem on newer version I think we can just close this as a won't fix. It's been a while since the test was executed so it's hard to tell the exact version. But if we consider they were up to date they were probably using 99.0.4844 according to [wikipedia](https://en.wikipedia.org/wiki/Google_Chrome_version_history).

Thank

[2022-08-22 20:08] #3920 closed

[2022-08-22 22:04] haszari opened #4616 "Clearly communicate which WCPay payment methods are supported for subscriptions"
### Describe the bug
Spun off from #3546, [see comment from](https://github.com/Automattic/woocommerce-payments/issues/3546#issuecomment-1219036164) @thenbrent.

WCPay provides various payment methods for shoppers, e.g. credit card, SEPA, iDEAL etc. Some are provided direct and others are provided via the Stripe UPE (aka `new checkout experience`).

Currently we don't provide clear guidance as to

[2022-08-22 22:06] haszari commented on #3546
Thanks @thenbrent  – great insight! I've logged a separate issue for specifically that problem (that we can prioritise), feel free to add info or tweak.

- #4616

[2022-08-23 03:38] fashuvo opened #4619 "Add bundle size report to PR"
### Description

Similar to [this PR](https://github.com/Automattic/woopay/pull/371), we want to introduce a bundle size reporting feature to WCPay as well. We can use [compressed-size-action](https://github.com/preactjs/compressed-size-action) to achieve this.

When implemented, this feature will add a report to each PR showing the size changes introduced by that PR.

[2022-08-23 06:46] mordeth opened #4623 "Decrease bundle size by optimising the intlTelInput library"
### Description
By introducing the `intlTelInput` library in #4355, the bundle size was raised by 300kb.

### Acceptance criteria
 - Decrease the bundle size.
 - `intlTelInput` fields functionality shouldn't be changed ( validation and formatting ).

### More context
p1660895622633449-slack-C02C00HCJ8J

[2022-08-23 07:25] zmaglica commented on #4599
I was unable to reproduce this issue on my end. But, we could add additional checks to prevent duplicate events you listed in the issue description @malithsen

[2022-08-23 07:57] zmaglica commented on #3659
There is an issue with a similar problem. I found it during triage. I will update my comment once I find it.

[2022-08-23 08:21] zmaglica commented on #4603
I tested this issue on my environment, and I can see payment method fields. Could you please share exact steps? At WooCommerce Payments, we have critical flows that checks does UPE payment methods works on block checkout and we don't have reports that UPE doesn't work on block checkout.

[2022-08-23 10:05] zmaglica commented on #4298
I also haven't been able to reproduce an issue. I will close this issue. Please don't hesitate to reopen it if a similar issue appears. I also take a look at the code that Jordan posted, and it might be an issue there, but reproducing it is a problem and maybe there is an additional plugin that can interfere.

[2022-08-23 10:05] #4298 closed

[2022-08-23 10:08] zmaglica commented on #4454
Thank you @aprea for feedback. Do we have open issues for product and designs and can I mark this issue as blocked?

[2022-08-23 10:45] deepakpathania commented on #4559
I followed the testing instructions and couldn't reproduce the issue. For me, after completing step 8 when going to the WooCommerce home page, the `Set up WooCommerce Payments` step was ticked off, attached screenshots for reference.

- After step 4 (completed setup wizard without WCPay)
<img width="1030" alt="Screenshot 2022-08-23 at 4 03 49 PM" src="https://user-images.githubusercontent.com/6839

[2022-08-23 12:13] jessy-p commented on #4554
Closed via #4590
Works on latest develop with COT enabled.

[2022-08-23 12:13] #4554 closed

[2022-08-23 14:14] #4607 closed

[2022-08-23 21:59] haszari commented on #4616
@zmaglica I don't know off hand – whoever works on this would need to investigate and work out what changes need to be made. There are a handful of payment methods in WCPay and WCPay with UPE enabled, first step would be to confirm which methods are supported with subscriptions (should be visible in code/config somewhere, and documentation) and then ensure the UI makes it clear.

@thenbrent  may h

[2022-08-23 22:00] johndcoy commented on #4499
@aheckler I think that issue is reported in #4565 but this use case doesn't involve synchronized renewals.

[2022-08-23 23:56] harriswong commented on #4603
Thanks for the ping @zmaglica. This is part of our "multiple instances of single-method UPE at checkout" project work (pdpOw2-Pn-p2). The goal of this issue is to test and make sure block checkout still works after we split 1 UPE into multiple UPE instances. To test this, we would have to pull the POC branch (https://github.com/Automattic/woocommerce-payments/pull/3968). Then, we are to confirm th

[2022-08-24 01:21] james-allan opened #4628 "Add error detection/logging and admin notifications to WCPay Subscription event handling"
### Description

Keeping WCPay Subscriptions in sync with the WooCommerce stores is hugely important, however, operating on an open environment, out of our control, means we're subject errors which can be hard to identify, difficult to troubleshoot and in some cases lead to severe outcomes for merchants (eg duplicate charges, missed payments).

In a similar scenario (PayPal Standard subscriptions)

[2022-08-24 04:56] hsingyuc opened #4629 "Payment methods deselected"
### Describe the bug
When quickly selecting more than one payment method, only the first one is selected.  And if there are selected methods already, quickly selecting the rest of the payment methods; only the last one will be selected.

### Screenshots
https://user-images.githubusercontent.com/56378160/186328647-6e2e0175-75f3-44a1-96e9-33f7dbc41320.mov

### To Reproduce
1. Go to WooCommerce -> se

[2022-08-24 06:35] #4532 closed

[2022-08-24 07:07] jessy-p opened #4631 "[COT] Order Number not displayed on Transactions screen when COT enabled"
### Describe the bug
When COT is enabled and WooCommerce Orders tables are being used, without sync.
In Payments > Transactions, the Order Number is displayed as N/A.

If sync with Posts table, the order number is restored.

### To Reproduce
1. Use WC 6.9 and ensure COT enabled (Orders table is used)
2. Place an order
3. Check Order Number in Payments > Transactions and navigate to the order

###

[2022-08-24 07:39] jessy-p commented on #4148
In addition to `Tracking::get_mc_order_count()`, `Multicurrency::get_all_customer_currencies` also uses direct DB query within multicurrency feature.

[2022-08-24 08:55] deepakpathania opened #4632 "Refactor the queries in Analytics that use post meta queries"
### Description

With [Custom Order tables coming to WooCommerce Core](https://developer.woocommerce.com/2022/01/17/the-plan-for-the-woocommerce-custom-order-table/), direct DB queries that fetch orders by post meta will need to be reworked/updated to work with orders stored in custom tables.

This issue is to look at the direct postmeta queries in `Analytics.php`  and replace it with `wc_get_orde

[2022-08-24 10:19] zmaglica commented on #4629
Tested and confirmed on the latest version of WooCommerce Payments plugin.

[2022-08-24 11:15] RadoslavGeorgiev commented on #4559
Same for me. I used the latest COT WooCommerce build, but I see the correct state:

<img width="544" alt="image" src="https://user-images.githubusercontent.com/5311119/186405058-bafe5221-ec4f-4cac-9684-4fe09e33bdad.png">

Closing this issue, as two of us are not able to reproduce it.

[2022-08-24 11:15] #4559 closed

[2022-08-24 15:07] zmaglica commented on #4613
@Mayisha hi there. Could you please tell me, did you start to work on this issue?

[2022-08-24 15:20] mgascam commented on #4568
@zmaglica We have everything we need to start work so I think you can move it, thanks!

[2022-08-24 15:36] Mayisha commented on #4613
Hi @zmaglica . I have started working on this. Here is the PR https://github.com/Automattic/woocommerce-payments/pull/4611

[2022-08-24 15:37] zmaglica commented on #4613
Thank you.

[2022-08-24 21:34] a-danae opened #4635 "'wc is not defined' error in the browser console on checkout when buying a free product"
### Describe the bug
There's an error in the browser console on the checkout page when purchasing a free product.

### To Reproduce

1. As a merchant, create a product with a $0 price
2. As a merchant, confirm WooPay is enabled
3. As a shopper, add this free product to your cart and proceed to check out
4. On the checkout page, open the browser console
5. Notice there's an error with the message `

[2022-08-24 21:55] thekingsprojects commented on #4579
Another case here: 36609525-hc

They wanted a quick fix rather than having to go through their products right away, so switching to 7.4 helped them.

[2022-08-25 03:16] thenbrent commented on #4547
In general WC is the UI for managing the subscriptions, so it should be the source of truth (i.e. there is no dashboard for a merchant or subscriber to manage their subscription on Stripe's side).

That said, I suspect there will be conditions where the subscription is suspended or otherwise has its status changed in Stripe's side that lead to this issue and that we need to address. Do we know wha

[2022-08-25 10:18] jessy-p commented on #4629
To explore if possible to fix or if it needs UI changes.

[2022-08-25 13:45] KarlisJ opened #4639 "TypeError when updating customer without user object"
### Describe the bug
Error logs contain

[code]

### To Reproduce
Need to be derived from the stack trace. The merchant who notified us about this did not have their payment failing, so this behavior is happening asynchronously.

### Additional context
5505814-zd-woothemes

`$user  = $order->get_user()` can return `false` but `update_customer_for_user` has typehint for `WC_User`

[2022-08-25 13:45] helgatheviking commented on #4579
Have a customer with what I think is this error.... WordPress.com hosting and PHP 8.0.22. They are using variations to suggest different prices plus one Name Your Price variation ( a common donation pattern). Is there an ETA on the patch for this?

[2022-08-25 16:35] a-danae commented on #4579
@helgatheviking This is in progress. You can find the latest updates in this thread p1661443140911449-slack-CGGCLBN58

[2022-08-25 17:12] helgatheviking commented on #4579
@a-danae I think that's a private slack thread. I only have access to the a8c marketplace vendors channel.

[2022-08-25 21:07] dwainm commented on #752
FYI, I've closed the PR as it will probably need a complete rework due to all the changes that have gone into the plugin since then.

[2022-08-25 21:20] dwainm commented on #752
Closing out this issue as per the p2 link, the discussions are no longer a valid reflection of the direction we're currently taking.

[2022-08-25 21:20] #752 closed

[2022-08-25 23:28] mouligreenlaw commented on #4499
With reference to 5405801-zen, would a workaround be as follows?

* Create the subscription product with a free trial period of say 30 days
* Capture full payment details in checkout (Not Authorize now, capture later`)
* During the free trial period, the customer needs to upload files for approval

I'm not sure if this uses the same `Authorize now, capture later` process which is causing the issue

[2022-08-26 03:01] thenbrent commented on #4616
If it's just text we need, then @aheckler are you able to help as you're handling in-product copy now?

If we need to add new visual elements, then we'll need design support.

[2022-08-26 08:43] KarlisJ commented on #4639
Another ticket 5501948-zd-woothemes has the same error in logs (though not causing any issues)

[2022-08-26 08:47] vbelolapotkov commented on #4579
FYI, another quick fix until patch is out could be disabling Apple/Google Pay on product pages.

[2022-08-26 09:42] vbelolapotkov commented on #4579
**Update.**

We decided to hold a patch release for this problem to make sure we ship a proper fix. Until it's fixed, there are the following workarounds available:

1. Disable Apple Pay/Google Pay on product pages (WC Admin > Payments > Settings > Expess Checkout section > Customize). Or disable Apple Pay / Google Pay completely.
2. If applicable, set prices on products without price.
3. Downgrad

[2022-08-26 13:28] aheckler commented on #4616
We can probably just use the same text we have [in our docs](https://woocommerce.com/document/payments/faq/subscriptions/) right now:

[2022-08-26 15:34] gpressutto5 opened #4652 "Use PHP to add tasks to the tasks list instead of the deprecated JS filter"
### Description

We are using a deprecated feature to add tasks to WC task lists using the `woocommerce_admin_onboarding_task_list` filter in JavaScript, which is deprecated.

### Acceptance criteria

* Tasks should keep behaving the same as they do now.
* We should not use [DeprecatedTasks](https://github.com/woocommerce/woocommerce/blob/945a55adbc7691fd263ee4c07bc8d3dbf932d2e0/packages/js/data/s

[2022-08-26 18:21] Brianmitchtay commented on #2730
A merchant asking us about this again in 5509879-zen

[2022-08-27 09:54] kaushikasomaiya commented on #4579
5508417-zen

[2022-08-29 04:49] #4453 closed

[2022-08-29 07:13] deepakpathania commented on #4631
Blocked on [this core issue](https://github.com/woocommerce/woocommerce/issues/34228).

[2022-08-29 09:11] #4639 closed, assigned to nobody

[2022-08-29 10:42] kaushikasomaiya commented on #3546
Can we also check on Bancontact and Sofort since we've mentioned they are supported here: https://woocommerce.com/document/payments/faq/subscriptions/

[2022-08-29 10:43] kaushikasomaiya commented on #3546
5497780-zen : Merchant unable to see IDeal method.

[2022-08-29 13:20] kishor-wpm commented on #4579
convert `$product_price` to float:

use `'amount'  => WC_Payments_Utils::prepare_amount( floatval($product_price) + $tax, $currency ),`

[2022-08-30 04:55] #4452 closed

[2022-08-30 07:31] kalessil commented on #4623
@mordeth, if it were any related discussions, please add them under the 'More context' section.

[2022-08-30 07:54] #4501 closed

[2022-08-30 09:27] RadoslavGeorgiev commented on #4635
@a-danae this is happening because there is no need for payment, and WCPay is not loaded at all in that scenario at the checkout page. In order to fix this bug, there are two options:

1. Don't load WooPay as well, because there is nothing to pay for.
2. Load WCPay anyways, even though it is not going to be used.

So the question is: Do we even want to load WooPay for orders without a positive pri

[2022-08-30 09:54] naman03malhotra commented on #2121
@kalessil are you folks already working on it?

[2022-08-30 09:57] naman03malhotra commented on #1969
@kalessil any idea on the priority of this issue?

[2022-08-30 10:22] mordeth commented on #4444
Blocked by pdjVC1-12Q-p2

[2022-08-30 12:13] jbordonado commented on #2842
@sverleis As Zvonimir pointed out in [the previous comment](https://github.com/Automattic/woocommerce-payments/issues/2842#issuecomment-1220714623), it looks like a compatibility issue between WooCommerce, WP Log Viewer and Gutenberg plugins.
The original issue focused more on WooCommerce Payments itself and something going wrong there. Therefore, we are closing the issue again. Thanks for your in

[2022-08-30 12:13] #2842 closed

[2022-08-30 13:09] #4556 closed

[2022-08-30 14:47] aheckler commented on #4591
@james-allan

Yeah, screenshots of that are probably sprinkled all over our docs. As best I can tell, there's no easy way find them all short of just going through the docs one by one. :( The good news is that updating screenshots of that is probably safe as a low priority item. (IMHO, the more substantive the change, the more important it is to get updated screenshots in the docs at release.)

Do

[2022-08-30 15:30] csmcneill opened #4660 "Transaction fee refunds (rare – e.g. carding attack refund) from Stripe can show as a "negative withdrawal""
### Describe the bug
In 5495806-zen, a user was refunded transaction fees by Stripe. Note that this is an uncommon situation – it's rare for fees to be refunded.

When this happened, the user saw a `Withdrawal` item in **Payments > Deposits** for a negative amount, which caused confusion.

We communicated with Stripe in 5498944-zen, and they confirmed the following:

### To Reproduce

1. Place mul

[2022-08-30 23:09] harriswong commented on #4603
It looks like the block checkout is broken in the `poc/upe-instances-multiplied` branch.

`develop` shows
![image](https://user-images.githubusercontent.com/572862/187558962-51be500c-318e-4915-bb94-d870811bba7a.png)

`poc/upe-instances-multiplied` shows
![image](https://user-images.githubusercontent.com/572862/187559043-8774f9bd-74f0-4901-903e-b21a872d7b5b.png)

### Expected
The "Use another payme

[2022-08-31 00:03] james-allan commented on #4591
I've started a Google Doc to collaborate on the changes: [https://docs.google.com/document/d/1mODHkNwFJM8zZV](https://docs.google.com/document/d/1mODHkNwFJM8zZVZlCvXm2RHcQlpzki_9QNLlSHNtgxY/edit?usp=sharing). It's very much empty at this point but will be contributing to it today.

[2022-08-31 04:55] james-allan commented on #4485
I've removed my assignment from this issue in case someone has the bandwidth to pick it up. I didn't really get very far other than exploring the relevant JS files etc.

[2022-08-31 06:05] #3924 closed

[2022-08-31 07:13] #4583 closed

[2022-08-31 07:13] #4584 closed

[2022-08-31 07:13] #4586 closed

[2022-08-31 08:14] #4553 closed

[2022-08-31 09:13] dmallory42 commented on #4632
Hi folks, I just want to add some context here in case it would be useful.

I don't think that it would be possible to replace these queries with something like `wc_get_orders()` because of how the queries work. What we're doing here is hooking into a filter to modify existing `WHERE`, `JOIN`, `SELECT` clauses which are made by the Analytics pages by WC Admin ([example](https://github.com/woocomme

[2022-08-31 10:22] #4148 closed

[2022-08-31 10:52] daniyalahmadk commented on #4579
Another case here: 5520516-zd

It's not a variable product, but simple one.

[2022-08-31 14:36] ralucaStan opened #4664 "CHF currency shown in ASCII in the Payments Overview screen"
### Describe the bug
On the Payments Overview screen the CHF currency is shown in ASCII Code.
This does not happen when the WC Payments account is set up in Euro.

### To Reproduce
1. Set up a WC Payments account that has as currency the Swiss franc (CHF)

1. Go to the Payments Overview screen
2. Scroll down to Swiss francs balance box
3. Notice the weird characters before the amount

### Actual b

[2022-08-31 15:08] aheckler commented on #4591
Added `https://woocommerce.com/document/payments/faq/instant-payouts/` to the above Google Doc for an updated screenshot.

EDIT: Added a few more places we'll need docs updates as well.

[2022-08-31 15:57] frosso commented on #1433
This is already done.

[2022-08-31 15:57] #1433 closed

[2022-08-31 16:06] frosso opened #4666 "Add payment methods/gateways icon to checkout page"
### Description

There is a desire from UX to add the icons for payment methods to the checkout page.
The icon can be displayed next to the payment method's name, leveraging WooCommerce's default behavior, in order to maximize theme compatibility.

As an additional step, displaying the icon could be a preference that can be enabled on the WooCommerce Payments settings page.

### Acceptance criteri

[2022-08-31 16:11] jessy-p opened #4667 "Add critical testing flows for manual testing"
### Description

Manual Critical Testing flows for the WooCommerce Payments plugins are documented [here](https://github.com/Automattic/woocommerce-payments/wiki/Testing-instructions-for-critical-flows) and tested every week.

While analysing past incident reports (pcreKM-1bp-p2) , we identified that adding some critical testing flows can improve our ability to prevent incidents. Some such paths a

[2022-08-31 16:12] csmcneill opened #4668 "Stripe Link is available for non-US accounts when UPE is enabled"
### Describe the bug
Stripe Link is only available for US accounts. However, when UPE is enabled, non-US accounts can enable Stripe Link.

### To Reproduce

1. Spin up a new JN site.
2. Enable dev mode.
3. Create a new account in a country based outside the US.
4. Navigate to **Payments > Settings**.
5. Note that Stripe Link is not an option.
6. Enable UPE.
7. Note that Stripe Link is now availabl

[2022-08-31 16:19] jessy-p opened #4669 "Identify additional automated testing flows"
While analysing past incident reports ([pcreKM-1bp-p2](pcreKM-1bp-p2)), we identified that we can expand our automated testing to prevent incidents e.g. E2E testing for additional currencies. This issue is created to identify and list all such automated testing flows that we should create.

### Acceptance criteria
- Automated testing flows identified and issues created to work on them.

### Additi

[2022-08-31 18:47] aheckler commented on #4668
I can replicate the checkout page errors.

[2022-08-31 20:12] csmcneill commented on #4668
5504970-zen also notes that Stripe Link was automatically enabled for them, which means that they had to disable Stripe Link in their settings to resolve the issue.

I flagged this in p1661963196771029-slack-CGGCLBN58 to determine if this is important enough to tackle in a 4.7.1 patch release.

[2022-08-31 20:15] harriswong opened #4671 "Multiple UPE - Spike, explore ways to roll out the feature"
### Description
We would like to merge the `poc/upe-instances-multiplied` feature branch (https://github.com/Automattic/woocommerce-payments/pull/3968) into `develop`. There were some concerns and this issue is to explore ways we could roll this out gradually. One suggestion is to roll it out gradually via a server-controlled feature flag.

### Acceptance criteria
- Can we roll out the branch grad

[2022-08-31 20:19] harriswong opened #4672 "Multiple UPE - Explore single payment intent with multiple instances of UPE"
### Description
This came up in one of the team chats. Currently, we have a PR (https://github.com/Automattic/woocommerce-payments/pull/3968) to split UPE into multiple UPE. Each split payment method is its own UPE instance.

A question came up: "Have we tried to reuse same payment intent with multiple instances of UPE?"

We would like to investigate/confirm the feasibility of this. Here are the p

[2022-09-01 00:45] alefesouza opened #4673 "WooPay redirects to merchant home page when guest mode is disabled"
### Describe the bug

Although WCPay already asks the user to login when buying a subscription with WooPay as fixed on #4436, the same problem seen on #4435 still occurs when buying any order with guest mode disabled while logged out, you get redirected to the home screen and the cart doesn't empty because the merchant site requires to be logged in to complete the order.

### To Reproduce

1. Disa

[2022-09-01 07:08] dpaun1985 opened #4674 "StripeLink: track when merchant enable/disable Link payment method"
### Description

In order to have a tracking of the Link payment method usage, we need to track when a merchant enable/disable Link payment method

[2022-09-01 08:17] dpaun1985 opened #4675 "StripeLink: fix email notification error"
### Describe the bug

On the checkout page, the email empty field error notification also includes HTML tags. This was introduced when the Link button was implemented.

### To Reproduce

1. Go to checkout page
2. Fill all required fields, except for email
3. Try to place the order

### Actual behavior

The actual error notification: `Billing Email address <button class="wcpay-stripelink-modal-trig

[2022-09-01 10:42] mordeth commented on #4623
Blocked by pdjVC1-13C-p2

[2022-09-01 12:52] jbordonado commented on #4333
I could not figure out why this was happening, and I also could not reproduce it.

-------

My observations of the two cases:
- We can see in the Stripe dashboard that the charge was successfully captured, so there's no doubt about that
- When the merchant tries to refund the order, it fails. The corresponding log on Stripe is an API call to capture the charge, which logically fails because the ch

[2022-09-01 12:52] #4333 closed

[2022-09-01 13:45] kalessil commented on #4668
@csmcneill, to double check: are steps to reproduce for CA-account?

EDIT: `Create a new account in a country based outside the US.` that clarifies.

[2022-09-01 14:02] jbordonado opened #4678 "[Phase 1] Release process automation: Epic"
Project Thread for phase 1: https://wcpay.wordpress.com/2022/09/30/project-thread-release-process-automation-phase-1/

[2022-09-01 14:04] csmcneill commented on #4668
While I only tested with a CA account, @darcie noticed Stripe Link was an available option if UPE was enabled for a UK account (5516674-zen).

[2022-09-01 14:10] kalessil commented on #4668
Thanks!

[2022-09-01 14:21] #4610 closed

[2022-09-01 14:54] EjayhanFernandes commented on #4579
Another case here: 5520112-zen. Asked the user to check their variable products to check if prices are missing. Also provided them the workaround to downgrade to PHP version 7.4.

[2022-09-01 16:30] brianyu28 opened #4679 "Payment intents sometimes updated with incorrect application fee"
### Describe the bug

We've received a couple of reports of instances where a transaction is processed for a U.S. based Stripe account with a U.S. card, but the application fee is 4.4% + $0.30 instead of 2.9% + $0.30 (in other words, there's an additional 1.5% fee added, which we would usually only expect for international cards).

So far, these cases share the following in common:
- Transactions

[2022-09-01 20:18] harriswong opened #4680 "Multiple UPE - "Remember your details" is missing"
This is part of the "Multiple instances of single-method UPE at checkout" project https://github.com/Automattic/woocommerce-payments/pull/3968

### Describe the bug
WooPay's "Remember your details?" is missing when both UPE and WooPay are enabled.

### To Reproduce
1. Pull this branch `poc/upe-instances-multiplied`
2. Go to WCPay settings. Enable UPE and WooPay
![image](https://user-images.githubu

[2022-09-01 23:40] harriswong opened #4682 "Multiple UPE - duplicated Apple Pay notices are showing in payment settings"
This is a part of the "Multiple instances of single-method UPE at checkout" project https://github.com/Automattic/woocommerce-payments/pull/3968.

### Describe the bug
When Apple Pay, UPE, and WooPay are enabled, Apple Pay's notices are duplicated.

### To Reproduce
1. Pull the branch `poc/upe-instances-multiplied`
2. Enable multiple payment methods under UPE, WooPay and Apple pay
![image](https:/

[2022-09-02 03:13] #4464 closed

[2022-09-02 07:14] Robertght commented on #3659
I can confirm this happens on Atomic sites on WordPress.com. The list gets completed only after I checked the Cash on Delivery option but it reverts back to look like it's not complete if I disabled it. I've recommended my user to simply hide the list.

#5525799-zen

[2022-09-02 08:09] kalessil commented on #4679
Here we go with the results of the investigation:
- Happens when using Test cards under UPE
- Not happens in dev-mode (wcpay-dev plugin installed), hence IC will not be able to reproduce (because of [this](https://github.com/Automattic/woocommerce-payments/blob/develop/includes/wc-payment-api/class-wc-payments-api-client.php#L346-L349)).

Root cause: both test cards' country (`wcpay_payment_countr

[2022-09-02 08:36] jbordonado opened #4684 "[Release automation] Package creation"
### Description
As per the [release train model](https://wcpay.wordpress.com/dev-resources/release-train-model/), we need to create a test package each Monday, and there is a code freeze set to Sunday EOD of Week 2 (meaning a production package should be created right after the official code freeze we announce).

We could create a GitHub workflow to automate the package creation ([with arguments](

[2022-09-02 08:37] jbordonado opened #4685 "[Release automation] Bumping WCPay versions"
### Description
We want to be able to bump the versions automatically:
- Minimum and "tested up to" version of WP and WC
- E2E tests workflow updates
- Compatibility workflow updates
- PHP lint test workflow updates

One way could be to add a new command to woorelease to support bumping the WCPay versions (min and tested up to for WC and WP).
Here is the beginning of a solution by Vasily: 8-gh-woo

[2022-09-02 08:39] jbordonado opened #4686 "[Release automation] Package sanity check"
### Description
https://wcpay.wordpress.com/2022/03/05/woocommerce-payments-3-8-x-release-retrospective/#comment-10346

It's about running smoke tests against the built package before releasing.

### Acceptance criteria

* We can run smoke tests against a package in an easy way
* etc.

### Designs

### Testing instructions

1. Go to '…'
2. Click on '…'
3. Scroll down to '…'
4. Observe expected beh

[2022-09-02 11:09] zmaglica commented on #4660
Confirmed. I was able to reproduce this issue. My question is how should we make to the user that we are not charging a refund? Maybe we can put label or change this negative balance to positive? Could you please provide feedback regarding this question @csmcneill

[2022-09-02 11:24] zmaglica commented on #4671
You could merge it in "one shot" and make sure that is tested flawlessly and include GS to the mix. It seems that this is the big change, and maybe it would be a better idea to merge it after COT testing and monitoring phase is completed. I am not sure have you already created it, but perhaps you could create P2 post and ask for a support there and come with deployment procedure.

[2022-09-02 12:01] achyuthajoy commented on #4482
Closing this issue for now since updating shared memory size for docker is required when we're running tests from within the container.

[2022-09-02 12:01] #4482 closed

[2022-09-02 13:25] #4579 closed

[2022-09-02 13:28] zmaglica commented on #4664
Confirmed with the latest version of WooCommerce Payments plugin.

[2022-09-02 14:31] brianyu28 commented on #4679
Thanks for looking into it — confirmed that I'm also getting those values for `wcpay_payment_country`, even though Stripe's documentation suggests that `4242424242424242` should be US.

[2022-09-02 16:18] #4632 closed

[2022-09-02 16:18] RadoslavGeorgiev opened #4690 "Spike: Confirm that Analytics queries work with COT / high performance order storage (HPOS), if not, log issues to fix"
https://github.com/Automattic/woocommerce-payments/pull/4677 was just merged to address https://github.com/Automattic/woocommerce-payments/issues/4632. However, at the time of writing, it seems like WC core does not support COT for analytics:

1. Scheduling imports happens on the `save_post` action: https://github.com/woocommerce/woocommerce/blob/cot-main/plugins/woocommerce/src/Internal/Admin/Sch

[2022-09-02 17:38] #4404 closed

[2022-09-02 17:38] #4408 closed

[2022-09-03 15:23] ariel-maidana commented on #4579
Another case here: 5529501-zd-woothemes

[2022-09-04 18:47] achyuthajoy commented on #4401
Project complete. Closing EPIC

[2022-09-04 18:47] #4401 closed

[2022-09-04 18:55] achyuthajoy commented on #4585
Closing the issue based on the discussion to keep development & test environment in sync.

[2022-09-04 18:55] #4585 closed

[2022-09-05 03:33] Jinksi opened #4695 "Searching subscriptions is slow for merchants with a large number of subscriptions"
### Describe the bug

The Subscriptions search in **wp-admin → WooCommerce → Subscriptions** is very slow for merchants who have a large number of subscriptions. For example, searching through ~30,000 subscriptions can take as much as 30 seconds.

![image](https://user-images.githubusercontent.com/3147296/176832794-5c19b831-fde0-4a11-a049-4b795747313d.png)

## To Reproduce

1. Generate a large num

[2022-09-05 04:27] brucealdridge opened #4696 "[Manual deposits] Deposit Scheduling: Merchants can select manual schedule."
### Description

#4464 added the ability for merchants to choose an automatic schedule for deposits (daily, weekly, monthly) but to meet the WCPay 4.7 release window the ability for a merchant to select a manual schedule was descoped.

Add a set of controls to the Payments → Settings page which allows the merchant to change their deposit schedule from an automatic schedule to manual.

<img width="

[2022-09-05 09:26] thisissandip commented on #4609
5526596-zen

[2022-09-05 10:29] kalessil commented on #4679
Thanks! Looks like we need to ping Stripe about the country mismatch with what the documentation mentions.

[2022-09-06 00:42] brucealdridge opened #4699 "Internal E2E tests failing due to unneeded key existence check"
### Describe the bug

Internal end to end tests are failing due to a newly updated check against `deposits.status` in the account status. Previously this check referenced `deposits_status`.

https://github.com/Automattic/woocommerce-payments/blob/3ec6d887b5ed77e8f764fe30c316228a61c61410/includes/class-wc-payments-account.php#L185

https://github.com/Automattic/woocommerce-payments/blob/7360a79851a

[2022-09-06 01:56] #4699 closed, assigned to nobody

[2022-09-06 04:17] brucealdridge opened #4701 "Deprecate rather than remove deposit_status key"
### Describe the bug

As part of the deposits scheduling, the `deposits_status` key was removed on the WCPay account info. Due to downstream code, we need to deprecate this key rather than remove it.

### Additional context

p1662432065588259/1662388714.071439-slack-CGGCLBN58

[2022-09-06 05:01] #4701 closed, assigned to nobody

[2022-09-06 05:53] dpaun1985 opened #4703 "StripeLink: no token is saved for subscription orders"
### Describe the bug

When ordering a subscription product, the payment token is saved in the database.

Context: p1662348099755489-slack-C7U3Y3VMY
### To Reproduce

1. Create an order with a subscription product
2. Pay it with Link payment method
3. The payment token is not saved in the database.

[2022-09-06 09:40] jbordonado commented on #4526
Hello!

This issue is the same as #4609, for which I opened a Pull Request to fix it yesterday.
Hopefully, the PR will get merged soon.

Thanks for your report and detailed analysis, I'm closing this one in favor of #4609 since I started the work over there.

[2022-09-06 09:40] #4526 closed

[2022-09-06 10:55] naman03malhotra commented on #4147
Blocked on subscriptions being compatible with COT.

[2022-09-06 11:26] naman03malhotra commented on #4580
@jessy-p to close this once you are back.

[2022-09-06 14:23] jimjasson opened #4706 "[Subscriptions] The `show_if_variable-subscription` class incorrectly overrides all other `show_if` classes"
See: https://github.com/Automattic/woocommerce-subscriptions-core/issues/190

and p1662100066856569-slack-C02BW3Z8SHK

## Describe the bug

If a new setting with the `show_if_variable-subscription` class is added, then this setting will only be visible in Variable Subscription products -- regardless if it has more `show_if` classes, such as `show_if_simple`.

## To Reproduce

1. Create a custom se

[2022-09-06 20:14] nicdwilson commented on #4703
In 5519127-zen this resulted in the following error

[code]

[2022-09-06 20:20] csmcneill commented on #3302
5528040-zen

[2022-09-07 04:21] thenbrent commented on #3546
That doc should clarify that SEPA support is for the WooCommerce Subscriptions extension only (it looks like that section of the docs was added before WC Pay Subscriptions was readily available).

I've updated the doc to reflect that and explicitly mention that only card payments are supported by WC Pay Subscriptions now so this is clear in the docs.

FYI @darcie as you added the section on SEPA o

[2022-09-07 04:29] brucealdridge opened #4710 "Remove deprecated deposits_status account key from Account Status (changed WCPay Server API response)"
### Descrption

`deposits_status` key in has been deprecated and should no longer be used. It has been replaced by `deposits.status`.
This is alongside a change to the WCPay server response also grouping deposit-based information under a `deposits` key.

https://github.com/Automattic/woocommerce-payments/blob/6e7607586b17f255b80d0ef9f21f103501ece6fd/includes/class-wc-payments-account.php#L195-L196

[2022-09-07 05:00] james-allan commented on #4591
I've updated the various docs outlined in the Google doc above and hit publish on this new page: [How do I change my deposit schedule with WooCommerce Payments?
](https://woocommerce.com/document/payments/#section-11).

I can't find this [FAQ page](https://woocommerce.com/document/payments/faq/) in the WooCommerce.com docs edit list. I planned on editing it to add the new doc to the "Getting paid"

[2022-09-07 06:53] #4609 closed

[2022-09-07 09:03] aheckler commented on #3546
IMHO the whole "Compatibility With Additional Payment Methods" section should probably live in this doc instead:

https://woocommerce.com/document/payments/subscriptions/comparison/

... which is the comparison doc for WC Pay subs vs. the standalone Subs extension.

The doc we're referring to here, which is:

https://woocommerce.com/document/payments/faq/subscriptions/

... should be a bit simpler

[2022-09-07 09:20] aheckler commented on #4591
DM'ed you on Slack about this. :)

[2022-09-07 09:27] james-allan commented on #4591
All the doc updates have now been made. I'm going to close this issue now. Thanks for your help @aheckler :)

[2022-09-07 09:27] #4591 closed

[2022-09-07 10:17] thenbrent commented on #3546
That's a good approach. It is also already covered there and has always been, though in less detail than has since been added to the compatibility doc.

There is no step to enable WC Pay Subscriptions - it's available by default and can be disabled if necessary.

Enabling the feature is effectively done by creating a subscription product. We could show a warning after that if APMs are enabled and

[2022-09-07 10:23] aheckler commented on #3546
Ahh OK, my mistake then! 🤦 I thought it had to be enabled first under Payments → Settings → Advanced Settings, but it must be on by default.

Agree with playing the "wait and see" game for now, given that the docs are corrected.

cc @csmcneill as something to keep an eye on going forward. (Context: we've gotten some feedback in this issue that some merchants expect to be able to use iDeal and othe

[2022-09-07 16:10] #4673 closed, assigned to alefesouza

[2022-09-07 16:19] mdmoore commented on #4398
So far, I'm having trouble getting Apple Pay to work even on `develop`. The behavior I've experienced on 2 iPhones is that the Apple Pay button only appears in incognito mode in Safari. After tapping the button, the Apple Pay card slides in and looks normal for about 2 seconds, then slides out. This behavior is the same on the Split UPE branch. I'll report back when I have more information.

[2022-09-07 18:39] mdmoore commented on #4398
### Apple Pay

Apple Pay is working as expected on the POC branch as well, with transactions behaving the same as in the `develop` branch.

![image](https://user-images.githubusercontent.com/3473953/188953416-0ddf1774-a047-4960-99bd-7882a49ff7b2.png)

It looks like we are ✅ on Google Pay and Apple Pay.

[2022-09-07 19:33] a-danae opened #4712 "Apple Pay "We were not able to verify your domain" admin notice showing up"
### Describe the bug

An Apple Pay warning admin notice is displayed on the admin, regardless of whether the steps provided by the notice are actually needed. This is happening since 4.7.0.

The admin notice on the WCPay settings page reads "Apple Pay: We were not able to verify your domain. [This help documentation](https://woocommerce.com/document/payments/apple-pay/#apple-pay-button-does-not-ap

[2022-09-07 21:32] thracefulton commented on #4411
I found an instance of this with 5540551-zen. In this case, the error was triggered when an order was created by admins with only a shipping cost, and no WooCommerce products added.

One workaround I was able to test and confirm is to enter the cost using `Add Fee` rather than `Add shipping` on the order.

[2022-09-07 22:52] haszari commented on #3546
Thanks @thenbrent @aheckler for improving the documentation about APMs and subscriptions. 🙌

Now that this is clearly documented, is there any follow up or fixes needed? If not maybe we can close this issue. @WillBrubaker (reporter) what do you think?

[2022-09-08 01:23] brucealdridge opened #4714 "Unable to purchase Subscription Products with description longer than 40000 characters"
### Describe the bug

When a new subscription is purchased WCPay sends the product details to the server.
In cases where a Merchant has an extra long description, this can cause issues with the API due to character length limits.

There is currently a hard limit of 40,000 characters for this field, however we should apply a much lower limit (e.g. 2,000 characters)

### To Reproduce

1. Create a su

[2022-09-08 03:22] thenbrent commented on #3546
The communication gap still needs to be addressed in-product, but now that is being tracked separately (https://github.com/Automattic/woocommerce-payments/issues/4616) this issue can be closed as support for APMs will be prioritized separately against other features.

[2022-09-08 07:21] mordeth opened #4718 "[Spike] Replace intl-tel-input input with Calypso phone input component"
### Description
This spike evaluates the benefit of replacing the intl-tel-input phone input library with the Calypso phone input component in favor of bundle size.

[2022-09-08 11:03] RadoslavGeorgiev commented on #4635
@a-danae could you please respond to the last question?

[2022-09-08 12:31] a-danae commented on #4635
@RadoslavGeorgiev for sure. I completely missed that, sorry.

I'm inclined toward option 1, as I can't think of a scenario where having WooPay/WCPay would be needed for orders without a positive price. I was first thinking of free-trial subscriptions, but the `Uncaught ReferenceError: wc is not defined` doesn't show up. So it looks like that scenario is still considered to have a positive price.

[2022-09-08 13:29] RadoslavGeorgiev commented on #4635
I think this is handled by `$order->needs_payment()`, not the order price. That was just a side-note though.

Would you mind opening another issue for WooPay, which should prevent it from being loaded in such scenarios?

[2022-09-08 17:32] harriswong commented on #4398
Sweet! Thank you @Mayisha @mdmoore , I am closing this.

[2022-09-08 17:32] #4398 closed

[2022-09-08 17:38] gabriel-fuentes commented on #4712
This is also happening for a WordPress.com user: `36693213-hc`

[2022-09-08 18:55] elizaan36 commented on #4470
Update: @jbordonado [was not able to reproduce this bug](https://github.com/Automattic/woocommerce-payments/pull/4707#issuecomment-1240679817) but I'm still seeing it on the test site.
https://share.getcloudapp.com/nOubN8QG

[2022-09-08 19:00] elizaan36 commented on #4470
@bradyv is also seeing the bug on his test site.

[2022-09-08 19:29] a-danae commented on #4635
Noted, thanks for clarifying!

Sure, glad to. I was mid-way creating it but I'm not sure if I got you right. Did you mean creating a separate issue in the WooPay repo? I created it in this one because it looks like here's where we handle whether WooPay should be enabled, like in [this method](https://github.com/Automattic/woocommerce-payments/blob/develop/includes/platform-checkout/class-platform-

[2022-09-08 21:18] harriswong opened #4720 "Multiple UPE - Stripe Link compatibility"
### Describe the issue
This is part of the Multiple UPE project (https://github.com/Automattic/woocommerce-payments/pull/3968).

The multiple UPE POC uses classic element for credit card checkout, but Stripe Link requires UPE. Does this mean Stripe Link no longer work with multiple UPE? If so, how should we handle this?

### Accepted criteria
- Find out if the multiple POC branch works with Stripe

[2022-09-08 21:28] harriswong opened #4721 "Multiple UPE - compatibility with other payment gateways"
### Description
This is part of the Multiple UPE project (https://github.com/Automattic/woocommerce-payments/pull/3968).

This issue is to verify if other payment gateways can be enabled with WCPay after merging this [POC](https://github.com/Automattic/woocommerce-payments/pull/3968). Maybe check with @Automattic/axiom to get a list of plugins we should check against.

### Acceptance criteria
- Af

[2022-09-08 22:04] harriswong opened #4722 "Multiple UPE - Verify re-mounting/re-rendering of the checkout page will populate the correct UPE payment methods."
### Description
This is part of the Multiple UPE project (https://github.com/Automattic/woocommerce-payments/pull/3968).

When an item is added to the `/checkout` page, the checkout page should re-render and should recalculate its tax and shipping based on its multicurrency settings etc. This issue is to verify that this continues to work in the [multiple UPE branch](https://github.com/Automattic/

[2022-09-08 22:19] harriswong opened #4723 "Multiple UPE - Fraud questions"
### Description
This is part of the Multiple UPE project (https://github.com/Automattic/woocommerce-payments/pull/3968).

This topic came up in one of our discussions and we didn't have time to dive deep into it. This issue is to answer the following questions:

1. How auth now / capture later will work in such setup?
2. How to rate limit fraudsters with captcha?
3. Does multiple UPE create new at

[2022-09-09 00:00] harriswong opened #4724 "Multiple UPE - Remove "new checkout experience" setting if it is no longer needed"
### Description
This is part of the Multiple UPE project (https://github.com/Automattic/woocommerce-payments/pull/3968).

The "new checkout experience" setting is used because UPE consolidates all payment methods into 1. But the multiple UPE branch splits payment methods back to individual ones so the setting is no longer needed. Remove this setting.

### Acceptance criteria
- Remove the "new chec

[2022-09-09 03:37] brucealdridge commented on #4470
I am unable to replicate.
 - latest version of Chrome
 - dev mode (`SCRIPT_DEBUG`) enabled / disabled.
 - with and without #4707 changes

[2022-09-09 04:17] brucealdridge commented on #4470
Have managed to see it replicated on a _stagingwebsite_ but unable to find the root cause or replicate locally with a _testsite_.

_stagingwebsite_ is running latest WP, WC, WCPay
_testsite_ is running latest WP, WC, WCPay (fresh install using wp cli)

Inspecting the page shows differing css for popover component, also additional classes are added on _testsite_

_stagingwebsite_
[code]

_testsite_

[2022-09-09 04:48] aprea commented on #2383
I am closing this issue as we have completed this work as part of the Custom Deposit Schedules project (pdjTHR-1c8-p2). Please see 2192-gh-Automattic/woocommerce-payments-server.

[2022-09-09 04:48] #2383 closed

[2022-09-09 05:28] Jinksi commented on #4470
I see the issue on the happiness staging site also, using Firefox Dev 105.0b8.

[2022-09-09 06:05] Jinksi commented on #4470
I've reproduced this now on a local site now by installing the Gutenberg plugin v14.0.2.

<img width="690" alt="image" src="https://user-images.githubusercontent.com/3147296/189280717-ddb81da7-19fe-4d93-a1c8-683ff0060cde.png">

It looks like Gutenberg is taking over from WCPay's bundled component CSS/JS.
I think the component is `TaskItem` from [`@woocommerce/experimental@2.1.0`](https://www.npmjs

[2022-09-09 07:12] Jinksi commented on #4470
The conflicting CSS in question comes from [`@wordpress/components` `DropDown` ](https://wordpress.github.io/gutenberg/?path=/story/components-dropdown--default)(used by [`@woocommerce/experimental` `TaskList`](https://woocommerce.github.io/woocommerce-admin/components/storybook/?path=/story/woocommerce-admin-experimental-list--task-item-example)), which explains why it collides with Gutenberg.

I

[2022-09-09 07:48] RadoslavGeorgiev commented on #4635
Actually here's good, I guess we just needed to switch from `category: core` to `category: projects`, the component label is already in place. Nothing more to do besides fixing the issue :)

[2022-09-09 08:55] roryWolf commented on #4712
Adding in the following merchant who is also experiencing the issue:  5541003-zen

[2022-09-09 11:05] nagpai commented on #4411
@thracefulton - Thanks for sharing the user report. However, the issue seems to be different from the one tracked here. The error you have is related to no product price being submitted, whereas the error here relates to a product ID longer than 12 digits resulting in an invalid product ID error.

I suggest creating a separate GH issue with the steps to replicate. Thanks.

[2022-09-09 12:41] jbordonado opened #4727 "[Critical flows] Review Onboarding area tests"
### Description
One of our goals is to reduce the number of incidents in production, and part of doing that is to ensure our [critical flows](https://github.com/Automattic/woocommerce-payments/wiki/Critical-flows) are up to date and still relevant, as these are checked every week by GlobalStep during the release cycles.

This issue is focused on the `Onboarding` area:

| User type | Area

[2022-09-09 12:45] jbordonado opened #4728 "[Critical flows] Review Checkout area tests"
### Description
One of our goals is to reduce the number of incidents in production, and part of doing that is to ensure our [critical flows](https://github.com/Automattic/woocommerce-payments/wiki/Critical-flows) are up to date and still relevant, as these are checked every week by GlobalStep during the release cycles.

This issue is focused on the `Checkout` area:

| User type | Area

[2022-09-09 12:46] jbordonado opened #4729 "[Critical flows] Review `Payment methods` area tests #4727"
### Description
One of our goals is to reduce the number of incidents in production, and part of doing that is to ensure our [critical flows](https://github.com/Automattic/woocommerce-payments/wiki/Critical-flows) are up to date and still relevant, as these are checked every week by GlobalStep during the release cycles.

This issue is focused on the `Payment methods` area:

| User type | Area

[2022-09-09 12:48] a-danae commented on #4635
Gotcha. Cool 🙂

[2022-09-09 12:48] jbordonado opened #4731 "[Critical flows] Review `Disputes` area tests"
### Description
One of our goals is to reduce the number of incidents in production, and part of doing that is to ensure our [critical flows](https://github.com/Automattic/woocommerce-payments/wiki/Critical-flows) are up to date and still relevant, as these are checked every week by GlobalStep during the release cycles.

This issue is focused on the `Disputes` area:

| User type | Area

[2022-09-09 12:50] jbordonado opened #4733 "[Critical flows] Review `WC Pay Subscriptions` area tests"
### Description
One of our goals is to reduce the number of incidents in production, and part of doing that is to ensure our [critical flows](https://github.com/Automattic/woocommerce-payments/wiki/Critical-flows) are up to date and still relevant, as these are checked every week by GlobalStep during the release cycles.

This issue is focused on the `WC Pay Subscriptions` area:

| User type | Area

[2022-09-09 12:51] jbordonado opened #4734 "[Critical flows] Review `WC Subscriptions integration` area tests"
### Description
One of our goals is to reduce the number of incidents in production, and part of doing that is to ensure our [critical flows](https://github.com/Automattic/woocommerce-payments/wiki/Critical-flows) are up to date and still relevant, as these are checked every week by GlobalStep during the release cycles.

This issue is focused on the `WC Subscriptions integration` area:

| User typ

[2022-09-09 12:52] jbordonado opened #4735 "[Critical flows] Review `WooCommerce Blocks` area tests"
### Description
One of our goals is to reduce the number of incidents in production, and part of doing that is to ensure our [critical flows](https://github.com/Automattic/woocommerce-payments/wiki/Critical-flows) are up to date and still relevant, as these are checked every week by GlobalStep during the release cycles.

This issue is focused on the `WooCommerce Blocks` area:

| User type | Area

[2022-09-09 12:57] jbordonado opened #4737 "[Critical flows] Review `UPE` area tests"
### Description
One of our goals is to reduce the number of incidents in production, and part of doing that is to ensure our [critical flows](https://github.com/Automattic/woocommerce-payments/wiki/Critical-flows) are up to date and still relevant, as these are checked every week by GlobalStep during the release cycles.

This issue is focused on the `UPE` area:

| User type | Area

[2022-09-09 20:48] thracefulton opened #4738 "Error passing level3 data when order has only shipping fee, without product"
### Describe the bug
When a merchant creates an order containing no products, and only uses `Add shipping` to attempt to charge a shipping fee,  WooCommerce Payments is unable to process payment attempts.

Customers report seeing JSON errors or `The string did not match the expected pattern.` error at checkout, and the following error is present in the payment intent log:

[code]

### To Reproduce

[2022-09-09 22:50] csmcneill commented on #4411
@thracefulton’s issue is reported in #4738

[2022-09-11 17:21] csmcneill opened #4739 "Payment Method Sometimes Reads `Payment via PayPal (pi_xxx)`"
### Describe the bug
In 5540314-zen, we noticed that a [WooCommerce Payments](https://woocommerce.com/products/woocommerce-payments/?aff=10486&cid=1131038) purchase's payment descriptor reads:

[code]

This occurred after a failed payment was attempted via [PayPal Payments](https://woocommerce.com/products/woocommerce-paypal-payments/?aff=10486&cid=1131038) and then later failed via WCPay.

### To

[2022-09-11 18:45] csmcneill commented on #4668
Encountered this in 5548463-zen. It broke checkout for the user, and we were only able to discern that this issue as at play here because of the following error on a failed payment:

A payment of $79.90 USD failed to complete with the following message: Error: The payment method type "link" is invalid. Please ensure the provided type is activated in your dashboard (https://dashboard.stripe.com/acc

[2022-09-11 18:46] csmcneill commented on #4668
Likely 5549035-zen

[2022-09-11 18:55] csmcneill commented on #4712
5549035-zen

Details:
- WPCOM site
- Apple Pay only shows up when `Allow websites to check for Apple Pay and Apple Card` is disabled under **Safari > Preferences > Privacy** (related issue: #3876)
- Permalink settings are not `Plain`.
- The `.well-known/apple-developer-merchantid-domain-association` is available at the proper URL.
- When `Allow websites to check for Apple Pay and Apple Card` is di

[2022-09-12 04:48] Jinksi opened #4740 "Settings form is not disabled when submission request is in progress"
### Describe the bug

The Payments → Settings form and inputs remain editable while the submission form request is in progress. This could be confusing for users, especially if the request takes a while and the user makes changes during this time.

### To Reproduce

1. Go to Payments → Settings.
2. Click on the Save Changes button.
3. While the request is in progress (indicated by the Save Changes

[2022-09-12 07:34] nagpai commented on #4411
I am no longer able to see the level 3 data in the order notes
<img width="337" alt="image" src="https://user-images.githubusercontent.com/4162931/189596564-b13510c6-1aea-491d-b733-2cdc273b966d.png">

However, it does appear in the transaction logs within `Status > Logs`

<details>
<summary>Error log</summary>

[code]
</details>

[2022-09-12 11:27] achyuthajoy opened #4742 "E2E - WP nightly tests fail while installing & activating Gutenberg"
### Describe the bug

While running scheduled E2E tests against WP nightly, the E2E environment setup fails while installing and activating the latest version of Gutenberg with the error:

[code]

Reference job - https://github.com/Automattic/woocommerce-payments/runs/8288457937?check_suite_focus=true

The problem is caused by a change on WP core and is being discussed here - https://github.com/Wo

[2022-09-12 11:33] deepakpathania commented on #4631
With the [latest build](https://github.com/woocommerce/woocommerce/actions/runs/3036281249) (based on `trunk`), I can no longer reproduce this issue, will wait for another confirmation before closing.

[2022-09-12 11:51] jbordonado commented on #4738
I followed the steps to reproduce, and I could pay successfully for the order without seeing any issues on the site.
I could, however, notice the described error in my logs (WooCommerce > Status > Logs).

There is [a mechanism in place to retry without the level3 data](https://github.com/Automattic/woocommerce-payments/blob/1a34f24c864db04a182f7e916654c943bdb460e2/includes/wc-payment-api/class-wc-

[2022-09-12 11:55] #4668 closed, assigned to dpaun1985

[2022-09-12 12:21] dmallory42 opened #4744 "Create or extend components needed for Progressive Onboarding"
### Description

This issue will cover either creating or identifying and extending any components which will be needed for Progressive Onboarding.

Example/psuedocode of the type of components we will need (these could be extensions of existing components or brand new components):

`<OnboardingForm>`
`<OnboardingFormStep>`
`<SocialSecurityInput>`
`<DateOfBirthInput>`

#### Required components so

[2022-09-12 12:23] dmallory42 opened #4745 "Progressive Onboarding Client"
This epic will hold all progressive onboarding related client issues.

[2022-09-12 12:23] dmallory42 commented on #4745
Closing in favor of server epic.

[2022-09-12 12:23] #4745 closed

[2022-09-12 12:25] dmallory42 opened #4746 "Full Page Design for Progressive Onboarding"
### Description

This issue will cover implementing the **designs** for Progressive Onboarding. Implementation of the actual logic of the form will be covered by #5473, and implementation of the custom component elements will be covered by #4744, so this issue will mainly cover putting these two parts together.

### Acceptance Criteria

- PO flow matches the designs as shown in paJDYF-5IU-p2

[2022-09-12 12:26] dmallory42 opened #4747 "Make the required UI changes to support post-onboarding of progressive accounts."
### Description

This issue will cover all changes required to support the UI states relating to an account which is partially onboarded (and then fully onboarded) following progressive onboarding.

We need to implement showing the status of the onboarding (partial/full) along with how close the user is to their thresholds on the account overview page.

We must follow the design, but falling back

[2022-09-12 12:27] dmallory42 opened #4748 "Implement Things To Do for Progressive Onboarding (WCPay overview)"
### Description

We need to implement Things To Do to prompt a Progressive Onboarding user to complete onboarding in the WCPay overview. The urgency should depend on how close they are to the time/volume thresholds.

Rules:
- After payments are enabled: no notification
- After the first sale is complete: default info notification
- Balance is rising or 7 days from the first sale (1000 USD now in d

[2022-09-12 12:28] jbordonado commented on #4740
I had a quick look and we'll be able to figure out whether we are in the middle of saving the settings by using the `isSaving` prop available in the `useSettings` hook: https://github.com/Automattic/woocommerce-payments/blob/fecbe1cba9021c049df0d5d9b10e767cb152dbb3/client/data/settings/hooks.js#L368

I'm sending this to "Product Review" because we need to know exactly what we want to do while we a

[2022-09-12 12:49] #4675 closed, assigned to nagpai, dpaun1985

[2022-09-12 13:15] #4742 closed, assigned to achyuthajoy

[2022-09-12 14:18] #4682 closed, assigned to Mayisha

[2022-09-12 20:50] haszari commented on #4470
@naman03malhotra  since this is an issue with our packages, could Gamma take it on as a platform issue?

Next steps:
- Look at options for updating packages we use, and/or bundle components – does it address the issue, and is that feasible with our WP/WC support policy?
- Possibly escalate to wc or wp components if the issue isn’t fixed by updating packages.

[2022-09-13 01:46] Jinksi commented on #4740
@jbordonado That's a great point. We could consider using [`aria-disabled`](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Attributes/aria-disabled) which looks like it's designed for this exact use-case:

[2022-09-13 05:46] nicdwilson opened #4752 "Order ID available in JSON but replaced with N/A on transaction pages"
### Describe the bug
Transaction report drops Order ID and replaces it with N/A

### Actual behaviour

In 5552143-zen transactions in the Transaction Screen, and in the Deposit > Transactions screen are losing their relationship with Order IDs and Subscription IDs. Clicking through on the transaction provides a detail screen containing order an subscription IDs. The customer name does not contain

[2022-09-13 09:02] nagpai commented on #4738
Stripe has a [character limit](https://stripe.com/docs/level3#:~:text=product_code%3A%20Up%20to%2012%20characters%20that%20uniquely%20identify%20the%20product.) of 12 for `product_code` and `zero-cost-fee` seems 13 characters long.

~However, when I test, the logs show the `product_code` without any error. It is derived from a truncated version of the fee description.~

~Example:  I set the descri

[2022-09-13 09:02] nagpai commented on #4738
Stripe has a [character limit](https://stripe.com/docs/level3#:~:text=product_code%3A%20Up%20to%2012%20characters%20that%20uniquely%20identify%20the%20product.) of 12 for `product_code` and `zero-cost-fee` seems 13 characters long.

It looks like it is somewhat related to the [other issue ](https://github.com/Automattic/woocommerce-payments/issues/4411)where @thracefulton originally commented.  So

[2022-09-13 11:19] nagpai opened #4755 "Stripelink button without icon showing on checkout under email field"
### Describe the bug
Random box is displayed under "Email address" input on Checkout page

### To Reproduce

1. Make sure you have StripeLink disabled within `Payments > Settings`
2. On the front-end add any product to cart get to the checkout page.

### Actual behavior
The space below the `Email address` field shows a blank grey box.

### Screenshots
![image](https://user-images.githubusercontent

[2022-09-13 11:32] deepakpathania commented on #4631
Closing after confirmation from another member that it can no longer be reproduced.

[2022-09-13 11:32] #4631 closed

[2022-09-13 13:57] ibndawood commented on #4752
Hello @jessy-p & @nicdwilson,

I was looking into this ticket: 5552143-zen and decided to take a deep dive into this issue. I found the source of the issue. I have submitted a PR explaining the cause and the fix.

Here is my PR: https://github.com/Automattic/woocommerce-payments/pull/4757

Let me know what you think.

[2022-09-13 15:37] #4755 closed, assigned to nagpai

[2022-09-13 17:20] leonardola opened #4759 "Customer can't buy products in a production site"
### Describe the bug
Off by one error when customer buys product via WooPay in a production site.

discussion in the p1661796090593129-slack-C022WMN88KG
This was initially treated as a WooPay issue at 1239-gh-Automattic/woopay
This is a tricky error because it only happens in some sites. https://woopaymerchantdemo.com/ for example

### To Reproduce
- As a non logged shopper add a product to the ca

[2022-09-13 17:36] thracefulton commented on #4738
In the process of reviewing other payments in the account for 5540551-zen, I did notice at least one where the same error showed in the logs prior to the entry for the successful charge. Let me know if you need me to dig up those logs.

[2022-09-13 18:38] Brianmitchtay commented on #4752
Seeing this in 5554142-zen as well.

This user is also seeing order numbers not match with their orders in the store when they export a CSV of transactions. Not sure if the two could be related.

[2022-09-13 18:49] Brianmitchtay commented on #4752
Also seeing this in 5554142-zen.

In this case the user is also seeing order numbers being exported incorrectly when they export a list of the transactions to CSV. Not sure if it could be related, but seems like it could be.

[2022-09-13 22:17] WillBrubaker commented on #3546
I see no need to keep it open

[2022-09-13 23:50] haszari commented on #3546
Looks like we're agreed – closing. Reopen with details if this is still an issue we need to fix.

[2022-09-13 23:50] #3546 closed

[2022-09-14 01:23] csmcneill commented on #4679
5555365-zen

[2022-09-14 08:36] kalessil commented on #4679
I asked clarifications around `4242424242424242` in p1663144462776769-slack-C9976E5MJ.
The stripe docs do not list any country for `5555555555554444`. Hence I omit it from the question.

[2022-09-14 08:44] kalessil commented on #4679
@csmcneill, perhaps we should update WooCommerce docs ([test cards section](https://woocommerce.com/document/payments/testing/#test-card-numbers)) and specify the card country to avoid further confusion. We could look up the resolved countries if needed. What do you think?

[2022-09-14 13:29] dpaun1985 commented on #4703
From the docs [here](https://woocommerce.com/document/payments/subscriptions/#section-7)

Should we have Link enabled also for subscriptions ?

cc @kalessil

[2022-09-14 13:30] #4512 closed

[2022-09-14 14:35] a-danae commented on #4712
This issue was solved by https://github.com/Automattic/woocommerce-payments/pull/4758, and released in WCPay 4.7.1.

[2022-09-14 14:35] #4712 closed, assigned to mordeth

[2022-09-14 14:43] a-danae commented on #4511
I'm opening this issue again because the changes introduced in the PR that closed this issue were reverted by https://github.com/Automattic/woocommerce-payments/pull/4758. The reason is explained in [this other GH issue](https://github.com/Automattic/woocommerce-payments/issues/4712).

cc @Automattic/pulsar

[2022-09-14 14:47] leonardola commented on #4721
@harriswong

These are the payment gateways we take care of:
- [eWAY](https://href.li/?https://github.com/woocommerce/woocommerce-gateway-eway)
- [GoCardless](https://href.li/?https://github.com/woocommerce/woocommerce-gateway-gocardless)
- [PayFast](https://href.li/?https://github.com/woocommerce/woocommerce-gateway-payfast)
- [PayPal Advanced](https://href.li/?https://github.com/woocommerce/wooc

[2022-09-14 17:05] harriswong commented on #4721
Thank you so much for the list @leonardola!

[2022-09-14 18:18] harriswong commented on #4666
This also needs to apply to the multiple UPE project.

[2022-09-14 22:17] ricardo commented on #4511
As it was discussed in the thread p1663082254010359/1662580488.851089-slack-CGGCLBN58 we shouldn't prevent the errors from happening, nor check the registration requirements ourselves, as this would be unreliable.

Instead, we can provide a permanent warning notice telling users that the domain could not be verified, and a call to action to retry it. E.g link: [Retry domain verification].

As far

[2022-09-15 07:46] jessy-p opened #4764 "Payment form absent when item with price added to cart via AJAX on a free order"
### Describe the bug
When an item with price 0 is added to the cart, it is expected that the payment form does not need to be displayed on the Checkout page. But, when an item with a price is added to the cart via AJAX on the checkout page, the payment form should appear, because it is no longer a 0 priced order.

### To Reproduce
1. Set up a product with a price of 0.
2. Set up two shipping types

[2022-09-15 10:05] kalessil commented on #4703
@dpaun1985: Link has a pre-requisite of card payments being enabled and merchants being from US, so my understanding is that Link always will be using card payment. If this is correct, then we need subscriptions integration to work properly.

PS: we'll need to update our docs for Link to mention subscriptions support.

[2022-09-15 10:51] mgascam opened #4766 "[Authorizations] Fetch single authorization and summary data"
### Description

Fetch single authorization data from WCPay server's endpoint.

### Acceptance criteria

* Create client side data endpoint to fetch authorization data from WCPay server

### Dev notes

You can check WCPay server endpoint implementation in this [PR](2465-gh-Automattic/woocommerce-payments-server)

[2022-09-15 11:42] nagpai commented on #4738
It looks like I am able to replicate it. I may have done some wrong step earlier. Sorry about that.

[2022-09-15 12:07] jessy-p commented on #4752
Closed via #4763 and released via patch release v4.7.2

[2022-09-15 12:07] #4752 closed, assigned to nobody

[2022-09-15 12:47] dpaun1985 opened #4767 "StripeLink: Link is not enabled on frontend"
### Describe the bug

In some cases, Link is not kicking in for unregistered users.
Context: p1663158910506699-slack-C02C00HCJ8J

[2022-09-15 13:51] jimjasson commented on #4706
We have now found that this issue also affects [All Products for WooCommerce Subscriptions](https://woocommerce.com/products/all-products-for-woocommerce-subscriptions/).

All Products for WooCommerce Subscriptions adds a "Subscriptions" tab to Simple/Variable Products, Product Bundles, and Composite Products. This tab should remain hidden in all other product types, including Simple/Variable Subs

[2022-09-15 15:24] thelogicwizards commented on #4522
User in [5559464-zen](https://woothemes.zendesk.com/agent/tickets/5559464) affected, as well:

- Site using the inbuilt multi-currency feature from WooCommerce Payments
- UPE is enabled (incl. Giropay)
- Merchant added a currency switcher widget on this page: https://reconnectiveacademy.com/events/onex-virginia/
- However, when switching the currency to USD and proceeding to checkout, these errors

[2022-09-15 19:27] Mayisha commented on #4720
[Stripe Link](https://woocommerce.com/document/payments/woocommerce-payments-stripe-link/) seems very similar to WooPay in general. When Stripe Link is enabled-

- On the checkout page the email field is rendered on top of Billing Address (same as WooPay)
- When a user inputs an email address that does not exist in Stripe Link, a checkbox appears below the credit card option. (very similar experie

[2022-09-15 19:47] harriswong commented on #4720
Thanks @Mayisha for the screenshot and notes!

🤔  If we are using the same email address, how are we going to switch between WooPay or Link?

[2022-09-15 19:51] Mayisha commented on #4720
### Existing Link customer flow
✅ When a user inputs an existing Link email address, an OTP Modal appears as expected.
❌ The Link button also appears on the right corner of the input box when it should not be there.
❌ In the payment methods list there is an option for Link. For an existing user, the Link method should not be there (also not as a separate method like this)
<img src="https://user-im

[2022-09-15 19:55] Mayisha commented on #4720
@harriswong this is a very important question and we need some decisions on how we are going to allow merchants to enable Link and WooPay. As the existing user check happens when the user inputs a valid email field and the OTP modal appears for an existing user, for an email that has both Link and WooPay accounts it gets messy :exploding_head:

![link vs woopay](https://user-images.githubuserconte

[2022-09-15 22:36] csmcneill commented on #3969
In 5556446-zen, with UPE enabled and `Credit card / debit card` _disabled_, this produced tons of console errors:

[code]

[code]

This also prevented any payments from being accepted on checkout. Trying to force a `402` error by inputting test card information while WCPay isn't in test mode yields an additional console error:

[code]

In this instance, CSS to hide the payment option may not work

[2022-09-16 00:28] frosso commented on #4720
Since Link is only compatible with the UPE (and not with Stripe Elements), what are people's thoughts on showing Link as a separate gateway entry on the checkout page (when WooPay is enabled)?

Similar to this:
<img src="https://user-images.githubusercontent.com/33387139/190494427-822dc529-0af8-42ef-b667-833c1c6a29b2.png" height="50%" width="50%" />

Granted, we would still need to resolve [some c

[2022-09-16 07:25] naman03malhotra commented on #4470
Looks like it, I'll tag as P2 and see if we can pick it up soon.

[2022-09-16 07:34] Mayisha commented on #4720
@frosso do you mean to show this for the Link's existing user flow or the new user flow? If we are changing Link's [current experience](https://github.com/Automattic/woocommerce-payments/issues/4720#issuecomment-1248520953) we should probably discuss with the people owning the Link feature as well. Another question that comes to my mind is, is the UI/UX of Link done by us? Or do we have any contra

[2022-09-16 08:39] malithsen opened #4768 "Incorrect recurring total for free products with WC Subscriptions"
### Describe the bug
Recurring total is inconsistent when changing the shipping method for a free subscription (not a free trial sub, just a subscription with 0$ fee)

### To Reproduce

1. Install and enable WooCommerce Subscriptions.
2. Create a new simple subscription product.
3. Make the subscription price $0.
4. Add two shipping methods, Flat rate and Free Shipping, via WooCommerce -> Settings

[2022-09-16 08:59] jbordonado opened #4769 "[E2E test] Add a scenario for the Order Number column in Payments > Overview"
### Description
Relates to #4752

Based on the setting `Blog pages show at most` located in Settings > reading, we are fetching a default (10) number of orders unless specified otherwise (like it was done in the PR fixing the issue) while interrogating the `list_transactions` endpoint from the server.

We can create a simple E2E test to make sure that issue never happens again:
- Change the `Blog

[2022-09-16 12:30] dmallory42 opened #4770 "Develop Further E2E Multi-Currency Tests"
### Description

In #2536 we added the basic framework of E2E tests for Multi-Currency. We can expand on this by developing further tests such as full payment flows and refunds.

### Acceptance criteria

* We test full Multi Currency flows in E2E.

[2022-09-16 12:31] dmallory42 commented on #2536
Just noting here that I created  #4770 which is to expand on the E2E tests developed in #4717.

[2022-09-16 12:48] #2536 closed

[2022-09-16 13:17] #4471 closed

[2022-09-16 15:11] elazzabi commented on #4766
Couldn't find an issue to fetch a list of authorizations + summary, so I'm working on it part of this issue

[2022-09-16 17:44] #4580 closed

[2022-09-16 17:45] jessy-p commented on #4580
Closing the epic along with project. Only pending issue is related to Subscription COT compatibility and will be taken up as part of future project.

[2022-09-16 17:56] marissaexplores commented on #4609
[5562299-zen](5562299-zd-woothemes)
The merchant disabled multi-currency in WCPay and that resolved the table rate issue for them.

[2022-09-16 19:55] Brianmitchtay commented on #3922
The user who originally reported this issue has gotten back in touch in 5552143-zen expressing frustration that this issue hasn't seen any attention since it was reported.

@jrodger I know this has been marked as low priority, but do you have any insight to offer re: timeline or rationale behind this issue being left unaddressed? My understanding from reading it over is basically that it's a small

[2022-09-17 19:20] tijosh opened #4771 "Unable to refund a successful charge after a blocked payment"
### Describe the bug

If a payment is blocked by a Radar rule (such as a postal code check failure), but there's a subsequent successful charge, that successful charge may not be able to be refunded.

The event says `A request to create a refund failed` with the body:

"type": "invalid_request_error"

Reported in 5436424-zen, 5303793-zen, 5564572-zen

p1655764075000849-slack-C7U3Y3VMY

### To Repr

[2022-09-19 08:41] tpaksu opened #4772 "Improve fingerprinting mechanism on checkout page"
### Description
We need to implement a more intelligent fingerprint solution that doesn’t only rely on HTTP headers, and probably we can implement a 3rd party solution like fingerprint.js, or Sift’s fingerprint library, or another one, but there’s a problem that their scripts can be blocked by ad-blockers. We need to find a way to safely load a fingerprinting library which can’t be blocked. To be

[2022-09-19 08:42] tpaksu opened #4773 "Card testing mitigation phase 3 works"
This epic contains the client side work that needs to be handled on the card testing phase 3 project.

[2022-09-19 08:55] tpaksu opened #4774 "Try to hide the `client_secret` of Stripe from the card testing automation scripts"
### Description
We need to prevent the user from confirming the payment intent using Stripe’s REST API, or creating their own Stripe Element using the client_secret we expose on the browser. This is more like an experimentation of trying multiple things to see if it can be done.

[2022-09-19 11:45] sulmanpucit opened #4776 "Why not using setcookie method?"
### Describe the bug
I was wondering why the PHP `setcookie` method is not being used [here](https://github.com/Automattic/woocommerce-payments/blob/develop/includes/class-wc-payment-gateway-wcpay.php#L446). Any specific reasons for this?

I have not debugged in details. But this part seems to be causing issue with custom login and redirect  filter where they have `check_admin_referer` in place. I

[2022-09-19 22:58] harriswong commented on #4720
I like the idea of splitting "Credit card/ debit card" and "Link" into 2 separate payment methods. In this case, woopay can attach onto "Credit card/ debit card" and Link is its own "credit card".

👋 @rogermattic Looping you in regarding some changes around how we should display Link, "Credit card/ debit card" and multiple UPE here.

[2022-09-19 23:54] alefesouza opened #4777 "Cannot checkout trial subscriptions when WooPay is enabled without signing up"
### Describe the bug

Currently when we have WooPay and subscriptions enabled, we cannot finish a trial subscription without signing up to WooPay.

### To Reproduce

1. On merchant site with WooPay and subscriptions enabled, add a trial subscription to the cart.
2. Checkout the order on merchant site without signing up to WooPay (or dismiss the WooPay iframe).
3. A `Error processing checkout. Plea

[2022-09-20 03:14] jessy-p commented on #4768
Before starting check if related to or affected by https://github.com/Automattic/woocommerce-payments/issues/4764.

[2022-09-20 05:10] brianyu28 opened #4779 ""Illegal offset" fatal errors during error handling with latest Jetpack"
### Describe the bug

On sites with the latest version of Jetpack, "illegal offset" fatal errors frequently happen during any situation where the WCPay client would normally gracefully handle an error from WCPay Server.

### To Reproduce

To reproduce this error, you'll need:
- PHP 8.0+ (since invalid offsets are a warning in PHP 7.4 but an [error in PHP 8.0](https://www.php.net/manual/en/migratio

[2022-09-20 07:48] jessy-p commented on #4779
@brianyu28 Is it possible to replicate on JN site?
I have installed WCPay and Jetpack 11.3, but I do get the "Card Declined" error.

[2022-09-20 07:51] #4514 closed

[2022-09-20 09:05] jessy-p commented on #4779
Able to replicate on JN site.
- Set up site with PHP 8 using JN options
- Install Jetpack (11.3)

Tested on checkout page with test card for decline `4000000000000002`
<img width="1092" alt="image" src="https://user-images.githubusercontent.com/32092402/191216805-c500783b-9fa7-4b9f-8018-1a48b5e5dadf.png">

[2022-09-20 11:02] jessy-p commented on #4293
Copied from Slack thread
[code]

[2022-09-20 11:11] jessy-p commented on #4293
On this issue, let us try to list and resolve all functions with too many return types as given in the example `boolean|WC_Order|WC_Order_Refund`
Moving for prioritisation.

[2022-09-20 14:04] #4759 closed, assigned to leonardola

[2022-09-20 18:10] namiokuzono commented on #4779
Issue reported in 5571639-zen

[2022-09-20 19:54] c-shultz commented on #4779
I see the same as you with the same setup @jessy-p.

**If I deactivate Jetpack 11.3.1**, I get the expected error:

<img width="346" alt="image" src="https://user-images.githubusercontent.com/6209518/191351963-5d0d84d7-50fc-4ab4-aac1-b71a0e6af25f.png">

[2022-09-20 19:57] brianyu28 commented on #4779
Noting too that while declined payments are one example of where this error comes up, the fatal error will also come up anywhere else we catch API exceptions, including:
- Paying for a product whose price is too small
- Paying for a subscription with a free trial
- Trying to update a Stripe customer after importing it from another site
- Certain flows when capturing charges and authorizing capture

[2022-09-21 11:55] jessy-p commented on #4393
@shendy-a8c  The code for `order_id_from_meta_key_value` has changed recently, could you check if this is still applicable?

[2022-09-21 11:58] jessy-p commented on #4660
Moving to Product Review as there is open requirements question

[2022-09-21 11:59] jessy-p commented on #4454
Marking for Product Review to clarify the Requirements

[2022-09-21 15:59] frosso commented on #4521
Looks like the issues have been created - closing

[2022-09-21 15:59] #4521 closed

[2022-09-21 16:42] aheckler commented on #4616
@jessy-p I'm a bit unclear on what I'm expected to do here exactly. Can you help clarify? It seems we settled on the language in my above comment being OK, but I'm not sure how to insert that onto the **WooCommerce > Settings > Payments** page. AFAIK the hover text on these icons:

![Screenshot taken on 2022-09-21 at 16 41 25 UTC@2x](https://user-images.githubusercontent.com/5512652/191562678-6899

[2022-09-21 16:46] jessy-p commented on #4616
@aheckler  I thought we need to update documentation only. So, the requirement is to add a hover on the tick mark and have the text

Should we change the description too?

[2022-09-21 17:07] aheckler commented on #4616
Our WC.com docs [already mention](https://woocommerce.com/document/payments/subscriptions/#section-7) the limited availability of WC Pay's subscriptions functionality.

I had thought this issue was about updating this screen to align with those limitations:

![image](https://user-images.githubusercontent.com/5512652/191564883-f18d46b5-5c3a-4e7d-a59b-6881f41ee8c5.png)

... as you mentioned.

Howeve

[2022-09-21 17:11] aheckler commented on #4616
Some linkless example code to override the hover text for WC Pay:

[code]

That's a new string too, so there's probably something to be added to the translation file, I'm not sure how that all works.

[2022-09-21 18:59] mdmoore commented on #4721
While working on WCPay token behavior in Multiple UPE, I've tested Stripe Gateway quite a bit. There is a problem in the POC branch where WCPay is removing all non-WCPay tokens. That will be fixed when https://github.com/Automattic/woocommerce-payments/pull/4670 is merged in. Otherwise, Stripe works well.

[2022-09-21 19:34] #4779 closed, assigned to hsingyuc

[2022-09-21 19:57] #4777 closed, assigned to alefesouza

[2022-09-21 20:20] zoemyers commented on #4609
5575081-zen

[2022-09-22 06:13] kaushikasomaiya commented on #3604
5554691-zen

[2022-09-22 06:25] jessy-p commented on #4334
I believe the next step on this issue, is for a developer to investigate. So moving this from Engineering Review Queue to Ready for Prioritisation for further investigation.

[2022-09-22 08:59] jbordonado commented on #4609
I forgot to mention it, but this will be released with WCpay 4.8.0 scheduled on Sep 28.
Hopefully all these cases will be solved then.

[2022-09-22 11:44] deepakpathania commented on #4664
This is coming from core directly from [this line](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/wc-core-functions.php#L696) when we try to populate the `symbol` [here](https://github.com/Automattic/woocommerce-payments/blob/develop/includes/admin/class-wc-payments-admin.php#L444). We can either ask core folks to look at it or update the `short_symbol` for `CH`

[2022-09-22 13:14] kalessil commented on #4514
:tada:

[2022-09-22 14:12] jbordonado commented on #4470
FYI, I've opened an issue in WooCommerce repo because I think it makes sense to fix it there and have it properly work for all consumers of `@woocommerce/experimental` package.

The ExperimentalList (`@woocommerce/experimental`) and EllipsisMenu (`@wordpress/components`) used to work well together. But the HTML/CSS implementation of the EllipsisMenu component changed slightly in newer versions (no

[2022-09-22 15:56] csmcneill commented on #4679
That may be a good idea. @aheckler what say you?

[2022-09-22 16:57] aheckler commented on #4679
I was waiting to touch anything until we have an update from Stripe in 5555365-zen. I am CC'ed on that ticket, so as soon as we have an answer from them I can change our docs if needed.

[2022-09-23 03:32] james-allan opened #4788 "WCPay subscriptions double charges with WC Subscriptions active"
### Describe the bug

When a site has WCPay subscriptions (created with the free built-in subscriptions functionality) and the WC Subscriptions extension active, double charges can occur.

There exists a loophole in the scheduled payment flow that doesn't eliminate WCPay Subscriptions, or gateway scheduled subscriptions in general, out of the process.

### To Reproduce

1. With WC Subscription ina

[2022-09-23 03:33] AashikP opened #4789 "[Authorizations] Updating order status to `Processing` before Capturing - Cannot refund order."
### Describe the bug

You can capture payment after setting the order status to processing. However:

* This does not add confirmation about the amount captured in order notes.
* This also does not let you refund the order

### To Reproduce

1. Enable authorization
2. Create order in the frontend  (don’t capture the charge)
3. Change the order status to `Processing`
4. Capture charge now
5. Notice

[2022-09-23 05:49] #4788 closed, assigned to james-allan

[2022-09-23 11:26] #4619 closed

[2022-09-23 12:36] #4529 closed

[2022-09-23 15:23] jrodger commented on #157
We now have advanced filter controls on the transaction page, any other specific requirements can be created as new, separate, issues.

[2022-09-23 15:23] #157 closed

[2022-09-23 22:32] a-danae opened #4792 "WooPay OTP modal showing up after placing an order"
### Describe the bug
The SMS OTP modal shows up after placing an order when placing the order before the email field receives automatic focus.

### To Reproduce
1. On the merchant store, log in with a user that's registered in WooPay
2. Add a product to the cart and proceed to check out
3. Click on "place order" before the email field receives focus
4. Notice that the SMS OTP modal shows up while

[2022-09-24 11:57] kaushikasomaiya opened #4793 "WCPay changes the publish button to Schedule when timezone is other than UTC 0 (Gutenberg Posts/Pages)"
### Describe the bug

https://wordpress.org/support/topic/changes-publish-button-to-schedule-in-gutenberg/#post-16039901

WCPay changes the publish button to "Schedule" while publishing pages or posts when default timezone is other than UTC in WP Settings.

![image](https://d.pr/i/3rqJxt+)

### To Reproduce

1. Onboard WCPay in Dev mode
2. Change default timezone to London
3. Go to Posts > Add New

[2022-09-25 18:06] csmcneill commented on #854
5542919-zen

This user cannot make test purchases to resolve #3269, so I recommended creating a new account to circumvent this issue.

[2022-09-26 07:12] jbordonado commented on #4789
It looks similar to an issue that was reported in #4333, which I was unable to reproduce and figure out

[2022-09-26 07:48] #4411 closed

[2022-09-26 08:26] jbordonado opened #4794 "[Release automation] Running woorelease on an independent server"
### Description
We are currently running woorelease on IC's machine.
We should be able to run it on an independent server (e.g. GitHub Action, MC, Docker, ...).

### Acceptance criteria

* We can run a woorelease command with the appropriate parameters outside of an IC's machine
* etc.

### Dev notes

See https://github.com/automattic/woocommerce-payments/issues/4685#issuecomment-1288781129
Releas

[2022-09-26 08:33] jbordonado opened #4795 "[Release automation] P2 posts & Slack"
### Description
- Release Thread
- `Call for testing` post
- woo-deployments post
- Slack announcements

We could pick the content from the draft (pattern) post and schedule the post to be published. It can then be modified later if needed.
Can we otherwise work out something with a TextExpander snippet to keep it easier?

To be explored.

The `What's new` post would be out of scope.

### Acceptan

[2022-09-26 08:42] jbordonado opened #4796 "[Release automation] Updating the changelog at woocommerce.com"
### Description
A step after [releasing the plugin](https://fieldguide.automattic.com/developing-woocommerce-payments/client-deployment/) is to update the changelog at woocommerce.com.
For now, we have to do it manually because the woorelease command fails to do so.

We could enhance the woorelease `release` command to allow WooCommerce Payments to be released and update the changelog at woocommer

[2022-09-26 08:44] jbordonado opened #4797 "[Release automation] Post release updates"
### Description
During [client deployment](https://fieldguide.automattic.com/developing-woocommerce-payments/client-deployment/), we have a `Post release updates` step.
We can look into automating the different tasks we have to follow.

### Acceptance criteria

* A PR to merge `trunk` changes into `develop` is created
* The new wiki placeholder page for the next release exists, along with the test

[2022-09-26 08:49] #4738 closed, assigned to nagpai

[2022-09-26 09:35] jbordonado opened #4799 "[Release automation] Prerelease and stable tag"
### Description
Introduce the concept of prerelease and a way to flip the stable tag.

### Acceptance criteria

* First requirement
* Second requirement
* Third requirement
* etc.

### Designs

### Testing instructions

1. Go to '…'
2. Click on '…'
3. Scroll down to '…'
4. Observe expected behaviour

### Dev notes
I spotted a function in woorelease: [update_stable_tag](https://github.com/woocommer

[2022-09-26 09:43] jessy-p commented on #4793
Able to replicate on JN.
Note: Just having WCPay installed and active doesn't change the button to "Schedule", once Stripe onboarding is completed, the button is no longer "Publish", but "Schedule". If I change the timezone back to "UTC" it will change back to "Publish"

[2022-09-26 10:20] jessy-p commented on #4789
Able to replicate on JN site.
@jbordonado  The key here is the third step "Change the order status to Processing" manually and then do the capture, which causes it to fail.  This was not reported in #4333. It is possible that the merchants facing issue #4333 might have manually or using some other plugin/custom code changed the order status to Capture.

As the steps to replicate this are clear, we

[2022-09-26 11:39] rogermattic commented on #4666
Hey @frosso !
Just adding this [Figma link here](https://www.figma.com/file/Yy1WqI163cKRcnANjHDb5i/WCPay%2FStripe-Assets---Shared-components-library?node-id=3%3A5433) for the reference as it contains all the payment method icons assets we have.

[2022-09-26 11:56] oaratovskyi opened #4801 "Handle 429 responses with lock_timeout error"
### Description
Sometimes Stripe responds with the code `429` when `confirmPayment()` is called. That's related to Stripe's internal issues, which do not have a timeline (of fix) for now.
They have suggested implementing next while they're working on a solution:

### Additional context
Slack threads:
- more info about Stripe response: p1664188787481779/1663167748.635789-slack-CGGCLBN58
- history o

[2022-09-26 12:30] rogermattic commented on #4720
👋 @harriswong  thanks for pinging me here!

Thank you for the great exploration on this @Mayisha and for all your inputs @frosso !

This is a tough one, cause these are conflicting gateways and I assume that if both are enabled, then we want to prioritize WooPay. From the first glance on it, I also like splitting "Credit card/ debit card" and "Link" into 2 separate payment methods, as it seems the

[2022-09-26 12:51] amElnagdy commented on #4664
5581720-zen

[2022-09-26 15:20] dreamtooloud commented on #2493
Potential case reported in 5553160-zen but it is not connected to a subscription but rather a simple product. Waiting to get more details from the customer to confirm it's not a conflict with another plugin.

[2022-09-26 16:20] jessy-p commented on #186
Reviewed this on the Engineering Review thread and based on paJDYF-5Cj-p2#comment-14189, we plan to kick off research into what other payment products do in terms of security practices, with the help of the Product Team. Assigning to Product Review queue @naman03malhotra

[2022-09-26 16:22] jessy-p commented on #4423
Based on feedback paJDYF-5Cj-p2#comment-14181 on Engineering Review thread, moving this to Prioritization queue to work on **a spike to check on the benefits of such a cache**.

[2022-09-26 16:24] jessy-p commented on #728
Closing for now, based on comment paJDYF-5Cj-p2#comment-14218

[2022-09-26 16:24] #728 closed

[2022-09-26 20:01] #4613 closed

[2022-09-26 23:55] alefesouza commented on #3904
Already included on #4328.

[2022-09-26 23:55] #3904 closed

[2022-09-27 06:16] fashuvo opened #4804 "Bundle size change message should be posted by github-actions"
### Description

We have introduced bundle size checking with this PR. But the bundle size change message are being posted by @fashuvo, while the messages should be posted by github-actions bot instead.

### Acceptance criteria

* The bundle size change comment should be authored by github-actions bot.

### Dev notes

Removing the linked Github token may resolve the issue.

### Additional context

[2022-09-27 09:29] RadoslavGeorgiev commented on #4776
`setcokie` sets a header, which will be sent to the browser, meaning that the cookie will be accessible within PHP only from the next request, not the current one. This is not what we are seeking here.

We have this code in place in order to make sure that a nonce, generated before the user was registered and logged in during checkout, would still be verifiable afterwards. In order to avoid this c

[2022-09-27 10:00] RadoslavGeorgiev commented on #4793
Let's try to get to the root of this issue to ensure that we are not breaking the experience for a lot of merchants.

[2022-09-27 10:53] RadoslavGeorgiev commented on #4793
1 SP for investigation, could be increased based on the potential fix.

[2022-09-27 11:12] jbordonado opened #4807 "WCPay as a managed plugin: Epic"
### Description
Let's make WooCommerce Payments a managed plugin on WP.com Atomic sites.

Findings: https://wcpay.wordpress.com/2022/09/15/wcpay-as-a-managed-plugin-on-atomic-findings/
Project Thread: https://wcpay.wordpress.com/2022/09/28/project-thread-wcpay-as-a-managed-plugin/

[2022-09-27 11:18] #4804 closed, assigned to fashuvo

[2022-09-27 16:33] Mayisha commented on #4680
Closing this as https://github.com/Automattic/woocommerce-payments/pull/4750 is merged.

[2022-09-27 16:33] #4680 closed, assigned to Mayisha

[2022-09-27 17:05] jbordonado commented on #4801
Herafter my initial analysis.

For the classic checkout + UPE, we are going through the following code, using `confirmPayment()` (there are other places where it's used): https://github.com/Automattic/woocommerce-payments/blob/ac01d080e496f942457261435b556b34d0ccf754/client/checkout/classic/upe.js#L514-L528

As per [their doc](https://stripe.com/docs/js/payment_intents/confirm_payment):

If `confi

[2022-09-27 17:37] mdmoore opened #4809 "Multiple UPE - Checkout fails when UPE is disabled"
### Describe the bug

On the `poc/upe-instances-multiplied`, checkout fails when the UPE is not enabled. We see different errors depending on if WooPay is enabled.

### To Reproduce

### UPE Disabled + WooPay Enabled

1. Disable UPE and enable WooPay
2. Attempt to complete checkout with a new card
3. This error occurs:

<img src="https://user-images.githubusercontent.com/6844516/191537194-71e345ab

[2022-09-28 08:44] ismaeldcom opened #4811 "Progressive onboarding prototype – Onboarding page"
### Description
Add an onboarding page which should be used as a replacement for the current Stripe KYC redirect. With the minimum required information inputs to enable payments on a single page form. Which on submit should redirect to Stripe KYC in order to complete TOS acceptance, and optionally add an external account.

Show a small notice to give the option to do a regular full onboarding on S

[2022-09-28 08:49] ismaeldcom opened #4812 "Progressive onboarding prototype – Update overview page"
### Description
Update the overview page to allow the merchant to finish the onboarding redirecting them to Stripe.

### Acceptance criteria
- Adding a button or link which redirects to Stripe KYC only if payments or payouts are disabled and the account is using progressive onboarding.

[2022-09-28 09:18] jbordonado opened #4813 "[Release automation] Exploration"
### Description
We started to write a PRD: https://docs.google.com/document/d/1lQKzcpeRgDY5rFvT1s2GA0gn6jWG9-CUZ-VGEk7Ux1w/edit?pli=1#

After getting feedback, we can explore what options we have to implement the various automation we are thinking of, to remove the unknowns as much as possible.

[2022-09-28 09:37] oaratovskyi commented on #4801
@jbordonado let me know if you want me to reply to Stripe via the existing email thread and cc you there (I was cc'ed there as this week's janitor), that might speed things up a bit.

[2022-09-28 09:46] jbordonado commented on #4801
I didn't have time to follow up on that yet.
It would be great if you could confirm with them if they had in mind that we call `retrievePaymentIntent` and check the status (`succeeded`?) to confirm whether the order is OK so we can ignore the `lock_timeout` error and proceed to the confirmation page anyway.

Pinging @zmaglica as he will work on it instead of me

[2022-09-28 10:00] ismaeldcom commented on #4744
Until we have the final design we cannot know for sure the required components. But for now, I see we will need a `TextControl` (input) with a formatting feature.

For example, to format date and SSN inputs value:

<img width="250" alt="Screenshot 2022-09-28 at 11 59 43" src="https://user-images.githubusercontent.com/7670276/192750631-505077c0-cdf0-49a3-86e4-2bf60bfdccb6.png">

[2022-09-28 10:08] oaratovskyi commented on #4801
Thanks a lot @jbordonado !
I've asked Stripe via email and cc'ed @zmaglica.

[2022-09-28 12:24] jbordonado opened #4815 "[Managed plugin] Request the change to Atomic team"
### Description
Request the Atomic team to make WCPay a managed plugin on their platform.

Atomic P2: https://atomicp2.wordpress.com

We will want them to use the WP.org links instead of GitHub releases (for initial deployment and their watch-new-releases process)

Example of request:
- https://atomicp2.wordpress.com/2022/07/25/request-add-product-recommendations-as-a-managed-plugin/
- https://ato

[2022-09-28 12:32] jbordonado opened #4816 "[Managed plugin] Update the documentation"
### Description
Document the impact of WooCommerce Payments being a managed plugin on the Atomic platform.

### Acceptance criteria

* The [release train model documentation](https://wcpay.wordpress.com/dev-resources/release-train-model/) is up to date w.r.t. to the Atomic deployment and monitoring during each release
* The documentation around WooCommerce Payments & WP.com Atomic sites is up to d

[2022-09-28 12:37] jbordonado opened #4817 "[Managed plugin] Monitoring for WCPay 4.9.0"
### Description
Provide support for the release lead during the release of WCPay 4.9.0 (October 19).

Release calendar: https://wcpay.wordpress.com/dev-resources/wc-payments-release-calendar/

### Acceptance criteria

* The new version released on WP.org is detected by the Atomic team and deployed to the Atomic platform

### Dev notes
https://wcpay.wordpress.com/2022/09/15/wcpay-as-a-managed-plugi

[2022-09-28 15:53] jessepearson opened #4818 "Multi-Currency Analytics Compatibility fatal error"
### Describe the bug
The `Compatibility::convert_order_prices` method believes that it will be receiving an array of orders, however, it may receive a single order object. The filter being used to call this method filters the WooCommerce core method `WC_Order_Query::get_orders` which has this as the return value in the docblock `@return array|object of WC_Order objects`

This was found via logs in

[2022-09-28 18:34] pierorocca commented on #4720
From Britni

Regardless, we've fulfilled the milestone by having Link available as a payment method. That was the gist of our commitment.

It would be preferable to have Link as a method within the UPE stack than have it compete or have it muddle up the WooPay UI/UX. Another alternative that could be explored is to have Link as an express checkout button only with no OTP trigger from the email for

[2022-09-28 23:06] dechov commented on #3998
Reopening, as we've seen more occurrences of this issue (paJDYF-4tz-p2), and the logging could be helpful but doesn't constitute a solution

Edit: Adding #5631747-zen as another ticket experiencing the issue.

[2022-09-29 07:35] dpaun1985 opened #4821 "StripeLink: Link is not enabled on frontend for 'capture later'"
### Describe the bug

### To Reproduce

1. Go to WC Admin
2. Enable Link payment method
3. Enable 'Capture later'
4. Link is not active on frontend

### Actual behavior

Link payment method is not kicking in when 'capture later' flag is enabled.

### Expected behavior

Link should work also when capture later is enabled.

[2022-09-29 12:30] eduardoumpierre commented on #353
The work on this issue was paused due to changes in the priorities and might be tackled in paJDYF-50Z-p2.

[2022-09-29 13:29] kalessil commented on #4789
@AashikP, WooCommerce core considers `processing` to indicate paid order status, and from this perspective, the behavior is correct (more details [here](https://github.com/Automattic/woocommerce-payments/pull/4805#discussion_r983541151)).

Possible mitigations (from the linked comment):

cc @dpaun1985, I believe we should close the PR.

[2022-09-29 13:41] kalessil commented on #4789
@dpaun1985 explained that we can capture the order in this status and suggested fixing the root cause, by disabling capture somehow for this case.

Is that something we should look into?

[2022-09-29 13:47] dpaun1985 commented on #4789
I think we have 2 options if the order has one of the paid statuses ( processing/completed ) :
1. hide the charge order option and make sure that the order will not be charged
2. let the merchant charge the buyer even if the order is considered paid, add the action in order notes and let the possibility for the merchant to refund the charge ( implemented  [here](https://github.com/Automattic/wooco

[2022-09-30 03:25] shendy-a8c commented on #4393
This issue is still valid.

I just tested by following these steps:
1. Install [WP-Console](https://wordpress.org/plugins/wp-console/).
2. Open the `Console` menu from the top bar of the admin page.
3. Run this code
[code]
4. Note that the `$order_id` returned in this [line](https://github.com/Automattic/woocommerce-payments/blob/7f953796b1a4ec8df6c072c7d9751e38fb792a95/includes/class-wc-payments-

[2022-09-30 08:55] jbordonado opened #4824 "[Release automation] Post-release updates"
### Description
After [releasing the plugin](https://fieldguide.automattic.com/developing-woocommerce-payments/client-deployment/), we have to take care of some steps:
- Create a GitHub release (and a tag)
- Merge trunk changes into develop
- Create a new [wiki placeholder page](https://href.li/?https://github.com/Automattic/woocommerce-payments/wiki/Release-testing-instructions-for-WC-Payments-2.

[2022-09-30 09:01] jbordonado opened #4825 "[Release automation] Update the release train documentation for Phase 1"
### Description
Once all changes from phase 1 are shipped, we will want to update the [release train documentation](https://wcpay.wordpress.com/release-train-model/) with the impact and usage of the new automation available.

### Acceptance criteria

* The release doc is up to date with the latest automation implemented

[2022-09-30 09:21] rogermattic commented on #2730
👋 Thanks for bringing this to my attention!

@DanReyLop  If you don't mind I just wanted to clarify a few issues, so that I understand this clearly.
When you said:

Does that mean that the _real_ total of a deposit won't be reflected at all in any of these values – not in the `next deposit` (as this will just display $150 in the example you've described) or even the `pending balance` or `available

[2022-09-30 12:19] daquinons opened #4827 "Modal in WC Core incentive needs to have a more clear copy"
### Describe the bug
There has been some feedback from a user about how the wording in the modal that is displayed on the WC Core incentive page is not clear enough.

We need to update its text according to this comment parYuf-sD-p2#comment-787

[2022-09-30 19:00] jesscga commented on #4801
Noting that there's an update from David at Stripe:

I put the [ticket](5574871-zd-woothemes) on a 72-hour hold in case anyone wants to follow up on Monday.

[2022-09-30 21:11] gpressutto5 commented on #4724
Removing the "new checkout experience" setting (`_wcpay_feature_upe`) also includes removing any banner, button, or message related to disabled UPE or referencing the "Early access" to this feature (besides the "Early Access" badge) because they are all tied to this flag. After the changes, wcpay will behave as if the "new checkout experience" was always enabled, minus the options to disable it.

[2022-10-01 14:29] stuartduff opened #4829 "Recurring Subscription Payments failing with errors for some customers"
### Describe the bug

It seems this commit below within v4.8.0 of WooCommerce Payments is causing subscription renewal payments and retries to fail for customers using WooCommerce Payments included Subscriptions features.

**Commit:** https://github.com/Automattic/woocommerce-payments/commit/e25a7e55cdcae2d407fd2a59753e6526e8ecfe54

### To Reproduce

I have not as yet been able to reproduce the er

[2022-10-01 16:47] fernmed commented on #4829
5598038-zen
5598172-zen

having same error appear on multiple subscription renewals.

[2022-10-01 20:53] jnineb commented on #4829
5599508-zen

Having the same error occur for multiple subscriptions using WCPay

[2022-10-01 20:58] csmcneill commented on #4829
@stuartduff @fernmed @jnineb do these affected users have WC Subs and are using WCPay as the gateway? Or are they just using WCPay Subs?

[2022-10-01 21:00] csmcneill commented on #4829
cc’ing @james-allan here since this appears to be related to his commit.

[2022-10-01 21:14] jnineb commented on #4829
reported in [5599021-zen](5599021-zd-woothemes)
Using WC Subscriptions and WCPay as the payment gateway

[2022-10-01 21:17] fernmed commented on #4829
@csmcneill Of the ones I found, and the ones I observed in the queue that Stuart assisted on, they all are using WC Subs and WC Pay as the gateway.

[2022-10-01 21:17] jnineb commented on #4829
@csmcneill The two I've come across were both using WooCommerce Subscriptions and WCPay as the payment gateway. [5599508-zen](5599508-zd-woothemes) has subscriptions also processed via Stripe and PayPal, which have been unaffected.

[2022-10-01 22:24] jnineb commented on #4829
reported again in 5599314-zen they indicated the issue began after recently updating WCPay

[2022-10-02 01:26] AbhinavSakalle commented on #4829
Reported in 5598920-zen. Retrying a manual renewal didn't work for them.

[2022-10-02 13:30] ChrissiePollock commented on #4829
#5599166-zen said " It looked like it wanted me to activate both Woo Payments AND Stripe on the plugins screen. I just turned off Stripe and kept Woo Payments activated. Still the same problems, though." Their Stripe had been disconnected earlier (not by them -- that was a glitch as well. Not sure if that is related to this issue.)

[2022-10-02 16:14] csmcneill commented on #4829
37209933-hc

[code]

Edit: Reverting to 4.7.2 and retrying the renewal payment worked:

<img width="321" alt="Markup 2022-10-02 at 11 27 29" src="https://user-images.githubusercontent.com/82999806/193468190-479d86b6-bd35-4eb8-b0b0-4ab939534286.png">

[2022-10-02 19:46] haszari commented on #4829
Linking in more context. The linked commit is from PR #4790. This is a fix to prevent WCPay Subscriptions (stripe-billing subscriptions) double-charging when the site has WC Subscriptions active. This scenario would apply to sites that switched to WC Subscriptions (e.g. upgraded from built-in free option to paid option).

- #4788

Couple of possible issues here to investigate:

- Dependency issue

[2022-10-02 21:54] EjayhanFernandes commented on #4829
Confirming that this also worked in 5597793-zen.

[2022-10-03 00:49] anhtruong1993 opened #4831 "Deposit schedule: Temporarily suspended"
It's been 3 weeks since the payout time has passed, but it's still not active.
Please help.
![Screenshot_1](https://user-images.githubusercontent.com/108404042/193484338-e1273068-bd33-4b65-9c14-06ae3b7208d8.png)

[2022-10-03 01:30] csmcneill commented on #4831
Howdy @anhtruong1993,

What you are experiencing may or may not be a bug. I recommend that you [open a support ticket](https://woocommerce.com/my-account/create-a-ticket) so that a member of the WooCommerce support team can help you determine the root cause of this issue. Please provide a copy of [your System Status Report](https://woocommerce.com/document/understanding-the-woocommerce-system-stat

[2022-10-03 01:30] #4831 closed, assigned to nobody

[2022-10-03 01:32] EjayhanFernandes commented on #4829
Another report here: 5601614-zen. Asking them to roll back to version `4.7.2`.

[2022-10-03 01:33] anhtruong1993 commented on #4831
I opened the ticket but did not receive any reply, and the time is too long compared to the woocommerce payments docs stated is 7 days, if this is not a bug then what is?

[2022-10-03 01:55] csmcneill commented on #4831
@anhtruong1993 Do you have any information that could help me find the ticket on our end? A ticket number or site URL would go a long way toward helping me find your inquiry in our system.

[2022-10-03 02:42] csmcneill commented on #4831
Reached out to see if we can find this ticket using our internal tools: p1664764919746829-slack-CJK2SLCJH

[2022-10-03 06:18] thisissandip commented on #4829
5599941-zen. Asked them to roll back to version 4.7.2 and retry the renewal payment

[2022-10-03 06:21] thisissandip commented on #4829
Another report: 33607658-hc | 5601965-zen

[2022-10-03 08:05] RadoslavGeorgiev commented on #4809
@mdmoore how are you keeping track of _Multiple UPE_ issues? I've moved this to the Projects section of the WCPay Backlog board, but I want to make sure we are keeping tabs on it. Could you maybe create an epic?

[2022-10-03 08:14] RadoslavGeorgiev commented on #4829
Moving this issue to the _Other Teams_ queue in the WCPay backlog, because it is being looked into: p1664761278711219-slack-C02BW3Z8SHK

@haszari there seem to be a lot of reports, ping me if you need help triaging this.

[2022-10-03 08:32] #4813 closed, assigned to jbordonado

[2022-10-03 08:36] kaushikasomaiya commented on #754
Ref: 5597157-zen

Wondering when/how does the dispute decision takes place? If a dispute is lost and admin is not logged in, the `refunded by` will always be taken from admin having ID 1. (https://d.pr/i/6iMqpd)

https://github.com/Automattic/woocommerce-payments/blob/ca4325592ba30bf2d15bd09c5d4e407e2a747fc2/includes/class-wc-payments-order-service.php#L285

CC: @ibndawood

[2022-10-03 13:47] #4664 closed, assigned to deepakpathania

[2022-10-03 13:55] csmcneill commented on #4831
We're unable to locate your ticket or account with the information provided @anhtruong1993.

Please contact us again through a normal support channel and reference this GitHub issue—we'll be glad to help.

[2022-10-03 14:54] csmcneill commented on #4829
36758763-hc

[2022-10-03 15:29] kingsleyinfo commented on #4829
Also seen here: 5602994-zen

Suggested the workaround

[2022-10-03 16:51] daquinons opened #4834 "Update Payments in WC Core requirements and ensure it's dismissed on every scenario"
### Describe the bug
According to this conversation parYuf-sD-p2#comment-779 we need to dismiss the Payments menu that is created in the WC Core incentive offer screen when the user selects to not install WC Payments, no matter if the survey is completed.

And update offer requirements to only show it when there is another payment gateway already installed.

[2022-10-03 18:32] csmcneill commented on #4829
5597209-zen

[2022-10-03 18:58] johndcoy commented on #4547
@thenbrent We have an issue in [zd-5542919](https://woothemes.zendesk.com/agent/tickets/5542919) where the [customer's September 12th renewal ](https://dashboard.stripe.com/connect/accounts/acct_1JwaCQ2H65Yyiz4N/customers/cus_L8hgqh1tAsnztN)was canceled in WCPay due to `Cancellation reason: void_invoice`, and what appears to be future renewals:

![Screenshot](https://d.pr/i/jnmeDZ+)
Screenshot lin

[2022-10-03 20:10] johndcoy commented on #4829
Another in 5603014-zen

This ticket has PHP and DB logs

/var/log/litespeed/php_errors.log
/var/log/mysql/mysqld.log

[2022-10-03 20:42] cesarcosta99 opened #4835 "Console error on Gutenberg editor"
### Describe the bug

Not really a bug **yet**, but there are a bunch of errors triggered when we visit the Gutenberg editor. Deactivating the plugin makes the errors go away.

### To Reproduce

1. Open the browser dev tools.
2. Go to `WP Admin > Posts > Add New`.
3. You'll see a bunch of `Moment Timezone has no data for WP.` errors.

### Actual behavior

I didn't notice any strange behaviors besi

[2022-10-03 20:42] haszari commented on #4829
@stuartduff  @kingsleyinfo @csmcneill @thisissandip Has anyone confirmed reproduce steps for this issue yet? I tried on my test site yesterday and couldn't reproduce the issue. Here's the flow I tested:

- _Set up a subscription…_
- Activate WC Subscriptions and WCPay (4.8) as payment gateway – using subscriptions integration
- Make a subscription product (1 day renewal)
- Purchase a subscription

[2022-10-03 20:52] cesarcosta99 opened #4836 "Console error on Customize page"
### Describe the bug

Not really a bug **yet**, but there is an exception thrown when we visit the Customize page. Deactivating the plugin makes the exception go away.

### To Reproduce

1. Open the browser dev tools.
2. Go to `WP Admin > Appearance > Customize`.
3. You should see a JS exception: `TypeError: Cannot read properties of undefined (reading 'isEnabled')`.

### Actual behavior

I didn't

[2022-10-04 01:07] FangedParakeet commented on #4672
So it turns out that this is indeed possible, though not exactly in the way that I'd imagined!

By first tweaking the #3968 branch, so that all payment elements would share the single intent--all using the same payment method--I confirmed that it is possible to have multiple payment elements on the page all using the same payment/setup intent. I tried to update the payment intent after mounting, b

[2022-10-04 01:54] anhtruong1993 commented on #4831
hi my friend. please check my account.

[2022-10-04 01:55] anhtruong1993 commented on #4831
[Edit] personal email removed.

[2022-10-04 03:20] AbhinavSakalle commented on #4829
@haszari attempting a renewal resulted in "Fatal error: Uncaught Error: Class 'WC_Payments_Subscription_Service' not found"
Path: wp-content/plugins/woocommerce-payments/includes/compat/subscriptions/trait-wc-payment-gateway-wcpay-subscriptions.php on line 270

[2022-10-04 03:21] AbhinavSakalle commented on #4829
5604379-zen

[2022-10-04 03:24] csmcneill commented on #4829
Our engineering team has determined that if `WC_Payments_Features::is_wcpay_subscriptions_enabled` returns `false`, and a subscription renews, this triggers the error.

`WC_Payments_Features::is_wcpay_subscriptions_enabled` returns `false` if `Enable Subscriptions with WooCommerce Payments` is not checked in the WCPay advanced settings. This option is only available for US accounts, so it will alw

[2022-10-04 05:02] nicdwilson commented on #4829
5604140-zen

[2022-10-04 07:50] jbordonado commented on #4835
Relates to #4711 maybe? cc @deepakpathania

[2022-10-04 09:22] mordeth commented on #4513
https://github.com/Automattic/woocommerce-payments-server/pull/2540

[2022-10-04 09:59] francoishvz commented on #4829
37236321-hc Asked them to roll back to version 4.7.2 and retry the renewal payment which worked.

[2022-10-04 10:22] stuartduff commented on #4829
5604768-zen Provided steps on how to roll back to v4.7.2

[2022-10-04 11:02] #4818 closed, assigned to nobody

[2022-10-04 12:09] RadoslavGeorgiev commented on #4836
@cesarcosta99 which versions were you running here? I could not reproduce this locally with WP 6.1-beta2 & neither `trunk` nor `develop`.

[2022-10-04 12:09] RadoslavGeorgiev commented on #4835
@cesarcosta99 which versions were you running here? I could not reproduce this locally with WP 6.1-beta2 & neither `trunk` nor `develop`. (same as the other issue)

[2022-10-04 12:24] imodouglas commented on #4829
5602954-zen is affected as well. Found [this Droplr link](https://d.pr/f/hennYe) with the v4.7.2 file. Hope this helps!

[2022-10-04 17:08] frosso opened #4842 "UPE disable menu shift"
### Describe the bug

When the "Disable UPE" menu opens, the page shifts and the menu icon changes position.
There should be no shift of content when the menu opens.

### To Reproduce

- Ensure you have the UPE enabled
- Click on the hamburger menu
- Shift happens

### Actual behavior

Content shift happens.

### Screenshots

![2022-10-04 10 07 01](https://user-images.githubusercontent.com/273592/

[2022-10-04 17:38] csmcneill commented on #4829
@imodouglas Since WCPay is a public repo, all releases are available directly from GitHub. They're also available from WordPress.org, which means there's no real need to rely on an external file-sharing service to share older versions of the software.

- GitHub link to 4.7.2: https://github.com/Automattic/woocommerce-payments/releases/download/4.7.2/woocommerce-payments.zip
- WordPress.com link to

[2022-10-04 19:10] a-danae commented on #4842
@frosso, can you replicate this behavior on a fresh site? I'm on the latest develop, and things look okay over here.

![LWciWl.gif](https://user-images.githubusercontent.com/41606954/193904733-bd70d222-e9ab-4438-a6f0-262c8c0ebfdc.gif)

[2022-10-04 19:40] cesarcosta99 commented on #4829
Closing this issue since the fix is merged and released in [4.8.1](https://wordpress.org/plugins/woocommerce-payments/).

[2022-10-04 19:40] #4829 closed, assigned to brucealdridge

[2022-10-04 20:29] cesarcosta99 commented on #4835
@RadoslavGeorgiev, haven't tried locally. I have been able to reproduce this consistently with WCPay 4.8.0 (also 4.8.1 now) in a JN site with the default versions. Also reproducible with WCPay 4.7.2, but haven't tried with older versions. Same for #4836.

[2022-10-04 22:03] Brianmitchtay commented on #4771
Seeing this come up again in 5606797-zen

In this case the refund attempt is trying to refund the Charge ID of one of the blocked payments, rather than the later charge ID of the successful payment. On the user's end they are getting an error in their order notes saying that there is no successful charge to refund.

![CFLnyD.png](https://user-images.githubusercontent.com/45057772/193938139-83e8efa

[2022-10-04 22:32] marklifeboxfood commented on #3742
Hi team, any chance this bug will meet it's maker before the December period?

[2022-10-05 00:02] frosso commented on #4842
@a-danae Thanks for the ping, I noticed that this is happening with the Gutenberg plugin enabled. I am guessing that there are some updated Wordpress components that are affecting the CSS and the behavior of the site.

[2022-10-05 00:51] csmcneill commented on #4831
We were able to find an inquiry in our system with the information provided.

You can respond to our previous message if you'd like more information about your inquiry, or you can create a new ticket at https://woocommerce.com/my-account/create-a-ticket/

Please note that GitHub is not a dedicated support channel, and we will be able to assist you more quickly via ticket.

[2022-10-05 01:34] james-allan commented on #4547
I had a look at the subscription in question and the subscription was suspended in Stripe (pause collection) on Aug 19th at 8:30am UTC.

<img width="886" alt="Screen Shot 2022-10-05 at 11 11 44 am" src="https://user-images.githubusercontent.com/8490476/193958346-861deb0a-50de-453f-a85f-54a65f7764bd.png">

This is a request that came from the WC Payments server most likely from a request from the s

[2022-10-05 06:20] dpaun1985 opened #4843 "StripeLink: Settings wording tweaks"
### Description

For Express checkout section we need to:
<img width="615" alt="Screenshot 2022-10-05 at 09 15 30" src="https://user-images.githubusercontent.com/82826872/193993541-0aa3a6f1-aae5-4836-ab34-a92a117a6ae0.png">
* Update the “learn more” link that links to an express checkout section in the documentation where merchants can easily find information on Apple Pay, Google Pay, and Link
* I

[2022-10-05 07:06] dpaun1985 opened #4844 "StripeLink: Inbox notification"
### Description

A new inbox notification has to be added in admin WC -> home

Title: Increase conversion at checkout
Copy: Reduce cart abandonment and create a frictionless checkout experience with Link by Stripe. Link autofills your customer’s payment and shipping details so they can check out in just six seconds with the Link optimized experience. That’s 9x faster than shoppers who don’t use Li

[2022-10-05 08:26] dpaun1985 opened #4845 "Stripe Link: Pre-fill first and last names on checkout"
### Description

Similar to how Stripe Link pre-fills user addresses, we should implement the feature to pre-fill the first and last names on the checkout page.

### Acceptance criteria

* First and last names should be pre-filled on checkout along with other user details.

[2022-10-05 08:31] #4845 closed

[2022-10-05 11:22] dougaitken commented on #4831
I'm locking this conversation, GitHub is not a support channel. Please reach out to the team directly via WooCommerce.com and reply to any email we've sent.

[2022-10-05 12:29] tommyshellberg opened #4846 "Update by January 1970 to avoid a disruption in deposits."
### Describe the bug
It is possible that a user may have pending requirements for the account that do *not* have a deadline, which can be stored within `future_requirements` of the account object.
This sets the account's status to `restricted_soon` and [prompts a task to complete their account information](https://github.com/Automattic/woocommerce-payments/blob/8cb0e930add4d4371d6e32fd7224f3d967a8

[2022-10-05 16:32] elizaan36 commented on #4724
This makes sense to me.

Is there definitely no Inbox note or task directing to the wizard? I remember there was one previously but it may have been removed already. I think we should keep the wizard for future setup improvements, but just remove the "New"/"Early access" language.

For things like getting WooPay working on the store, I believe we still need the ability to disable the UPE at this l

[2022-10-05 16:35] nicholasjeberlin commented on #4565
5591504-zen

[2022-10-05 17:04] csmcneill opened #4847 "Some Users Unable to Save Settings Due to Console Error Related to APMs"
### Describe the bug
Some [WooCommerce Payments](https://woocommerce.com/products/woocommerce-payments/?aff=10486&cid=1131038) merchants are unable to save their settings at **Payments > Settings**. When they attempt to, they see an `Error Saving Settings` pop-up, and the following error appears in console:

[code]

Only merchants utilizing UPE are affected.

### To Reproduce
We've been unable to

[2022-10-05 17:50] rogermattic commented on #4720
Following up on my previous comment, here are some brief ideas on what we could do (as an alternative to the ideas discussed above):

Link could be available as one of the express checkout buttons:
![d](https://user-images.githubusercontent.com/94967682/194124491-d1b55794-5f11-4271-a1d8-7f0565463a84.png)

If we decide to stick with a modal, I thought something like this could work (WIP). In a nuts

[2022-10-05 18:29] daquinons opened #4849 "Additional info about the KYC process needs to be displayed as an optional modal"
### Description
According to this conversation paqDfi-4UD-p2#comment-11996 we need to add a banner that is displayed before Onboarding has started, offering some information about the KYC process

![image](https://user-images.githubusercontent.com/2612426/194134463-5ce51c71-ca14-42fe-ba44-5874b65bbf9b.png)

When clicking on it, a modal will appear showing the explanatory text

![image](https://use

[2022-10-05 18:34] a-danae commented on #4842
Gotcha! I can replicate this behavior with Gutenberg since its 13.3.0 version. Thanks for clarifying!

[2022-10-05 19:09] johndcoy commented on #4847
5606978-zen

Unlike the workaround above, this user had UPE disabled. I've asked them to enable and disable it to see if that helps.

[2022-10-05 20:51] gpressutto5 commented on #4724
Thank you, @elizaan36!

That won't be the case anymore. With UPE-split, we will use the existing Credit Card element even when UPE is enabled, so there's no use in disabling UPE.

[2022-10-05 23:00] mdmoore commented on #4809
@RadoslavGeorgiev We're currently keeping track of Multiple UPE issues in our team spring board, so no worries about having them in the WCPay Backlog.

Closing this now as it will be solved when #4670 is merged.

[2022-10-05 23:00] #4809 closed, assigned to mdmoore

[2022-10-06 05:54] anant1811 commented on #4847
5608374-zen

Update: the workaround worked for the customer in this one.

[2022-10-06 08:09] jbordonado commented on #4815
Request made here: [Request: Add WooCommerce Payments as a managed plugin](https://atomicp2.wordpress.com/2022/10/06/request-add-woocommerce-payments-as-a-managed-plugin/)

[2022-10-06 08:53] RadoslavGeorgiev commented on #4836
Tested on JN, I don't see the same error, but one about Tracks, also coming from `tos.js`. We should definitely add some checks to the file:

![image.png](https://images.zenhubusercontent.com/5f2d57d80f11ae56d6a5daa8/12cf9e06-d590-4c39-bbcc-36af4937f868)

[2022-10-06 08:56] RadoslavGeorgiev commented on #4835
Yup, seeing it now. Thank you, @cesarcosta99!

We might need to tinker wit JS locally to reproduce this, but JN definitely confirms it.

[2022-10-06 09:27] RadoslavGeorgiev commented on #4847
I tried reproducing this myself, but couldn't. I'll keep the issue in triage state, and every clue would be useful in the meantime.

The AJAX call to save the settings could be very useful. If there is a tech-savvy user, or you get access to the admin, please (ask them to) do the following:

1. Open dev tools (Command + Option + I on Mac)
2. Go to the network tab
3. Clear it
4. Try saving the sett

[2022-10-06 09:48] dmallory42 opened #4853 "Progressive Onboarding: Collect the MCC and pre-fill it in Stripe's KYC"
### Description

After [this issue](https://github.com/Automattic/woocommerce-payments/issues/4744) that tackles the needed UI components and coupled with [this WCPay server issue](https://github.com/Automattic/woocommerce-payments-server/issues/3193), we need to introduce an MCC select control in our onboarding wizard to allow merchants to select the appropriate MCC for their business.

After tha

[2022-10-06 09:55] kalessil commented on #4847
I was able to reproduce it, it's related to Stripe Link:
![Screenshot from 2022-10-06 11-52-59](https://user-images.githubusercontent.com/1577185/194283845-b3876526-ee6e-4e00-aa8c-445833996407.png)

Key steps:
- enable Stripe Link while UPE is enabled
- disable UPE
- refresh the settings page and try saving them

[2022-10-06 09:56] kalessil commented on #4847
@dpaun1985 can you look into it, please?

[2022-10-06 10:08] kalessil commented on #4847
It might be related to the fact that [this fallback](https://github.com/Automattic/woocommerce-payments/blob/develop/includes/class-wc-payment-gateway-wcpay.php#L3115) is used for available payment methods when UPE is disabled (it's the only card in the fallback).

And this is relevant to other payment methods:
![Screenshot from 2022-10-06 12-07-04](https://user-images.githubusercontent.com/157718

[2022-10-06 10:12] dpaun1985 commented on #4847
It's not really link related. I don't have much experience with UPE. Perhaps, can someone else handle this ?

[2022-10-06 10:22] RadoslavGeorgiev commented on #4293
This issue should only solve the particular instance (`get_order_from_event_body_intent_id` and `boolean|WC_Order|WC_Order_Refund`) and list all other instances of this return type. The new issue should be marked as Priority 3.

[2022-10-06 10:40] RadoslavGeorgiev commented on #3651
Asked for status here: p1665052811192039/1642197321.014500-slack-CGGCLBN58

[2022-10-06 11:11] dmallory42 commented on #3651
I was asked by @daquinons to add a bit more context to this issue as it may effect how it is estimated.

The reason that these conversions need to happen in the SQL queries is to support showing calculations for order amounts in the correct currency. As discussed in #4632, we modify the analytics queries to see if we need to perform currency conversions on the figures.

The `wp_wc_order_stats` tab

[2022-10-06 13:58] a-danae opened #4855 "WooPay OTP modal shows up when the user is automatically redirected to WooPay"
### Describe the bug
When the user is logged into WooPay, the OTP modal still shows up even though it's not needed. The user gets redirected to WooPay as expected, but the modal makes the experience confusing.

### To Reproduce

1. Add a product to the cart and go to the checkout page
2. Use an email that exists in WooPay and complete the purchase paying via WooPay
3. Again, add a product to the c

[2022-10-06 17:20] bborman22 commented on #4666
I just wanted to clarify something on this issue in case I'm missing some additional context coming in a bit late. This request to add icons is only relevant to multiple UPE set up correct? Since the only way to add these additional payment methods through WCPay is through UPE and the default UPE would have them all grouped under the "Popular payment methods" heading, the only way WCPay adds a row

[2022-10-06 17:50] frosso commented on #4666
@bborman22 AFAIK, the icons should be added to both the UPE payment method and to the other non-UPE payment methods.

@rogermattic @elizaan36 is this accurate?
I created this ticket as a follow up from paJDYF-58k-p2#comment-13580

[2022-10-06 19:03] aheckler commented on #4844
That links goes to the Stripe plugin docs, not the WC Pay docs. The link should lead here:

https://woocommerce.com/document/payments/woocommerce-payments-stripe-link/

[2022-10-06 19:06] aheckler commented on #4703
@kalessil The WC Pay doc for Stripe link ([here](https://woocommerce.com/document/payments/woocommerce-payments-stripe-link/)) does not mention subscriptions at all currently. You're saying we should update it to mention that it supports subscriptions after 4.9.0 is released?

[2022-10-06 19:31] dpaun1985 commented on #4844
indeed, thank you @aheckler .

[2022-10-06 22:55] aprea opened #4856 "Remove `_wcpay_feature_custom_deposit_schedules` feature flag"
### Description
A `_wcpay_feature_custom_deposit_schedules` feature flag was added early in the development of the Custom Deposit Schedule (pdjTHR-1c8-p2) project. This feature flag is no longer needed and can be removed.

### Acceptance criteria

* Remove the feature flag and related code: https://github.com/Automattic/woocommerce-payments/blob/914f3139a2b227ce73753382d6f96fd76b43ec30/includes/cl

[2022-10-07 05:38] thisissandip commented on #4847
Another one: 37293230-hc

The workaround worked for this customer.

[2022-10-07 07:04] kalessil commented on #4703
@aheckler, nope I was referencing internal dev-docs used for know-how sharing and transfer.

[2022-10-07 11:25] jbordonado commented on #4815
Announcement made here: p1665141845129469-slack-C0741730R

[2022-10-07 11:26] #4815 closed, assigned to jbordonado

[2022-10-07 11:33] #4801 closed, assigned to zmaglica

[2022-10-07 12:40] achyuthajoy opened #4858 "Investigate multiple intents/charge being added to an order"
### Describe the bug

We've previously came across multiple cases where multiple intents were added to a order sometimes resulting in duplicate charges. The duplicate charges needed to be refunded manually from Stripe dashboard since the order meta saves only 1 charge id. More info regarding can be found in this p2 - paJDYF-4tz-p2#comment-14360

Reproducing this behavior is hard, but some discussi

[2022-10-07 14:20] Mayisha commented on #4722
In the POC branch the payment methods section and the order summary section seem to be re-rendered as expected. Here is some of the cases I tested and the results-
🟢 With multiple currency enabled, when the currency is changed (e.g change from Euro to USD) the whole checkout page re-renders and the other UPE methods are hidden except `credit card/debit card`. This experience is same as the `develo

[2022-10-07 14:20] Mayisha commented on #4722
@harriswong please check if I missed anything :eyes:

[2022-10-07 15:34] #4842 closed, assigned to a-danae

[2022-10-07 18:07] harriswong commented on #4722
Thanks for checking this through @Mayisha!

Double checking against the pre-mortem notes (paJDYF-5qJ-p2).

✅  This is checked.

I think this is also checked off right? When we switch payment methods in this branch, tax and shipping adjust accordingly?

[2022-10-07 21:26] rlmajcom opened #4861 "Cannot dequeue wc-blocks-checkout-style-css found in footer"
### Describe the bug

I have the following WooCommerce Payments stylesheet being loaded in my tag and have not been able to find out how to remove it:

<link rel='stylesheet' id='wc-blocks-checkout-style-css'  href='https://www.example.com/wp-content/plugins/woocommerce-payments/dist/upe-blocks-checkout.css?ver=1.0' media='all' />
(I only use WooCommerce on certain pages so therefore do not need a

[2022-10-10 08:20] dpaun1985 opened #4863 "Spike: check if Apple pay supports capture/authorization workflow"
Check if Apple pay supports capture/authorization workflow

[2022-10-10 12:07] RadoslavGeorgiev commented on #4861
Hi @rlmajcom, this is out of WCPay's control. I've recreated the issue in the WooCommerce Blocks repo, as folks there are likely much more familiar with the way scripts are enqueued.

[2022-10-10 16:01] Mayisha commented on #4720
@rogermattic the designs look great and with WooPay being visible in form of a button makes things straight forward from the user's perspective as well. :tada:

About the `default` method setting I feel like a `default` payment method should be more of a shopper's choice than the merchant's choice. Though I am allowed to switch, one shop always opening WooPay for me, another always opening Link fo

[2022-10-10 18:02] #4792 closed, assigned to alefesouza

[2022-10-10 18:25] rossviviano commented on #4847
Another one - 5615729-zen

[2022-10-10 22:26] FangedParakeet opened #4906 "Multiple UPE - Update POC branch"
### Description

The current working branch #3968 has fallen quite a long way behind the `develop` branch. This is probably quite overdue, but let's merge `develop` back into this branch to save us some more pain further down the line.

The merge appears like it could be a little messy, so let's use this issue to handle this task independent of any active work. Cheers!

### Acceptance criteria

*

[2022-10-10 22:38] FangedParakeet opened #4907 "Multiple UPE - Resolve failing tests and checks"
### Description
The unit tests on the current working branch have been failing for quite a long time: I didn't update or create any new unit tests when I first created the POC branch and I'm not too sure that any have been updated since. Nonetheless the split-UPE fundamentally changes the checkout layout and the ways in which the payment gateway classes are utilised.

We need to update these tests

[2022-10-11 01:21] mattallan opened #4908 "Error creating WCPay Subscription with delayed first payment (trial/sync) from the update payment method flow"
## Describe the bug

When creating a WCPay Subscription that has a delayed first payment (trial/sync) through the update payment method flow, we received the following error message from Stripe:

[code]

Slack thread: p1665243603695169-slack-C46H1UYN4

I can't seem to find anything about this error message in the Stripe docs but I've been reading this https://stripe.com/docs/billing/subscriptions/

[2022-10-11 05:27] Mayisha commented on #4722
This one seems also covered. Basically when a customer switches the payment method the order summary (that includes tax and shipping) does not change. Because the extra charge that comes with the corresponding payment method is charged from the merchant's deposit after the payment is done. So even on trunk there is no refresh or re-rendering happens on payment method change (keeping the tax and sh

[2022-10-11 09:31] paulostp commented on #4789
Have another report here: 5614794-zd-woothemes

Brand-new WooCommerce Payments account. The merchant initially enabled "Issue an authorization on checkout, and capture later" due to a misunderstanding. Then, in an attempt to fix their mistake, they updated all orders from their opening day to "Processing" hoping it would take care of the "capture later" part. We then advised them to manually captu

[2022-10-11 11:32] deepakpathania commented on #4771
This happens in case an old `_charge_id` gets associated with an order and the subsequent webhook doesn't update it because of an existing one.
We added overriding of meta keys by the latest webhook in #4854 and thus in the above scenario, the subsequent successful charge would get successfully linked to the order, as a result of which refund would work. It should be released as a part of `4.9.0`

[2022-10-11 11:32] #4771 closed, assigned to deepakpathania

[2022-10-11 12:55] jessepearson commented on #361
I don't have an exact date or PR for when test mode was added, but it exists in the current version, so I am closing this issue.

[2022-10-11 12:55] #361 closed

[2022-10-11 13:42] kalessil commented on #4789
@dpaun1985, how much effort would it be to implement option 1 (`hide the charge order option and make sure that the order will not be charged`).

Option 2 is risky - we don't know how many 3rd party extensions might be affected if we proceed with the first PR you have created.

[2022-10-11 13:45] dpaun1985 commented on #4789
I don't expect to be more than 1-2 days .

[2022-10-11 13:48] kalessil commented on #4789
Sounds good. Go ahead!

Additionally:
- I remove the critical priority - the bug is misleading, but not critical IMO
- I'd say this is auth&capture related, so it worth pulling into reviews folks from the corresponding project

[2022-10-11 14:41] bborman22 commented on #4906
The merge went suspiciously well...though I did see @mdmoore merged develop in just a couple weeks ago.

I just pulled down the latest `develop` and `poc/upe-instances-multiplied` branch and just like in the steps above merged develop in. I spot checked several commits from `develop` were present as well as the latest `poc/upe-instances-multiplied` commits and everything was accounted for locally.

[2022-10-11 14:53] mdmoore commented on #4906
I think most of the conflicts were handled in [this commit](https://github.com/Automattic/woocommerce-payments/pull/3968/commits/ef1de66551e148921939b5aba0352ba7cf142459) yesterday.

[2022-10-11 14:57] FangedParakeet commented on #4906
Yep, I was looking into this last night, forgot to make a new branch for the merge resolutions, and accidentally pushed straight up to the feature branch. Then realising what I'd done, I shut my laptop, and found a nice quiet corner to stand in and shout at myself for some time. 🤦

But I think it went mostly without a hitch and I did run through a few checkouts with different PMs without encounter

[2022-10-11 17:14] bborman22 commented on #4906
I'll mark this as closed then for now as it all seems to be working well and most of the heavy lifting was already done!

[2022-10-11 17:14] #4906 closed, assigned to bborman22

[2022-10-11 19:56] elizaan36 commented on #4666
hey @frosso @bborman22  👋

Yes, this would be ideal. For example, if the merchant added Afterpay and PayPal as APMs they could show up in the list with the associated icon. I don't consider it a blocker for the project but I think it would look funny if some payment methods have icons and others don't.

<img width="607" alt="image" src="https://user-images.githubusercontent.com/5121465/195186042-8

[2022-10-11 21:01] harriswong commented on #4722
LGTM thanks for checking! :shipit:

[2022-10-12 09:56] RadoslavGeorgiev commented on #632
Took a look at the issue, and I understand it now. What we need to do is listen for Jetpack hooks (the right one can be explored while working on the issue), and just clear the cached account data, forcing a re-fetch and potentially a prompt to connect a new account.

[2022-10-12 10:03] RadoslavGeorgiev commented on #4679
@aheckler I see there has been activity in the ticket. Is this on your radar?

[2022-10-12 12:12] #4855 closed, assigned to Mayisha

[2022-10-12 12:50] aheckler commented on #4679
@RadoslavGeorgiev Looks like Stripe is still working on it per their latest reply:

[2022-10-12 13:18] #4827 closed, assigned to oaratovskyi

[2022-10-12 13:24] bborman22 commented on #4666
@elizaan36 Thanks for that confirmation! I was able to get the following working on my PR #4860 with some screenshots if you wanted to take a look. That was with the Storefront theme and I'd say the only major difference is the icons are all right aligned. This was just using the built in WooCommerce payment method icon and so any theme should be compatible as there isn't anything custom going on.

[2022-10-12 15:07] #4766 closed, assigned to elazzabi

[2022-10-12 16:13] csmcneill opened #4920 "Allow WCPay Merchants to Add an Authorized User to Their WCPay Account"
### Description
A WCPay merchant may have a team member or another party that manages their payments. Currently, only the email address associated with the Stripe Express account _or_ the WPCOM account associated with the WCPay account is eligible to receive support, even though Stripe Express accounts [support multiple users](https://support.stripe.com/express/questions/does-stripe-express-suppor

[2022-10-12 17:00] thelogicwizards commented on #4508
[5623931-zen](https://woothemes.zendesk.com/agent/tickets/5623931)

[2022-10-13 06:14] #4834 closed, assigned to ismaeldcom

[2022-10-13 07:42] RadoslavGeorgiev commented on #4920
This issue needs design and discussion, which is happening in paJDYF-63p-p2. It is not ready for work yet, so I'm moving it to the Product Review pipeline of the WCPay backlog.

[2022-10-13 13:40] allie500 commented on #4772
[Fingerprint Solutions Research document in Google Drive](https://docs.google.com/document/d/1o6KL0lvgx7Ue8IdhwN0_4gtt2wH1d9Qt5Y0ZaaueM7I/edit?usp=sharing)

Currently we are looking into leveraging the existing Sift integration.

[2022-10-13 14:32] elizaan36 commented on #4666
Nice @bborman22 ! Right aligned is even better, I was under the impression we had to keep the icon to the right of the payment method.

[2022-10-13 14:39] dpaun1985 opened #4926 "Error when placing orders from blocks checkout page"
### Describe the bug

When fraud protection is enabled, the token is not sent from blocks checkout page.
### To Reproduce

1. Install and activate blocks plugin
2. Enable fraud protection for the merchant
3. Try to place an order from blocks checkout page

### Actual behavior

The order will fail with message: "We're not able to process this payment. Please refresh the page and try again."
### Scr

[2022-10-13 14:57] bborman22 commented on #4666
Great! The PR was merged into the multiple UPE branch for now, so will be getting rolled out with that feature when the time comes. I'll close this issue for now since that change has been merged into a larger move.

[2022-10-13 14:57] #4666 closed, assigned to bborman22

[2022-10-13 15:53] dwainm commented on #353
@eduardoumpierre I'm moving this into the next sprint. To be tackled after CTP3.

[2022-10-14 07:14] jbordonado commented on #4816
- Created a new page on wcpay P2: https://wcpay.wordpress.com/dev-resources/wcpay-as-a-managed-plugin/
- Added a part about Atomic on the release train doc, under "Week 3 > on Wednesday", with a link to the new page for more details
- Asked @csmcneill whether we should write about it in our internal docs (wooniversity?), especially for HEs

[2022-10-14 08:24] kalessil commented on #495
Blocking the issue until we clarify with Brady what the locked form should look like.

[2022-10-14 08:30] kalessil commented on #4511
Adding the issue to Pulsars backlog so we could re-iterate the implementation here.

[2022-10-14 08:57] joashrajin commented on #4846
+1 at 5624404-zd-woothemes

[2022-10-14 10:30] dpaun1985 commented on #4674
based on pdjVC1-19d-p2#comment-1674 we can close this issue

[2022-10-14 10:30] #4674 closed, assigned to dpaun1985

[2022-10-14 10:43] #4849 closed, assigned to dmallory42

[2022-10-14 12:47] #4703 closed, assigned to dpaun1985

[2022-10-14 13:50] #4816 closed, assigned to jbordonado

[2022-10-14 14:03] bradyv commented on #495
@kalessil I agree with David's comment above - hide the buttons if we're looking at the form after evidence has been submitted, and show the file names if they exist. Let me know if you'd like me to put together a mockup of what that would look like.

[2022-10-15 20:21] tijosh commented on #4679
Stripe's update:

[2022-10-16 09:20] solstudioim commented on #4847
Same one: 5615379-zd-woothemes

[2022-10-17 04:31] nagpai commented on #495
@bradyv - Thanks for your reply! What about helper text like the one below?

![image](https://user-images.githubusercontent.com/4162931/196088362-b0afcf12-1840-41c1-b11e-a6a610d3dedd.png)

Does it make sense to retain them in the submitted (read only ) form, as a reminder, or is it better to keep it clean and remove them ( since the merchant has already taken the cues and submitted the form)?

 Th

[2022-10-17 09:06] denho opened #4931 "Not possible to refund won disputed order (one-off case)"
### Describe the bug

A customer opened a dispute for an order. Looking at order notes, it seems like the dispute was first lost, but next day the status changed and it became won. Here are the order notes which show this transition:
<img src="https://user-images.githubusercontent.com/2803994/196135350-d53e62ae-4af4-4e7d-9fd9-9b290e2a90b5.png" width="300">

After the dispute had been won, the fund

[2022-10-17 10:46] RadoslavGeorgiev commented on #4931
I've asked Stripe p1666003536849509-slack-C9976E5MJ to check if this is a bug, or something typical. The issue appears to have been initially lost, only to get another webhook that it was won the next day, without providing any new evidence or something like that.

[2022-10-17 11:04] mgascam opened #4933 "[Authorizations] Drop auth & capture project feature flags."
### Description

Remove the `displayAuthorizations` feature flag that is preventing to display the 'Uncaptured' tab under the Transactions page.

### Acceptance criteria

* 'Uncaptured' tab is displayed for merchants under the Transactions page

### Designs

### Testing instructions

TBD

### Dev notes

Remove `displayAuthorizations`  feature flag in` client/transactions/uncaptured/index.tsx`

###

[2022-10-17 11:51] kalessil commented on #495
@bradyv, thanks for following up! Super, we'd love to have a mockup.

[2022-10-17 16:30] bradyv commented on #495
@nagpai I was just having a semi-related conversation about the amount of text on the page being overwhelming, and I'm not sure that the merchant _needs_ the helper text in this context, so hiding that after the form is submitted seems fine to me.

I noticed that @rogermattic was tagged on the PR so if there's any disagreements on her end we can work through a different solution.

[2022-10-17 16:52] csmcneill commented on #3998
5590770-zen
5590770-zen
1420581-hc

[2022-10-17 18:57] a-danae commented on #4635
Same symptom, different scenario:

- Enable [Conditional Shipping and Payments](https://woocommerce.com/products/conditional-shipping-and-payments/)
- Restrict WooCommerce Payments when Cart items count is < 2
- Add a product to the cart and proceed to checkout
- You'll see this error in the console

This might be solved in the same PR that addresses the case from this issue or might require a sep

[2022-10-17 22:35] a-danae opened #4934 "WooPay OTP modal and redirection don't work on the block checkout"
### Describe the bug
The OTP modal and redirection don't work on the block checkout.

### To Reproduce

1. Activate [WooCommerce Blocks](https://wordpress.org/plugins/woo-gutenberg-products-block/)
2. Create a new page containing the WooCommerce checkout block
3. Make sure WooPay is enabled
4. Add a product to your cart
5. Go to the page with the WC checkout block
6. Open the browser console. Noti

[2022-10-18 07:52] kalessil opened #4936 "In-Person Payments: when generating receipt and fetching logo fails, still generate the receipt"
In the context of https://github.com/Automattic/woocommerce-payments-server/pull/2346, we ran into some extra limitations related to the migration path, as a fetching logo in between migration steps can cause broken receipts generation.

An alternative approach would be to use a fallback logo or skip the logo at all, writing an error log and preventing crashes when generating receipts.

[2022-10-18 08:29] kalessil commented on #495
@bradyv: I pinged Magda before clarifying who'll be supporting Pulsar. Sorry for the confusion.

IIUC:
- we can skip help text
- we do hide the buttons
- we keep all remaining controls read only

Can you confirm, please?

[2022-10-18 10:00] jessy-p commented on #3998
To be observed after https://github.com/Automattic/woocommerce-payments/pull/4854 (4.9.0)

[2022-10-18 11:31] jimjasson opened #4938 "Ensure that WooCommerce Payments converts prices after all plugins have filtered them"
### Description

Recently, we received a report for Product Bundles about a compatibility issue with the WooCommerce Payments multi-currency feature.

WooCommerce Payments filters product/variation prices with priority `50`: https://github.com/Automattic/woocommerce-payments/blob/develop/includes/multi-currency/FrontendPrices.php#L44-L55, which is quite early given that WooCommerce Payments is exp

[2022-10-18 15:54] opr commented on #4861
I left a comment on https://github.com/woocommerce/woocommerce-blocks/issues/7349 where I explain why I think this is a WooCommerce Payments issue. I'll post it here for easy access.

----

I investigated this today and I don't believe this is a WooCommerce Blocks issue. In https://github.com/Automattic/woocommerce-payments/blob/develop/includes/class-wc-payments-blocks-payment-method.php#L38-L69

[2022-10-18 18:30] allie500 opened #4942 "Update Docker image to `wordpress:php7.4`"
Currently the WCPay client local development environment in Docker runs on [the `wordpress:php7.3` image](https://github.com/Automattic/woocommerce-payments/blob/develop/docker/wordpress_xdebug/Dockerfile#L1).

PHP 7.3 is past its end of life. We should update the Dockerfile to use the `wordpress:php7.4` image.  [PHP 7.4 will reach the end of security support on November 28, 2022](https://www.php.

[2022-10-19 10:17] ismaeldcom opened #4945 "Bad currency switcher block style"
### Describe the bug
Just noticed that the currency switcher block has render issues while seeing it on **WP Admin → Appearance**. Looks like after WC 6.6.0 `.wp-core-ui select` overrides the old style and cause that issue. It seems to be introduced in https://github.com/woocommerce/woocommerce/pull/32729

It's a WP Admin only thing, not happening on the store. But we should be careful with the fi

[2022-10-19 10:43] kaushikasomaiya commented on #4847
5642371-zen, shared workaround.

[2022-10-19 11:44] rossviviano commented on #4846
Another at 5630970-zen

[2022-10-19 12:05] #4684 closed, assigned to jbordonado

[2022-10-19 12:08] jbordonado opened #4946 "Replace deprecated set-output command in code freeze workflow"
### Description
We should no longer use `set-output` in GitHub Actions because it is deprecated: https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/
Workflows using the command will start to fail from June 1st, 2023.

We need to update 2 instances of this command in the `release-code-freeze.yml` workflow: [here](https://github.com/Automattic/wooc

[2022-10-19 17:45] bradyv commented on #495
@kalessil I'm not sure what you mean by "skip" the help text, but regardless I think showing or hiding the helper text is fine. I lean towards hiding just because it's not relevant and it cleans the page up.

Otherwise, yes that's correct!

[2022-10-19 21:14] nicdwilson commented on #4847
5643953-zen

![E4djxq.png](https://user-images.githubusercontent.com/3624025/196802235-88057ce1-25fe-4f68-831b-0c8f032dce23.png)

[2022-10-19 23:44] haszari commented on #3193
Switched to high priority as this has been reported as a significant pain point/gap by merchants, and work is underway to improve it.

[2022-10-20 10:12] RadoslavGeorgiev opened #4950 "WCPay Platform: Create an API namespace"
### Description

Create a new `WCPay\API` namespace, containing a static class for utility methods (`is_in_test_mode`, `is_in_dev_mode`, etc.) for access from consumers. Add setters for those methods instead of hooks, which modify them, in order to decrease the amount of calls to the same hook.

Over time this namespace should evolve to contain everything, needed by consumers, which on the other h

[2022-10-20 10:19] RadoslavGeorgiev opened #4951 "WCPay Platform: Meta Data"
### Description

Prevent accessing meta data directly: paJDYF-50y-p2#woopay-meta-data.

Within this issue the focus is on `_intent_id`and `_payment_method_id`.

### Acceptance criteria

1. There is a new `Order` helper in the `WCPay\Core` namespace.
2. The helper has methods to access and change an order's intent and payment method IDs.
3. The gateway class's `attach_intent_info_to_order` function

[2022-10-20 10:30] RadoslavGeorgiev opened #4953 "WCPay Platform: Use services"
### Description

At one point all services, which are used by consumers, should live in or be accessible through the `WCPay\Core` namespace. For this issue, we should focus on `WC_Payments_Customer_Service`, which is the only used service at the moment.

💡 We cannot guarantee backwards compatibility this way. Instead we should include shortcuts to those services and/or specific methods within the

[2022-10-20 10:36] #4844 closed, assigned to mordeth

[2022-10-20 10:40] RadoslavGeorgiev opened #4954 "WCPay Platform: API request classes"
### Description

Create a `WCPay\API\Request` class, which exposes the right hooks at the right time. An example would be to allow the addition of extra data, while preventing extensions with tampering with the rest of the request.

Currently consumers alter the arguments for API requests in various places. While extracting their code elsewhere, we’d need to allow them to still alter the necessary

[2022-10-20 10:43] RadoslavGeorgiev opened #4955 "WCPay Platform: Payment Method Fields API"
### Description

Add a method, which would let consumers (ex. WooPay) enqueue the necessary scripts/configuration for displaying payment fields (paJDYF-50y-p2).

If we compile a separate JS file, which only handles those fields and setup intents, this could make the solution more lightweight, and also enqueue the scripts automatically, serving as an All-in-One API for payment fields.

### Acceptan

[2022-10-20 12:10] kaushikasomaiya commented on #4847
5645691-zen

[2022-10-20 16:20] csmcneill opened #4964 "Multi-currency is incompatible with manually created orders"
### Describe the bug
If an order is manually created via **WooCommerce > Orders > Add Order**, a customer can only pay for the purchase in the store's default currency.

Even if the currency can be selected via the breadcrumb drop-down, a customer can still only pay via the store's default currency.

### To Reproduce

1. Enable multi-currency.
2. Add the currency switcher via **WooCommerce > Setti

[2022-10-21 00:04] senff opened #4966 "Feature Request: Add balance history page"
### Description
It might be helpful to have some sort of simple account history page within the **Payments** settings that includes the _balance_ at any given point in time, much like a bank statement.

A rough concept would be something like this:

[code]

Etc.

[2022-10-21 09:19] jbordonado commented on #4817
Version 4.9.0 was deployed to WP.org on Thursday around 1600UTC, and the Atomic team deployed that same version around 2100UTC: see p1666300463881809-slack-C7YPW6K40.

It went well, and I didn't notice any new errors after checking the logs.

[2022-10-21 09:19] #4817 closed, assigned to jbordonado

[2022-10-21 12:27] anu-rock opened #4968 "[Deposits UI] Instant deposit UI is broken when balance is negative (deposit should not be available?)"
### Describe the bug

When a merchant's account has a negative available balance, clicking the "Instance deposit" button may show a confirmation dialog with figures that are not consistent with ones for "Pending balance" and "Next deposit" on the Overview and Deposits pages.

Also, it should not be possible to process an instant deposit in case of a negative balance. But that happened in 5632282-z

[2022-10-21 12:27] anu-rock commented on #3302
5632282-zd-woothemes

[2022-10-21 13:18] jbordonado commented on #4807
I'm closing this epic as the associated project thread was shipped today: https://wcpay.wordpress.com/2022/09/28/project-thread-wcpay-as-a-managed-plugin/#comment-14757

[2022-10-21 13:18] #4807 closed, assigned to jbordonado

[2022-10-21 13:45] daquinons opened #4980 "Informational KYC banner and modal need basic tracking"
### Description

paJDYF-5SZ-p2#comment-14763

[2022-10-21 13:54] jessepearson commented on #2793
Renovatebot has been suspended (see p3btAN-1Ks-p2 ) with no date to enable it again, closing this due to it's not being kept up to date.

[2022-10-21 13:54] #2793 closed

[2022-10-24 08:09] #3517 closed

[2022-10-24 08:52] #4843 closed, assigned to dpaun1985

[2022-10-24 09:09] #4821 closed, assigned to dpaun1985

[2022-10-24 10:11] jbordonado commented on #4685
For phase 1, we will just create a new command in woorelease and execute it locally: https://github.com/woocommerce/woorelease-extensions/pull/8

In the future, hopefully, we can set it up in a GitHub workflow. Here is a branch that attempts this: https://github.com/Automattic/woocommerce-payments/tree/dev/poc-woorelease-in-gh-actions

It currently doesn't work because we need permission to execut

[2022-10-24 10:31] jbordonado commented on #4797
I got confused and created a few days later a more detailed issue for the same topic in #4824
Closing this one

[2022-10-24 10:31] #4797 closed, assigned to nobody

[2022-10-24 10:33] jbordonado commented on #4825
The release doc was updated last week with the new procedure to create test packages each Monday, after [[Release automation] Package creation](https://github.com/automattic/woocommerce-payments/issues/4684) was closed.

[2022-10-24 13:22] a-danae opened #4985 "WooPay OTP modal and redirection taking place in WP admin customize page"
### Describe the bug
The platform checkout OTP modal shows up on the WP admin customize page. Also, the WooPay redirection takes place if you're already authenticated.

### To Reproduce

1. Log in with your admin user on the merchant store
2. Make sure the email address you use for checking out with your admin user is registered in WooPay, and that WooPay is enabled in the store
3. Add a product t

[2022-10-24 16:54] pierorocca commented on #4985
Thanks Danae!

[2022-10-24 17:10] pierorocca commented on #4985
@ralucaStan curious to know if this may occur with checkout blocks customization and WooPay.

[2022-10-24 18:55] frosso commented on #2739
FYIs, this approach has already been implemented in WC Stripe - I think it could be ported here: https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1721

[2022-10-25 07:43] RadoslavGeorgiev commented on #4966
Hey @senff,

thank you for the idea, but the way it is right now, this issue will probably not get much attention on GitHub. Would you mind P2-in this, so it could get wider discussion? Issues here need to either be fully defined (including design) and ready to implement, or at the worst they should require minor design input. With this being a whole separate page, it will not appear on anyone's r

[2022-10-25 10:03] jessepearson commented on #2621
@RadoslavGeorgiev Can you add a reason why this was reopened? Are the assets being enqueued in places/times they should not be?

[2022-10-25 10:05] RadoslavGeorgiev commented on #2621
I was triaging issues in the WCPay backlog, and I have no idea how I reopened this one. Hopefully it's an isolated mistake. Closing again...

[2022-10-25 10:05] #2621 closed

[2022-10-25 19:20] rafaelzaleski commented on #4858
Also reported on 5655361-zd-woothemes (p1666705102019619-slack-C7U3Y3VMY).

[2022-10-25 22:32] NathalyaVides commented on #3969
Reported here 5658637-zen

[2022-10-26 04:14] aprea opened #4990 "Outdated version in `package-lock.json`"
### Describe the bug
There is a mismatch between the package version listed in `package.json` (`4.9.0`) and `package-lock.json` (`4.8.1`).

As a result, when I run `npm install` the version in `package-lock.json` is automatically updated to `4.9.0`.

**Note:** This issue is present on both `develop` and `trunk`.

### To Reproduce

1. Open `package.json`, and observe the version number is `4.9.0`.

[2022-10-26 09:00] #4685 closed, assigned to jbordonado

[2022-10-26 13:46] ralucaStan commented on #4985
I couldn't replicate the bug on my testing site on the classic checkout. And it does not happen on the page with the Checkout Block.

[2022-10-26 18:13] jessy-p commented on #2814
Interactions added in https://github.com/Automattic/woocommerce-payments/pull/4987, which are not covered in the Figma design:

- Merchant clicks on "Refund", a spinner is displayed on the modal until the ajax call returns.
- If the refund is successful, the page is refreshed. (Same as woocommerce core, when Refund button on Edit Order screen is used)
- If there is an error while attempting the re

[2022-10-26 22:57] darcie commented on #2730
5661964-zen

[2022-10-27 00:54] #4990 closed, assigned to nobody

[2022-10-27 06:06] #495 closed

[2022-10-27 06:09] nagpai commented on #495
My first JS related PR merged! 🎉
https://github.com/Automattic/woocommerce-payments/pull/4840

Thanks everyone!

@bradyv  - Thanks for your guidance. I have implemented the changes based on your guidance. I have hidden the upload buttons, and helper texts for forms that are submitted and read-only.

[2022-10-27 11:28] RadoslavGeorgiev commented on #4946
@jbordonado is there a reason not to do this now? Could we add it to the release automation epic?

[2022-10-27 11:53] RadoslavGeorgiev commented on #4362
Closing this issue, because the point was to notify authors about failing E2E tests in `develop`, but now E2E tests are working for PRs again.

[2022-10-27 11:53] #4362 closed

[2022-10-27 12:00] jbordonado commented on #4946
The reason was that I didn't find the right syntax for setting output the new way in a GitHub action within a PHP context while I was creating the code freeze workflow. I didn't want to waste more time on that and decided to merge as it is.

I'll try to squeeze it while working on the remaining items of phase 1 👍

[2022-10-27 14:04] mgascam opened #5002 "[Authorizations] Improve message shown to merchants when there is an error capturing authorizations"
Endpoint errors:

[code]

I think as a customer I would love to see `You can not capture this payment as it is partially/fully refunded` instead of `There has been an error capturing the payment. Please try again later.`.

_Originally posted by @elazzabi in https://github.com/Automattic/woocommerce-payments/pull/4961#discussion_r1006628495_

[2022-10-27 14:51] jbordonado commented on #4946
Can be closed once #5003 is merged, as I found a way to write to `$GITHUB_OUTPUT` (and `$GITHUB_STEP_SUMMARY` by the way) variable exposed by GitHub Actions from within a PHP script.

It's a file, so we just needed to append the content to it using `file_put_contents`

[2022-10-27 19:52] allie500 commented on #4772
Further investigation revealed that the Sift device fingerprinting API was not being made available to new customers by Sift. We have started looking into using Fingerprint JS. See the [Fingerprint JS Discovery](https://docs.google.com/document/d/1o6KL0lvgx7Ue8IdhwN0_4gtt2wH1d9Qt5Y0ZaaueM7I/edit#heading=h.4rr6vmuyucoa) section of the Google doc.

[2022-10-27 22:23] maxlaf opened #5007 "Feature Request: Add setting to change payment gateway title"
### Description

Currently, when UPE is enabled and 2 or more payment methods are activated in WooCommerce Payments, the title at checkout changes from "Credit card / debit card" to "Popular Payment Methods". This was a feature added in #2530

However, some merchants have expressed their dissatisfaction with the wording of "Popular Payment Methods". This can be changed with a plugin like Loco Tran

[2022-10-28 08:48] jbordonado opened #5010 "E2E enhancements"
### Problem

Flaky E2E tests are slowing down dev teams and interrupt dev process in case of false alerts.

### Objective

Introduce shortcuts and mocks to improve velocity and stability of E2E tests.
[code]

[2022-10-28 09:15] ismaeldcom commented on #4964
I think this is a feature and not a bug 🤔 With our current Multi-currency implementation we don't allow orders to switch currencies. So we should choose between allowing it, adding a currency selector on manual order creation, or any other solution.

cc @Automattic/sigma

[2022-10-28 10:33] jessepearson commented on #4964
Ismael is correct, this is intentional. The currency and the exchange rate are set in the order meta at the time the order is created, and that becomes the currency for the order from that point forward. If the merchant needs to create an order for a customer in a different currency, they would need to place the order through the front end of the site.

There are a couple different ways to do this

[2022-10-28 10:33] #4964 closed, assigned to nobody

[2022-10-28 15:09] maxlaf commented on #5007
For more context, using Loco Translate with WCPay requires some additional steps. Creating a new translation in the "Custom" location won't display any changes that are made in that translation. A second translation in the "System" location (left unchanged) also has to be created. From [Loco's troubleshooting guide](https://localise.biz/wordpress/plugin/faqs/custom-folder#jit) it appears that WCPa

[2022-10-28 17:19] zoemyers commented on #3969
Discovered this was the problem in 37682003-hc

[2022-10-28 18:02] csmcneill opened #5015 "Display information if WCPay is active alongside another Stripe-powered gateway"
### Description
When WCPay is active alongside another Stripe-powered gateway, including but not limited to [Stripe](https://woocommerce.com/products/stripe/?aff=10486&cid=1131038), it can cause some issues ([relevant doc](https://woocommerce.com/document/can-i-use-woocommerce-payments-and-the-stripe-plugin-at-the-same-time/)), but it can also lead to general confusion for merchants, especially wh

[2022-10-30 02:28] EjayhanFernandes commented on #2814
[5669088-Zen](5669088-zd-woothemes)

[2022-10-30 23:44] aprea opened #5017 "Balance header component UI enhancements"
### Description
We are streamlining and enhancing the balance component header as part of the Manual Deposits project (pdjTHR-1DS-p2).

<img width="680" alt="Frame 2091 (3)" src="https://user-images.githubusercontent.com/1527164/199129212-443e2773-3b47-4778-b4a8-ff53ce5c9d0a.png">

### Acceptance criteria

* When the merchant's deposit schedule is set to "Daily" the balance component header displa

[2022-10-31 11:02] joashrajin opened #5018 "Add way to pass custom field values to Apple/Google Pay create_order data on checkout page"
### Describe the bug

Similar to [this bug](https://github.com/woocommerce/woocommerce-gateway-stripe/issues/2344) which affects the Stripe extension, it would be nice if we could pass the custom field values when using Apple/Google Pay since it often causes errors when checking out.

### To Reproduce

1. Enable Express Checkout
2. Add a Custom Field to your checkout page, using [this method](http

[2022-10-31 13:09] #4938 closed, assigned to jessepearson

[2022-10-31 15:10] dreamtooloud commented on #4846
another report at 5667287-zen

[2022-10-31 15:18] FangedParakeet opened #5019 "New UPE - Deferred payment intent integration"
### Description
Please refer to pc2DNy-2e2-p2 for more details.

Please refer to [this file](https://wootransactp2.files.wordpress.com/2022/10/new-integration-path-for-payment-element.pdf.zip) for the current description of this new payment flow.

If you scroll down to the section titled "Server-side confirmation", you will see that this almost exactly matches our current payment flow for our lega

[2022-10-31 21:13] FangedParakeet opened #5020 "Enhanced UPE - Blocks integration"
### Description

Stripe will soon release a new refactor of their UPE offering new payment integration flows. The most crucial addition is that they will now offer server side payment intent confirmation for the UPE, meaning that the payment intent is no longer required prior to presenting the UI element and the intent can be created and confirmed after collecting the payment information into a pa

[2022-10-31 21:22] FangedParakeet opened #5021 "Enhanced UPE - WCPay Compatibility: Subscriptions"
### Description

This is the continuation on the integration of Stripe's new UPE payment flows. Please see this post (pc2DNy-2e2-p2) for more details. This WCPay compatibility issue is one of many to ensure that existing WCPay functionality is unaffected and remains fully operational after refactoring the UPE to follow the new payment flow.

This issue is to ensure that Subscriptions remain functi

[2022-10-31 21:27] FangedParakeet opened #5022 "Enhanced UPE - WCPay Compatibility: Saved Payment Methods"
### Description

This is the continuation on the integration of Stripe's new UPE payment flows. Please see [this post](pc2DNy-2e2-p2) for more details. This WCPay compatibility issue is one of many to ensure that existing WCPay functionality is unaffected and remains fully operational after refactoring the UPE to follow the new payment flow.

This issue is to ensure that saved payment methods rema

[2022-10-31 21:29] FangedParakeet opened #5023 "Enhance My Account section to render and fully function payment gateways on subpages"
### Description
This issue ensures that payment gateways are being rendered and fully functional in different smaller pages within the _My account_ on the merchant site. Pages to cover:

1. _Orders -> Pay_ (for order)
2. _Subscriptions_ -> _Change payment_
3. _Payment methods_ -> _Add payment method_

For the first two pages, the ultimate goal of this issue is to ensure that users can both add a n

[2022-10-31 21:33] FangedParakeet opened #5024 "Enhanced UPE - WCPay Compatibility: Multi-Currency"
### Description

This is the continuation on the integration of Stripe's new UPE payment flows. Please see [this post](pc2DNy-2e2-p2) for more details. This WCPay compatibility issue is one of many to ensure that existing WCPay functionality is unaffected and remains fully operational after refactoring the UPE to follow the new payment flow.

This issue is to ensure that the multi-currency feature

[2022-10-31 21:37] FangedParakeet opened #5025 "Enhanced UPE - WCPay Compatibility: 3DS Authentication"
### Description
Currently, 3DS authentication works for happy path flows only after https://github.com/Automattic/woocommerce-payments/pull/5869. This issue's ultimate goal is to ensure that all the edge cases are also covered and fully support the 3DS authentication.

### Acceptance criteria
* 3DS cards saving for the physical products (by clicking the save checkbox) works as expected
* 3DS cards

[2022-10-31 21:40] FangedParakeet opened #5026 "Enhanced UPE - WCPay Compatibility: Payment Request Buttons"
### Description

This is the continuation on the integration of Stripe's new UPE payment flows. Please see [this post](pc2DNy-2e2-p2) for more details. This WCPay compatibility issue is one of many to ensure that existing WCPay functionality is unaffected and remains fully operational after refactoring the UPE to follow the new payment flow.

This issue is to ensure that existing Payment Request b

[2022-10-31 23:58] FangedParakeet opened #5027 "Enhanced UPE - Payment gateway compatibility"
### Description

This is the continuation on the integration of Stripe's new UPE payment flows. Please see [this post](pc2DNy-2e2-p2) for more details. This WCPay compatibility issue is one of many to ensure that existing WCPay functionality is unaffected and remains fully operational after refactoring the UPE to follow the new payment flow.

This issue is to ensure that there is no incompatibilit

[2022-11-01 00:14] FangedParakeet opened #5028 "Streamline UPE/non-UPE code branching and eliminate UPE feature flag checks"
### Description
This issue is to be tackled post `6.7.0` release, once all the merchants are migrated to the split UPE with deferred intent creation. The further description is based on this assumption.

We have four different gateway approaches in the plugin:
* legacy card
* legacy UPE
* split UPE
* deferred intent creation UPE

The first three are not used anymore. At the same time, there are a

[2022-11-01 00:17] maxlaf commented on #4847
5673133-zen

[2022-11-01 03:02] #5017 closed, assigned to aprea

[2022-11-01 04:48] nagpai commented on #545
Stepping back from this issue, for now, since I need to gain more context and skill around data stores and react :).

[2022-11-01 09:01] jacoswan opened #5031 "Pay for Order page: currency switching doesn't work"
## Describe the bug

Currency switching doesn't work on the Pay for Order page and displays store base currency regardless.

Doesn't matter what the base currency is and whether or not the _New Payment Exprience_ is enabled.

## To Reproduce

1. Create an order for a customer
2. Visit the Customer Payment Page
3. The store's base currency is displayed.
4. Attempts to change it fail

## Actual beha

[2022-11-01 11:31] EjayhanFernandes commented on #2814
5672889-zd-woothemes

[2022-11-01 14:46] gglobalstep opened #5032 "[GlobalStep] "PHP Deprecated" error displayed after installing and activating WCPay Dev plugin."
### Bug Description:
"PHP Deprecated" error displayed after installing and activating WCPay Dev plugin.

### Environment:
Woocommerce Version: WooCommerce 7.0.0
WooCommerce  WooCommerce Payments - 5.0.0 test-2
WordPress version: v6.0.3

PC:
Windows 10
Chrome(Version 107.0.5304.88)
Firefox(Version 106.0.3)

### Steps To Reproduce:
1. Create any test site using the JN site.
1. Install and activate a

[2022-11-01 14:55] gglobalstep opened #5033 "[GlobalStep] "Error processing checkout. Please try again." notice displayed after checking out with Simple subscription product on "Checkout" page."
### Bug Description:
"Error processing checkout. Please try again." notice displayed after checking out with Simple subscription product on "Checkout" page.

### Environment:
Woocommerce Version: WooCommerce 7.0.0
WooCommerce  WooCommerce Payments - 5.0.0 test-2
WordPress version: v6.0.3

PC:
Windows 10
Chrome(Version 107.0.5304.88)
Firefox(Version 106.0.3)

### Steps To Reproduce:
1. Create any t

[2022-11-01 17:12] #677 closed

[2022-11-01 19:45] FangedParakeet commented on #4721
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Heisenberg-63586f2ec60359001310fa6a/issues/Automattic/woocommerce-payments/4721?planning-poker) with Zenhub @mdmoore @timur27

[2022-11-01 19:46] FangedParakeet commented on #4723
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Heisenberg-63586f2ec60359001310fa6a/issues/Automattic/woocommerce-payments/4723?planning-poker) with Zenhub @mdmoore @timur27

[2022-11-01 19:56] gpressutto5 commented on #4724
@elizaan36 Mayisha noticed this:

It means both existing users and new installations will have new payment methods available for them, but they won't know until they access the Payments settings page. I thought about adding an Onboarding Task that would lead them to the wizard we mentioned above. It would look like this:

![image](https://user-images.githubusercontent.com/12385501/199323359-864343

[2022-11-01 20:23] FangedParakeet commented on #4907
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Heisenberg-63586f2ec60359001310fa6a/issues/Automattic/woocommerce-payments/4907?planning-poker) with Zenhub @mdmoore @timur27

[2022-11-01 20:23] FangedParakeet commented on #4720
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Heisenberg-63586f2ec60359001310fa6a/issues/Automattic/woocommerce-payments/4720?planning-poker) with Zenhub @mdmoore @timur27

[2022-11-01 22:46] #4985 closed, assigned to a-danae

[2022-11-02 08:21] #4945 closed, assigned to ismaeldcom

[2022-11-02 20:49] nicdwilson commented on #4847
5675573-zen, disabling UPE and re-enabling worked

[2022-11-02 23:06] csmcneill commented on #4858
Is this a duplicate of #3998 or do we need two separate issues?

If we need two separate issues, it may be best for us to differentiate between them with specific ways to identify whether an affected merchant interaction should be added here or on #3998.

[2022-11-03 00:10] brucealdridge opened #5040 "E2E Tests not running WCPay version of subscriptions-core"
### Describe the bug

WooCommerce Subscriptions is installed as part of the E2E test suite. Because WC Subscriptions also includes a version of [subscriptions-core](https://github.com/Automattic/woocommerce-subscriptions-core) this is the one that is used rather than the version specified by `composer.json`.

Currently, WCPay requires subs-core version `2.4.0` however the current version of WC Sub

[2022-11-03 00:13] brucealdridge opened #5041 "E2E Not testing stripe subscription billing"
### Describe the bug

WooCommerce Subscriptions is installed as part of the E2E test suite. Because WC Subscriptions is always running and active for all E2E tests, the flows are all tested using tokenised subscriptions.

We should also be testing stripe billing subscriptions which are used when WC Subscriptions is not installed or activated.

[2022-11-03 01:53] Jinksi commented on #5041
Currently, we have a single [`subscriptions` e2e test group](https://github.com/Automattic/woocommerce-payments/blob/eb7118da4735624e21a3f6918258a36663d38269/tests/e2e/specs/subscriptions) with `merchant` and `shopper` branches.

We could have 2 subscription e2e test groups, something like:
[code]

~I'm assuming that~ Most (12/15) of the test flows are shared across tokenised/stripe-billing, in wh

[2022-11-03 02:15] Jinksi commented on #5041
We could activate/deactivate WC Subscriptions before/after tests, in a similar way to the [`activateWooPay()`](https://github.com/Automattic/woocommerce-payments/blob/eb7118da4735624e21a3f6918258a36663d38269/tests/e2e/utils/flows.js#L498)/[`deactivateWooPay()`](https://github.com/Automattic/woocommerce-payments/blob/eb7118da4735624e21a3f6918258a36663d38269/tests/e2e/utils/flows.js#L529) or [`activ

[2022-11-03 04:04] aprea opened #5042 "Pull request checks are failing after release of WordPress 6.1"
### Describe the bug
The following pull request checks started failing shortly after the release of WordPress 6.1.

- [Compatibility - WC, WP and PHP](https://github.com/Automattic/woocommerce-payments/blob/develop/.github/workflows/compatibility.yml)
- [Code coverage](https://github.com/Automattic/woocommerce-payments/blob/develop/.github/workflows/coverage.yml)
- [PHP linting and tests](https://

[2022-11-03 09:46] nagpai commented on #4968
Since the merchant with a negative balance cannot get an instant deposit, will it be simpler to hide the `Instant Deposit` button when the account has a negative balance? Maybe we should weigh in our colleagues from UI ?

The gross mismatch of the balance values is certainly a mystery.